<%- include("../../../parts/poiHead.ejs"); %>

<main>
    <h1>Clothing Stall</h1>

    <a href="./">Back to Market</a>
    <a href="/forest/clearing/wyatts-house">Path to Forest Clearing</a>
</main>

<%- include("../../../parts/footer.ejs"); %>