<%- include("../../../parts/poiHead.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/chat.css">
<link rel="stylesheet" href="/styles/town.css">

<!-- Your HTML Here -->
<main class="town-square">
    <h1>Town Square</h1>

    <h2>Market</h2>

    <a href="square/clothing-stall">Clothing Stall</a>

    <div class="chat-box">
        Name: <%= user.username %>

        <div class="chat-log">
            
        </div>
        <input autocomplete="off" type="text" name="text" class="chat-entry">
        <input type="submit" value="Send" class="chat-send">
    </div>
</main>

<!-- Load Scripts Here -->
<script src="/scripts/chat/app.js"></script>

<%- include("../../../parts/footer.ejs"); %>