<%- include("../../../parts/poiHead.ejs"); %>

<link rel="stylesheet" href="/styles/town.css">

<main class="town-square">
    <h1>Town Square</h1>

    <div class="chat-box">
        Name: <%= user.username %>

        <div class="chat-log">
            
        </div>
        <input autocomplete="off" type="text" name="text" class="chat-entry">
        <input type="submit" value="Send" class="chat-send">
    </div>
    
    <h2>Market</h2>

    <a href="./clothing-stall">Clothing Stall</a>

    <script src="/scripts/chat/app.js"></script>
</main>

<%- include("../../../parts/footer.ejs"); %>