<%- include("../parts/head.ejs"); %>

<main>

    <div class="chat-box">
        Name: <input autocomplete="off" type="text" name="name" class="name-entry" value="NOT">
        <div class="chat-log">
            
        </div>
        <input autocomplete="off" type="text" name="text" class="chat-entry">
        <input type="submit" value="Send" class="chat-send">
    </div>

</main>

<script src="scripts/chat/app.js"></script>

<%- include("../parts/footer.ejs"); %>