<%- include("../parts/head.ejs"); %>

<main>

    <div class="chat-box">
        Name: <%= username %>

        <div class="chat-log">
            
        </div>
        <input autocomplete="off" type="text" name="text" class="chat-entry">
        <input type="submit" value="Send" class="chat-send">
    </div>

    <script src="scripts/chat/app.js"></script>
</main>


<%- include("../parts/footer.ejs"); %>