<style>
    <%- include("./inside.css"); %>
</style>

<p>
    Finally, a chance to rest.
</p>

<hr>

<div class="fireplace">
    <div class="fire"></div>
</div>

<div class="couch">
    <div class="couch-part back-rest" id="1"></div>
    <div class="couch-part back-rest" id="2"></div>
    <div class="couch-part base" id="1"></div>
    <div class="couch-part base" id="2"></div>
    <div class="couch-part pillow" id="1"></div>
    <div class="couch-part pillow" id="2"></div>
    <div class="couch-part arm-rest" id="1"></div>
    <div class="couch-part arm-rest" id="2"></div>
</div>

<div class="table conchu">
    <div class="opponent-hand"></div>
    <div class="board"></div>
    <div id="score1"></div>
    <div class="bone-yard"></div>
    <div id="score2"></div>
    <div class="your-hand"></div>
</div>

<button id="play">
    Play Dominoes
</button>

<hr>

<a href="/forest/clearing/tree-house" id="exit">
    Exit the Tree House
</a>

<script>
    <%- include("./dominoes.js"); %> 
</script>