:root {
    --dirtLight: rgb(156, 113, 73);
    --dirt: rgb(109, 74, 41);
    --dirtDark: rgb(77, 52, 29);
    --sky: rgb(175, 175, 238);
    --border: 5px solid var(--dirt);
    --borderThin: 2px solid var(--dirt);
    --borderThinLight: 2px solid var(--dirtLight);
}

.ant-hill-game {
    width: 100%;
    height: 500px;
    border: var(--border);
    border-radius: 3px;
    display: flex;
}

.ant-hill-game .ui {
    width: 30%;
}

.ant-hill-game .ui button:disabled {
    opacity: 50%;
}

.ant-hill-game .ui button:disabled:hover {
    opacity: 50%;
    border: var(--borderThin);
    color: var(--textColor);
    cursor: default;
}

.ant-hill-game .ui h3 {
    width: 100%;
    padding: 15px;
    text-align: center;
    border-bottom: var(--border);
    border-radius: 3px;
    font-size: 25px;
    font-weight: bold;
}

.ant-hill-game .ui ul {
    list-style: none;
    margin: 0;
}

.ant-hill-game .ui li {
    border: var(--borderThin);
    display: flex;
    align-items: center;
}

.ant-hill-game li button {
    width: 50%;
    border: var(--borderThin);
}

.ant-hill-game li button:hover {
    width: 50%;
    border: var(--borderThinLight);
}

.ant-hill-game li p {
    width: 50%;
    text-align: center;
    margin: 0;
}

.ant-hill-game .window {
    width: 70%;
    border: var(--borderThin);
    background-color: var(--sky);
    position: relative;
    overflow: none;
}

.ant-hill-game .window button {
    position: absolute;
    background-color: var(--dirtDark);
    bottom: 50%;
    z-index: 5;
    border: var(--border);
    border-radius: 3px;
}

.ant-hill-game .window #left {
    left: 5px;
}

.ant-hill-game .window #right {
    right: 5px;
}

.ant-hill-game .window .ground {
    width: 101%;
    height: 60%;
    background-color: var(--dirt);
    position: absolute;
    bottom: -1px;
    left: -1px;
}

.ant-hill-game .ground .stem {
    width: 20px;
    height: 75%;
    background-color: var(--dirtDark);
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
}

.ant-hill-game .ground .queen-chamber {
    width: 10%;
    height: 20%;
    background-color: var(--dirtDark);
    position: absolute;
    bottom: 5%;
    left: 45%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}