<p>
    The tower stands before you, door locked.
</p>
<p id="extra"></p>

<hr>

<button id="knock">
    Knock on the Tower's Door
</button>

<% let hasKey = false;

if (inventory) {
    for (let i = 0; i < inventory.items.length; i++) {
        if (inventory.items[i].item.name === "Wizard Tower Key") hasKey = true;
    }
}

if (hasKey) { %>
    <a href="/forest/pond/tower/inside#1">
        Enter the Tower
    </a>
<% } %>

<a href="/forest/road/side">
    Return to the Road
</a>
