<!-- Includes the head html for all pois -->
<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        The tower stands before you, door locked.
    </p>
    <p id="extra"></p>
    <hr>
    <button id="knock">
        Knock on the Tower's Door
    </button>
    <% if (hasKey) { %>
        <a href="/forest/pond/tower/inside#1">
            Enter the Tower
        </a>
    <% } %>
    <a href="/forest/road/side">
        Return to the Road
    </a>

    <%- include("../../../../../../global/parts/inventory.ejs"); %>
</main>

<script>
    $("#knock").on("click", function knock() {
        $("#extra").text("You knocked on the tower's door. Surely you've been heard.");
        $("#knock").toggleClass("invisible");
    });
</script>

<!-- Includes the foot html for all pages -->
<%- include("../../../../../../global/parts/footer.ejs"); %>