<section class="floor" id="4">
    <h2>Floor 4</h2>
</section>
<section class="floor" id="3">
    <h2>Items</h2>
    <div id="item-editor">

    </div>
</section>
<section class="floor" id="2">
    <h2>Floor 2</h2>
</section>
<section class="floor" id="1">
    <h2>Floor 1</h2>
</section>

<hr>

<a href="/forest/pond/tower">Exit the Tower</a>