<p>
    The plant life here grows without end.
</p>

<hr>

<div class="yard">
    <div class="sky">
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="sun"></div>
    </div>
    <div class="ground">
        <div class="tree">
            <div class="leaves"></div>
            <div class="trunk"></div>
        </div>
        <div class="weed">
            <div class="flower"></div>
            <div class="stem"></div>
        </div>
    </div>
</div>

<hr>

<a href="/forest/clearing/wyatts-house">
    Return to Front Yard
</a>