<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/wyatts-house/wyatts-house.css">
<link rel="stylesheet" href="/styles/wyatts-house/garden.css">

<!-- Your HTML Here -->
<main>
    <section class="sky">
        <a href="/forest/eye-of-the-forest/square">Back to The Eye of the Forest</a>
    </section>

    <section class="ground">
        <div class="tree" id="t0"></div>
        <div class="tree" id="t1"></div>
        <div class="tree" id="t2"></div>
        <div class="tree" id="t3"></div>
        <div class="tree" id="t4"></div>
        <div class="house">
            <a href="/forest/clearing/wyatts-house/livingroom">
                <div class="door">
    
                </div>
            </a>
        </div>
        <div class="trash-can">
            
        </div>
        <%- include("parts/garden.ejs"); %>
    </section>
</main>

<!-- Load Scripts Here -->
<script src="/scripts/timing.js"></script>
<script src="/scripts/wyatts-house/garden.js"></script>

<%- include("../../../../../../global/parts/footer.ejs"); %>