<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">
<!-- <link rel="stylesheet" href="/styles/wyatts-house/wyatts-house.css">
<link rel="stylesheet" href="/styles/wyatts-house/garden.css"> -->

<!-- Your HTML Here -->
<main>
    <p>
        The small forest path brings you to a clearing
        where you are immediately met by a modest cottage.
    </p>

    <p>
        A sign on the mailbox indicates a Sushinsky lives
        here.
    </p>

    <hr>

    <a href="/forest/clearing/wyatts-house/livingroom">
        Enter Wyatt's House
    </a>

    <a href="/forest/eye-of-the-forest/square">
        Back to The Eye of the Forest
    </a>
</main>

<!-- Load Scripts Here -->
<script src="/scripts/timing.js"></script>
<script src="/scripts/wyatts-house/garden.js"></script>

<%- include("../../../../../../global/parts/footer.ejs"); %>