<p>
    The small forest path brings you to a clearing
    where you are immediately met by a modest cottage.
</p>

<p>
    A sign on the mailbox indicates a Sushinsky lives
    here.
</p>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom">
    Enter Wyatt's House
</a>

<a href="/forest/clearing/tree-house">
    Walk up to Tree House
</a>

<a href="/forest/eye-of-the-forest/square">
    Back to The Eye of the Forest
</a>