<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/wyatts-house/livingroom.css">
<link rel="stylesheet" href="/styles/wyatts-house/bookshelf.css">

<!-- Your HTML Here -->
<main>
    <section class="wall">
        <a href="/forest/clearing/wyatts-house/laylas-room">
            <div class="door-to-layla">
    
            </div>
        </a>
        <%- include("./parts/bookshelf.ejs"); %>
    </section>
    <section class="floor">
        <a href="/forest/clearing/wyatts-house">
            <div class="return-door">

            </div>
        </a>
    </section>
</main>

<!-- Load Scripts Here -->

<%- include("../../../../../../global/parts/footer.ejs"); %>