<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/wyatts-house/livingroom.css">
<!-- <link rel="stylesheet" href="/styles/wyatts-house/bookshelf.css"> -->

<!-- Your HTML Here -->
<main>
    <p>
        The livingroom is mostly bare, containing nothing
        more than a dust bookshelf. A pink door leads to
        a room.
    </p>

    <!-- <%- include("./parts/bookshelf.ejs"); %> -->

    <hr>

    <a href="/forest/clearing/wyatts-house/laylas-room" id="layla">
        Enter Layla's Room
    </a>

    <a href="/forest/clearing/wyatts-house">
        Exit Wyatt's House
    </a>
</main>

<!-- Load Scripts Here -->

<%- include("../../../../../../global/parts/footer.ejs"); %>