<p>
    The livingroom is mostly bare, containing nothing
    more than a dusty bookshelf. A pink door leads to
    a room.
</p>

<hr>

<div class="bookshelf">
    <div class="shelf">

    </div>
    <hr>
    <div class="shelf">
        
    </div>
    <hr>
    <div class="shelf">
        
    </div>
</div>

<hr>

<a href="/forest/clearing/wyatts-house/laylas-room" class="door" id="layla">
    Enter Layla's Room
    <div class="knob"></div>
</a>

<a href="/forest/clearing/wyatts-house/upstairs" class="door" id="up">
    Go Upstairs
    <div class="knob"></div>
</a>

<a href="/forest/clearing/wyatts-house" class="door">
    Exit
    <div class="knob"></div>
</a>