<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/wyatts-house/livingroom.css">
<!-- <link rel="stylesheet" href="/styles/wyatts-house/bookshelf.css"> -->

<!-- Your HTML Here -->
<main>
    <p>
        The livingroom is mostly bare, containing nothing
        more than a dusty bookshelf. A pink door leads to
        a room.
    </p>

    <hr>

    <div class="bookshelf">
        <div class="shelf">

        </div>
        <hr>
        <div class="shelf">
            
        </div>
        <hr>
        <div class="shelf">
            
        </div>
    </div>

    <a href="/forest/clearing/wyatts-house/laylas-room" class="door" id="layla">
        Layla's Room
        <div class="knob"></div>
    </a>

    <a href="/forest/clearing/wyatts-house" class="door">
        Exit
        <div class="knob"></div>
    </a>
</main>

<!-- Load Scripts Here -->

<%- include("../../../../../../global/parts/footer.ejs"); %>