<p>
    The tower stands before you, wooden door locked.
</p>
<p>
    "Blessed is the one who reads aloud the words of this prophecy, 
    hears it and takes to heart what is written in it, because the 
    time is near," is inscribed on the marble tablet embedded in 
    the center of the door.
</p>

<p id="extra"></p>

<hr>

<button class="to" id="knock">
    Knock on the Tower's Door
</button>

<% let hasKey = false;

if (inventory) {
    for (let i = 0; i < inventory.items.length; i++) {
        if (inventory.items[i].item.name === "Wizard Tower Key") hasKey = true;
    }
}

if (hasKey) { %>
    <a class="to" href="/forest/pond/tower/inside#1">
        Enter the Tower
    </a>
<% } %>

<a class="to" href="/coast/tall-beach/nono-cove">
    Head to the Coast
</a>

<hr>

<a class="return" href="/forest/road/side">
    Return to the Road
</a>
