<section class="floor" id="4">
    <h2>Frog Game</h2>

    <div class="mafia">
        <div class="game-selector">
            <div class="game">Game Name: Winner</div>
        </div>
        <div class="game-info invisible">
            <h3>Game Name: Winner</h3>
            <div class="turn-list">
                <p>Turn 0: X killed Y</p>
            </div>
        </div>
    </div>
</section>

<section class="floor" id="3">
    <h2>Items</h2>

    <div id="item-list">

    </div>

    <div class="editor">
        <h5 class="tab">Item Name</h5>
        <input type="text" class="name">
    
        <h5 class="tab">Short Item Description</h5>
        <textarea class="short-desc" name="short-desc" cols="30" rows="3"></textarea>
    
        <h5 class="tab">Full Item Description</h5>
        <textarea class="full-desc" name="full-desc" cols="30" rows="10"></textarea>
    </div>

    <div class="buttons">
        <button class="new">Create New</button>
        <button class="edit">Edit</button>
        <button class="save">Save</button>
        <button class="delete">Delete</button>
    </div>
</section>

<section class="floor" id="2">
    <h2>Floor 2</h2>
</section>

<section class="floor" id="1">
    <h2>Users</h2>
    <div class="info">
        <h3 id="population">Population: 0</h3>
        <h3>Active Today: -</h3>
    </div>

    <div id="user-list">

    </div>

    <div class="user-info">
        <h4>Username:</h4>
        <h5>user</h5>

        <h4>Coin:</h4>
        <input type="text" id="">

        <h4>Home:</h4>
        <input type="text" id="">

        <h4>Auth Levels:</h4>
        <div class="auth-list">

        </div>

        <h4>Location:</h4>
        <input type="text" id="">
    </div>
</section>

<hr>

<a href="/forest/pond/tower">Exit the Tower</a>