<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        An brick building stands before you. Or, it would 
        have, if earthquakes weren't real. The remains of
        a sign with an anvil on it lays on the ground near
        your feet. Termites were here long before you.
    </p>

    <hr>

    <a href="/forest/eye-of-the-forest/square">
        Return to the Square
    </a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>