:root {
    --shadowColor: rgb(26, 26, 26);
    --notherColor: rgb(65, 65, 65);
    --gateColor: rgb(128, 128, 128);
    --gateColorBright: rgb(187, 187, 187);
    --woodColor: rgb(110, 76, 37);
    --woodColorBright: rgb(150, 103, 50);
}

.shack {
    border-bottom: 10px solid var(--woodColor);
}

.shack:hover {
    border-bottom: 10px solid var(--woodColorBright);
}

.gate {
    border-bottom: 10px solid var(--gateColor);
}

.gate:hover {
    border-bottom: 10px solid var(--gateColorBright);
}

.logo {
    border-radius: 50%;
    box-shadow: 15px 15px 5px var(--shadowColor);
    width: 300px;
    height: 300px;
    border-bottom: 150px solid var(--gateColor);
    border-top: 150px solid var(--notherColor);
    margin: 30px;
    color: white;
    font-size: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease;
}

.logo:hover {
    transform: scale(1.01);
    transition: all .1s ease;
}

.logo:active {
    transform: scale(.95);
    transition: all .2s ease;
}