<!-- Includes the head html for all pois -->
<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <a href="/forest/pond/tower">
        Continue on to the Tower
    </a>
    <a href="/forest/pond/tower">
        Continue on to the Town
    </a>
</main>

<!-- Includes the foot html for all pages -->
<%- include("../../../../../../global/parts/footer.ejs"); %>