<p>
    You're in the library.
</p>

<hr>

<div class="dialogue" id="libby"></div>

<hr>

<a class="go" href="/forest/eye/library/notes">
    Enter the Notes Room
</a>

<a class="go" href="/forest/eye/library/stories">
    Enter the Story Room
</a>

<a class="go" href="/forest/eye/library/recipes">
    Enter the Recipe Room
</a>

<hr>

<a class="return" href="/forest/eye/library">
    Exit the Library
</a>

<script src="/js/dialogue.js"></script>
<script>
    let libby = new Dialogue("libby", 2000, function () {
        return [
            Dialogue.textSlide("Hi.")
        ];
    });
</script>