<p>
    The keep. Here you can see to administrative duties
    and join groups.
</p>

<hr>

<a class="to" href="/forest/eye/town-hall/lobby">
    Enter the Town Hall
</a>

<hr>

<a class="return" href="/forest/eye/filter/pond">
    Return to the Pond
</a>

<a class="return" href="/forest/eye/filter/cave">
    Return to the Cave
</a>

<a class="return" href="/forest/eye/filter/yard">
    Return to Layla and Wyatt's Place
</a>

<a class="return" href="/forest/eye/filter/tower">
    Return to the Tower
</a>