.floor#users .content {
    height: 700px;
}

.floor#users .global-info {
    width: var(--fillFromMargin);
}

.floor#users .selector {
    width: var(--fillThirdFromMargin);
    height: 500px;
}

.floor#users .selector li {
    padding: var(--padding);
}

.floor#users .user-info {
    width: calc(var(--fillThirdFromMargin) * 2);
    height: 500px;
    border: var(--standardBorder);
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
}

.floor#users .user-info>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}