<%- include("../../../views/head.ejs"); %>

<main>
    <p>
        Before you is NotherBase, a large piece of land surrounded by
        a chain link fence. You see a shack and the fence has a gate.
        There's not much else.
    </p>

    <hr>

    <a href="/the-front/keeper">
        Approach the Shack
    </a>

    <a href="/the-front/gate">
        Approach the Gate
    </a>
    
    <%- //include("../../../views/chat-box.ejs", { room: "the-front" }); %> 
</main>

<%- include("../../../views/basic-footer.ejs"); %>