:root {
}

body {
    background: url("/img/forest/bgs/cave_lit.jpg");
}

.nono-spirit {
    width: 100%;
    height: 200px;
    margin: 10px;
    position: relative;
}

.nono-spirit img {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    image-rendering: pixelated;
}