<style>
    <%- include("./index.css"); %>
    <%- include("./nono.css"); %>
</style>

<p>
    A random nono dances around in a puddle. Will you solve it?
</p>

<hr>

<div class="nono-spirit">
    <img id="move-nono-spirit" src="/img/nono/nono_spirit.png" alt="Nono Spirit">
</div>

<div id="nono-board"></div>

<hr>

<a class="to" href="/forest/eye/filter/pond">
    Go to the Pond
</a>

<a class="to" href="/forest/eye/filter/wyatts-house">
    Go to Wyatt's House
</a>

<a class="to" href="/forest/eye/keep">
    Go to the Keep
</a>

<hr>

<a class="return" href="/forest/eye/artisans">
    Return to the Artisans
</a>

<a class="return" href="/forest/eye/fields">
    Return to the Fields
</a>

<script>
    <%- include("./nono.js"); %>

    let lastPos = [0, 0];

    let moveNono = function moveNono() {
        let focus = $("#move-nono-spirit");
        let newPos = [Math.floor(Math.random() * 200), Math.floor(Math.random() * 100)];

        focus.animate({
            left: newPos[0],
            top: newPos[1],
        }, 2000);

        lastPos = newPos;
    };

    moveNono();

    setInterval(moveNono, 2000);

    base.load("filter-cave-nono").then((res) => {
        nonoGame.startNew(res.level, res.difficulty);
    });
</script>