:root {
    --nonoColor: rgb(87, 61, 53);
    --nonoColorBright: rgb(187, 130, 113);
    --nonoBG: rgb(61, 61, 61);
    --tileSize: 30px;
    --uiSize: 25%;
}

.nono-board {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 60vh;
}

.nono-board ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.nono-board .nono {
    background-color: var(--nonoBG);
    user-select: none;
    image-rendering: pixelated;
    width: 25%;
    height: 25%;
}

.top.hints {
    background-color: var(--nonoBG);
    user-select: none;
    overflow: auto;
    width: calc(100% - var(--uiSize));
    height: var(--uiSize);
    padding: var(--thickPadding);
    display: flex;
    align-items: center;
}

.side.hints {
    background: var(--nonoBG);
    user-select: none;
    height: calc(100% - var(--uiSize));
    width: var(--uiSize);
    overflow: auto;
    padding: var(--thickPadding);
}

.column {
    border: 1px solid var(--nonoColor);
    user-select: none;
    width: var(--tileSize);
    text-orientation: upright;
}

.row {
    border: 1px solid var(--nonoColor);
    user-select: none;
    height: var(--tileSize);
    display: flex;
}

.hint {
    width: var(--tileSize);
    height: var(--tileSize);
    margin: 0;
    user-select: none;
    display: block;
}

.nono-field {
    width: calc(100% - var(--uiSize));
    height: calc(100% - var(--uiSize));
    overflow: auto;
    padding: 0;
}

.nono-field .bar {
    height: var(--tileSize);
    width: max-content;
    display: block;
}

.nono-tile {
    border: 1px solid var(--nonoColor);
    cursor: pointer;
    width: var(--tileSize);
    height: var(--tileSize);
    display: inline-block;
}

.borderless {
    border: none !important;
    cursor: initial !important;
}

.nono-tile:hover {
    border: 1px solid var(--nonoColorBright);
}

.blank {
    background-color: white;
    transition: all .1s ease;
}

.marked {
    background-color: rgb(73, 80, 182);
    transition: all .1s ease;
}

.punched {
    background-color: rgb(0, 0, 0);
    transition: all .1s ease;
}