:root {
    --notherColor: rgb(65, 65, 65);
    --gateColor: rgb(128, 128, 128);
    --gateColorBright: rgb(187, 187, 187);
}

.logo {
    border-radius: 50%;
    box-shadow: 15px 15px 5px var(--shadowColor);
    width: 300px;
    height: 300px;
    border-bottom: 150px solid var(--gateColor);
    border-top: 150px solid var(--notherColor);
    margin: 30px;
    color: white;
    font-size: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease;
}

.logo:hover {
    transform: scale(1.01);
    transition: all .1s ease;
}

.logo:active {
    transform: scale(.95);
    transition: all .2s ease;
}

.line {
    width: var(--fillHalfFromMargin);
    background-color: var(--bgColor);
    border: var(--thickBorder);
    padding: 0;
    margin: var(--margin);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.line ul {
    height: 300px;
    overflow: auto;
    border: var(--standardBorder);
    width: 100%;
    margin: 0;
}

.line li {
    margin: var(--margin);
    padding: var(--padding);
    list-style: none;
    position: relative;
    height: 50px;
    background-color: var(--bgColor);
}

.line img {
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.line p {
    text-align: right;
}

@media only screen and (max-width: 800px) {
    .line {
        width: var(--fillFromMargin);
    }
}