:root {
    --gate: rgba(128, 128, 128, 0.678);
    --paperWhite: rgb(231, 231, 231);
    --inkBlack: rgb(22, 22, 22);
    --woodColor: rgb(110, 76, 37);
    --darkWoodColor: rgb(70, 48, 23);
    --gateColor: rgba(128, 128, 128, 0.678);
    --gateColorBright: rgba(187, 187, 187, 0.678);
}

.shack {
    background-color: rgb(20, 15, 11);
    border: 3px solid var(--woodColor);
    width: 100%;
    height: 600px;
    position: relative;
}

.counter {
    width: 100%;
    height: 25%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--woodColor);
    border-bottom: 50px solid var(--darkWoodColor);
}

.clipboard {
    background-color: rgb(73, 47, 28);
    width: 300px;
    height: 500px;
    position: absolute;
    left: calc(50% -  150px);
    top: -400px;
    padding: 5px;
    cursor: initial;
    transition: all .5s ease;
    z-index: 10;
}

.clipboard.for-register {
    left: initial;
    right: calc(50% -  150px);
}

.clipboard.on-counter {
    width: 75px;
    height: 110px;
    position: absolute;
    left: 10%;
    top: -25%;
    padding: 5px;
    transform: rotate3d(1, 1, 1, -70deg);
    cursor: pointer;
    z-index: 5;
}

.clipboard.on-counter.for-register {
    left: initial;
    right: 10%;
    transform: rotate3d(1, -1, -1, -70deg);
}

.close {
    display: initial;
    color: black;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.63);
    border: 1px solid black;
    position: absolute;
    right: 0;
    top: -15px;
    width: 25px;
    height: 25px;
    padding: 0;
    z-index: 11;
}

.clipboard.on-counter .close {
    display: none;
}

.clipboard.on-counter .auth-form {
    display: none;
}

.application {
    background-color: rgb(231, 231, 231);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    left: 5px;
    top: 5px;
}

.clamp {
    background-color: rgb(155, 155, 155);
    width: 30%;
    height: 10%;
    position: absolute;
    left: 35%;
    top: 0;
}

.application * {
    color: var(--inkBlack);
}

.auth-form {
    height: 100%;
    width: 100%;
    padding: 40px 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.auth-form h3 {
    width: calc(100% - 20px);
    text-align: center;
    margin: 10px;
}

.auth-form h1 {
    width: calc(100% - 20px);
    text-align: center;
    margin: 10px;
}

.auth-form p {
    width: calc(100% - 20px);
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

.auth-form input, .auth-form button {
    background-color: var(--paperWhite);
}

.auth-form button {
    width: 60%;
}

.auth-form p.error {
    color: rgb(160, 19, 19);
}

.scribbles {
    color: var(--inkBlack);
    font-size: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Redacted Script', cursive;
    padding: 10px;
    line-height: normal;
}

.subtle, .subtle:hover {
    border: none !important;
    width: 100% !important;
    height: 25px !important;
}

#change-button {
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    .clipboard {
        left: 2.5%;
        width: 95%;
        top: -500px;
    }

    .clipboard.for-register {
        left: initial;
        right: 2.5%;
    }
}