<style>
    <%- include("./upstairs.css"); %>
    <%- include("./wallet.css"); %>
</style>

<p>
    Reaching the top of the stairs, you bolt to the window and open
    the wooden blinds to let light and fresh air spill around you.
</p>

<hr>

<div class="billboard" id="today">

</div>

<div class="billboard" id="week">
    
</div>

<div class="billboard" id="month">
    
</div>

<div class="billboard" id="year">
    
</div>

<div class="wallet">
    <h4>Your Wallet</h4>
    <div class="summary">
        <div class="spending">
            <h5>Spending Money Left</h5>
            <h6 id="week">This Week: $0</h6>
            <h6 id="month">This Month: $0</h6>
            <input type="text" id="item"><input type="number" id="spend"><button onclick="">Spend</button>
        </div>
        <div class="flow">
            <h5>Cash Flow Last Month</h5>
            <h6 id="income">Made: $0</h6>
            <h6 id="expenses">Spent: $0</h6>
            <h6 id="saved">Saved: $0</h6>
        </div>
    </div>
    <div class="settings invisible">
    </div>
    <button onclick="wallet.toggleView()">$$</button>
</div>

<hr>

<a href="/forest/clearing/wyatts-house/closet" class="door">
    Go in the Closet
    <div class="knob"></div>
</a>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom" class="return-door">
    Go Downstairs
</a>

<script src="/js/billboard.js"></script>
<script>
    console.log(base);
    let loaded = await base.load("todo-today");
    const today = new Billboard("today", "To Do Today", loaded.items, "save-todo");

    <%- include("./wallet.js") %>
</script>