<style>
    <%- include("./upstairs.css"); %>
    <%- include("./wallet.css"); %>
</style>

<p>
    Reaching the top of the stairs, you bolt to the window and open
    the wooden blinds to let light and fresh air spill around you.
</p>

<hr>

<div class="billboard" id="today">
    <h5>To Do Today</h5>
</div>

<div class="billboard" id="week">
    <h5>To Do This Week</h5>
</div>

<div class="billboard" id="month">
    <h5>To Do This Month</h5>
</div>

<div class="billboard" id="year">
    <h5>To Do This Year</h5>
</div>

<div class="wallet">
    <h4>Your Wallet</h4>
    <div class="summary">
        <div class="spending">
            <h5>Spending Money Left</h5>
            <h6 id="week">This Week: $0</h6>
            <h6 id="month">This Month: $0</h6>
            <input type="text" id="item"><input type="number" id="spend"><button onclick="">Spend</button>
        </div>
        <div class="flow">
            <h5>Cash Flow Last Month</h5>
            <h6 id="income">Made: $0</h6>
            <h6 id="expenses">Spent: $0</h6>
            <h6 id="saved">Saved: $0</h6>
        </div>
    </div>
    <div class="settings invisible">
    </div>
    <button onclick="wallet.toggleView()">$$</button>
</div>

<hr>

<a href="/forest/clearing/wyatts-house/closet" class="door">
    Go in the Closet
    <div class="knob"></div>
</a>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom" class="return-door">
    Go Downstairs
</a>

<script src="/js/billboard.js"></script>
<script>
    let today, week, month, year = null;

    base.load("todo-today").then((res) => {
        today = new Billboard("today", res.items, { onSave: "save-todo" });
    });

    base.load("todo-week").then((res) => {
        week = new Billboard("week", res.items, { onSave: "save-todo" });
    });

    base.load("todo-month").then((res) => {
        month = new Billboard("month", res.items, { onSave: "save-todo" });
    });

    base.load("todo-year").then((res) => {
        year = new Billboard("year", res.items, { onSave: "save-todo" });
    });

    <%- include("./wallet.js") %>
</script>