<style>
    <%- include("../styles/index.css") %>
</style>

<div class="road">
    <a class="to" href="/forest/pond/dock">
        Continue on to the Pond
    </a>

    <a class="to" href="/plains/the-grass/cow-town">
        Continue on to Cow Town
    </a>

    <a class="to" href="/coast/tall-beach/nono-cove">
        Continue on to the Coast
    </a>
    
    <a class="to" href="/forest/eye-of-the-forest/square">
        Continue on to the Eye of the Forest
    </a>
</div>