:root {
    --borderColor: rgb(110, 63, 0);
    --darkBorderColor: rgb(78, 44, 0);
    --bookColor: rgb(73, 118, 202);
}

.bookshelf {
    background-color: var(--woodColor);
    position: absolute;
    width: 200px;
    height: 400px;
    left: 5%;
    bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.bookshelf .shelf {
    background-color: var(--darkWoodColor);
    display: flex;
    width: 100%;
    height: 30%;
    margin: 5px;
}

.bookshelf .book {
    background-color: var(--bookColor);
    width: 25px;
    height: auto;
    margin: 5px;
}

.bookshelf .new-book {
    color: green;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
}

.bookshelf form {
    background-color: var(--woodColor);
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}