:root {
    --woodColor: rgb(170, 117, 68);
    --metalColor: rgb(104, 101, 100);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
    --skyColor: rgb(65, 98, 141);
    --laylaPink: rgb(228, 150, 228);
}

#layla {
    border: 1px solid var(--laylaPink);
}