:root {
    --shadow: rgb(71, 71, 71);
    --textColor: rgb(195, 195, 195);
    --woodColor: rgb(170, 117, 68);
    --metalColor: rgb(104, 101, 100);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
    --skyColor: rgb(65, 98, 141);
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: var(--textColor);
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--grassColor);
}

main {
    height: 100vh;
}

h1 {
    width: 100%;
}

.sky {
    background-color: var(--skyColor);
    width: 100%;
    height: 50%;
}

.ground {
    background-color: var(--grassColor);
    width: 100%;
    height: 50%;
    position: relative;
}

.wall {
    background-color: var(--brickColor);
    width: 100%;
    height: 80%;
}

.floor {
    background-color: var(--woodColor);
    width: 100%;
    height: 20%;
    position: relative;
}

a {
    text-decoration: none;
}

.house {
    background-color: var(--brickColor);
    position: absolute;
    width: 50%;
    height: 500px;
    left: 25%;
    top: -100px;
}

.door {
    background-color: var(--woodColor);
    position: absolute;
    width: 20%;
    height: 25%;
    left: 40%;
    bottom: 0;
}

.trash-can {
    background-color: var(--metalColor);
    position: absolute;
    width: 50px;
    height: 75px;
    left: 10%;
    bottom: 20%;
}

.door-to-layla {
    background-color: var(--textColor);
    position: absolute;
    width: 300px;
    height: 500px;
    left: 40%;
    bottom: 200px;
}

.return-door {
    background-color: var(--shadow);
    position: absolute;
    width: 200px;
    height: 50px;
    left: 40%;
    bottom: 0;
}

.tree {
    background-color: var(--woodColor);
    position: absolute;
    width: 100px;
    height: 500px;
}

#t0 {
    left: 5%;
    bottom: 50%;
}

#t1 {
    left: 10%;
    bottom: 70%;
}

#t2 {
    left: 30%;
    bottom: 70%;
}

#t3 {
    right: 20%;
    bottom: 75%;
}

#t4 {
    right: 10%;
    bottom: 50%;
}