<style>
    <%- include("../styles/the-front.css"); %>
    <%- include("./gate.css"); %>
    <%- include("../styles/borders.css"); %>
</style>

<% if (user) { %> 
    <p>
        A gate for travelers to pass through the fences.
        It is has been left open.
    </p>
<% } else { %> 
    <p>
        There is a fence gate, but unfortunately it 
        is locked shut.
    </p>
<% } %> 

<div class="dialogue" id="wunder"></div>

<hr>

<a class="to nother-base" href="/forest/eye/square">
    Enter NotherBase
</a>

<a class="to gate" href="/the-front/around">
    Try to go Around
</a>

<a class="to shack" href="/the-front/keeper">
    Approach the Shack
</a>

<hr>

<a class="return" href="/the-front">
    Back Away
</a>

<script src="/js/dialogue.js"></script>
<script>
    let wunder = new Dialogue("wunder", 3000, function tree() {
        if (this.checkFlag("safe")) return [
            Dialogue.textSlide("You say that like you've been inside."),
            Dialogue.textSlide("Or what if it's safe for you, but not me?")
        ];
        else if (this.checkFlag("sorry")) return [
            Dialogue.textSlide("That's what I was thinking."),
            Dialogue.textSlide("But I can't just sit here forever.")
        ];
        else return [
            Dialogue.textSlide("NotherBase..."),
            Dialogue.textSlide("I wonder if it's safe to enter..."),
            Dialogue.buttonSlide([
                Dialogue.button("Of course it's safe.", "safe"),
                Dialogue.button("Better to be safe than sorry.", "sorry")
            ])
        ]
    }, "/img/npcs/wunder.png");
</script>