<style>
    <%- include("../styles/the-front.css"); %>
    <%- include("../styles/gate.css"); %>
    <%- include("../styles/borders.css"); %>
</style>

<% if (user) { %> 
    <p>
        A gate for travelers to pass through the fences.
        It is has been left open.
    </p>
<% } else { %> 
    <p>
        There is a fence gate, but unfortunately it 
        is locked shut.
    </p>
<% } %> 


<hr>

<div class="dialogue" id="wunder">
    <div class="frame">
        <img src="/img/npcs/wunder.png" class="portrait">
    </div>
    <div class="heart"></div>
    <div class="content">
        
    </div>
</div>

<hr>

<a class="to nother-base" href="/forest/eye-of-the-forest/square">
    Enter NotherBase
</a>

<a class="to gate" href="/the-front/around">
    Try to go Around
</a>

<a class="to shack" href="/the-front/keeper">
    Approach the Shack
</a>

<hr>

<a class="return" href="/the-front">
    Back Away
</a>

<script src="/js/dialogue.js"></script>
<script>
    let wunder = new Dialogue("wunder", 3000, function tree(self) {
        if (self.checkFlag("safe")) return [
            Dialogue.createTextSlide(1, "You say that like you've been inside."),
            Dialogue.createTextSlide(1, "Or what if it's safe for you, but not me?")
        ];
        else if (self.checkFlag("sorry")) return [
            Dialogue.createTextSlide(1, "That's what I was thinking."),
            Dialogue.createTextSlide(1, "But I can't just sit here forever.")
        ];
        else return [
            Dialogue.createTextSlide(1, "NotherBase..."),
            Dialogue.createTextSlide(1, "I wonder if it's safe to enter..."),
            Dialogue.createButtonSlide(2, [
                Dialogue.createButton("Of course it's safe.", "safe"),
                Dialogue.createButton("Better to be safe than sorry.", "sorry")
            ])
        ]
    });
</script>