<p>
    This is the school lawn.
</p>

<hr>

<a class="to" href="/forest/eye/school/lobby">
    Enter the School
</a>

<a class="to" href="/forest/eye/school/back">
    Go Around to the Back
</a>

<a class="to" href="/forest/eye/school/lab">
    Go to the Lab
</a>

<hr>

<a class="to" href="/forest/eye/church">
    Head to the Church
</a>

<a class="to" href="/forest/eye/inn">
    Head to the Inn
</a>

<a class="to" href="/forest/eye/filter/tower">
    Head into the Filter
</a>