<p>
    This is the school.
</p>

<hr>

<a class="to" href="/forest/eye/church">
    Head to the Church
</a>

<a class="to" href="/forest/eye/inn">
    Head to the Inn
</a>

<a class="to" href="/forest/eye/filter/tower">
    Head into the Filter
</a>