<style>
    <%- include("./mini-library.css") %>
</style>
<p>
    The library stands before you.
</p>

<div class="mini-library">
    <div class="stock" id="player">
        <h5>Books in your Inventory</h5>

        <ul>
            <li>Example Book</li>
        </ul>
    </div>
    
    <hr class="plank">
    <button class="conchu">Transfer</button>

    <div class="stock" id="server">
        <h5>Books in the Mini-Library</h5>

        <ul>
            <li>Example Book</li>
        </ul>
    </div>
</div>

<hr>

<a class="go" href="/forest/eye/library/lobby">
    Enter the Library
</a>

<hr>

<a class="to" href="/forest/eye/fields">
    Head to the Fields
</a>

<a class="to" href="/forest/eye/church">
    Head to the Church
</a>

<a class="to" href="/forest/eye/filter/yard">
    Head into the Filter
</a>