<p>
    The library stands before you.
</p>

<hr>

<a class="go" href="/forest/eye/library/lobby">
    Enter the Library
</a>

<hr>

<a class="to" href="/forest/eye/fields">
    Head to the Fields
</a>

<a class="to" href="/forest/eye/church">
    Head to the Church
</a>

<a class="to" href="/forest/eye/filter/yard">
    Head into the Filter
</a>