<p>
    A veil of dirty air encompasses you as you breach the hull
    through a hole whose genesis has long eroded to time.
</p>

<p>
    It's dark in here, so you stub a toe or two fumbling around.
    The only that can be identified is the exit.+
</p>

<hr>

<a href="/desert/wilderness/whale-carcass">
    Exit the Whale
</a>