<style>
    <%- include("../../styles/wilderness.css"); %>
</style>

<p>
    After travelling a good while toward a massive object,
    you find the remains of some great ship that surely
    once travelled the stars. Now it slowly erodes amidst 
    the dunes.
</p>

<p>
    You descend down your dune to approach the hull of the 
    ship, which looms over you. Hints to the end of the ship's
    life are revealed in human-sized holes that mar the hull's 
    visage.
</p>

<hr>

<a href="/desert/wilderness/whale-carcass/hole">
    Enter the Whale
</a>

<a href="/desert/wilderness/edge">
    Return the the edge of the Wilderness
</a>