<style>
    <%- include("./index.css") %>
</style>
<link rel="stylesheet" href="/styles/browser.css">

<h2>Notes</h2>
<div class="browser" id="notes"></div>

<hr>

<a class="return" href="/forest/eye/library/lobby">
    Return to the Lobby
</a>

<script src="/js/util/browser.js"></script>
<script>
    <%- include("./note-browser.js"); %>

    let noteBrowser = new NoteBrowser("notes");
    base.load("notes").then((res) => {
        noteBrowser.load(res);
    });
</script>