<style>
    <%- include("./index.css") %>
</style>
<link rel="stylesheet" href="/styles/browser.css">

<div class="floatables">
    <div class="browser" id="notes"></div>
    <div class="search-box" id="notes"></div>
    <div class="meta buttons" id="notes"></div>
</div>

<hr>

<a class="return" href="/forest/eye/library/lobby">
    Return to the Lobby
</a>

<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    <%- include("./note-browser.js"); %>

    const floatBoard = new FloatBoard();
</script>