<style>
    <%- include("../wilderness.css"); %>
</style>

<p>
    Before long, you reach a massive canyon.
    Unfortunately, no one has set up a
    bridge here yet. The way further north is 
    blocked.
</p>

<hr>

<a href="/desert/wilderness/east">
    Go East
</a>

<a href="/desert/wilderness/south">
    Go South
</a>

<a href="/desert/wilderness/west">
    Go West
</a>

<a href="/desert/wilderness/whale-carcass">
    Go to the Whale
</a>