<p>
    You and the other explorers huddle inside a cave
    as a blizzard rages just outside.
</p>

<div class="chat">

</div>

<button>
    Vote
</button>

<hr>

<a href="/tundra/barrens/campground">
    Brave the Blizzard and Return to Camp
</a>