.bible-research {
    display: flex;
    flex-wrap: wrap;
}

.bible-research .reader .finder {
    display: flex;
}

.bible-research .reader .open-to {
    height: 4vh;
    display: flex;
}

.bible-research .reader .text {
    margin: var(--margin);
    height: 40vh;
    overflow: auto;
    font-size: 20px;
}