<link rel="stylesheet" href="/styles/browser.css">
<style>
    <%- include("./bible-research.css"); %>
</style>

<div class="floatables bible-research"></div>

<hr>

<a class="return" href="/forest/eye/church/library">
    Return to the Library
</a>

<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    <%- include("./research.js"); %>

    const bibleResearch = new BibleResearch(true);

    const floatBoard = new FloatBoard();
</script>