<style>
    <%- include("./bible-research.css"); %>
</style>

<p>
    You enter the office.
</p>

<hr>

<div class="bible-research"></div>

<hr>

<a class="return" href="/forest/eye/church/library">
    Return to the Library
</a>

<script>
    <%- include("./research.js"); %>

    const bibleResearch = new BibleResearch();
</script>