<p>
    You walk to the edge of the campground where a lone
    portable restroom sits.
</p>

<hr>

<div class="toilet">
    <div class="lock">
        <div class="status">
            Occupied
        </div>
    </div>
</div>

<hr>

<a href="/tundra/barrens/campground">
    Head Back to the Camp Center
</a>