<p>
    This is the fields.
</p>

<div class="dialogue" id="berry"></div>
    
<div class="dialogue" id="zerry"></div>

<hr>

<a class="to" href="/forest/eye/artisans">
    Head to the Artisans
</a>

<a class="to" href="/forest/eye/library">
    Head to the Library
</a>

<a class="to" href="/forest/eye/filter/cave">
    Head into the Filter
</a>

<script src="/js/dialogue.js"></script>
<script>
    //npc dialogues
    let berryTree = function () {
        if (Dialogue.checkGlobalFlag("longTalkWithBerry")) {
            return [
                Dialogue.textSlide(`That was my answer too! But nooo....`)
            ];
        }
        else if (this.checkFlag("accepted")) {
            return [
                Dialogue.textSlide(`If a portal approached a cube at a certain velocity,
                                             would the cube receive that velocity after completely passing through the portal?`),
                Dialogue.buttonSlide([
                    Dialogue.button("Yes.", "longTalkWithBerry", true),
                    Dialogue.button("No.", "longTalkWithBerry", true)
                ])
            ];
        }
        else if (this.checkFlag("declined")) {
            return [
                Dialogue.textSlide("Wow. I honestly didn't expect you to decline like that."),
                Dialogue.textSlide("To each their own I guess.", 10)
            ];
        }
        else if (this.checkFlag("responded")) {
            return [
                Dialogue.textSlide("Great, I got your attention! Not many people come around here."),
                Dialogue.textSlide("Would you mind settling a debate I'm having with my acquaintance below?"),
                Dialogue.buttonSlide([
                    Dialogue.button("Sure.", "accepted"),
                    Dialogue.button("No Way.", "declined")
                ])
            ];
        }
        else {
            return [
                Dialogue.textSlide("Hey! Yeah, it's the talking cat on the porch!"),
                Dialogue.buttonSlide([
                    Dialogue.button("Hi!", "responded"),
                    Dialogue.button("Hi?", "responded")
                ]),
                Dialogue.textSlide("Hello?"),
                Dialogue.buttonSlide([
                    Dialogue.button("Hi!", "responded"),
                    Dialogue.button("Hi?", "responded")
                ])
            ];
        }
    };
    let berryDialogue = new Dialogue("berry", 1900, berryTree, "/img/npcs/berry.png");

    let zerryTree = function () {
        if (this.checkFlag("responded")) {
            return [
                Dialogue.textSlide("Nice to meet you!"),
                Dialogue.textSlide("I don't know what else to say...", 10)
            ];
        }
        else if (Dialogue.checkGlobalFlag("longTalkWithBerry")) {
            return [
                Dialogue.textSlide("I see you're not interested in talking to me...")
            ];
        }
        else {
            return [
                Dialogue.textSlide("..."),
                Dialogue.textSlide("Hello. My name is Zerry."),
                Dialogue.buttonSlide([
                    Dialogue.button("Hello.", "responded")
                ]),
                Dialogue.textSlide("Hello?"),
                Dialogue.buttonSlide([
                    Dialogue.button("Hello.", "responded")
                ])
            ];
        }
    };
    let zerryDialogue = new Dialogue("zerry", 2050, zerryTree, "/img/npcs/zerry.png");
</script>