<link rel="stylesheet" href="/styles/browser.css">

<div class="browser" id="projects"></div>

<hr>

<a class="to" href="/forest/eye/artisans">
    Exit the Workshop
</a>

<script src="/js/util/browser.js"></script>
<script>
    const fields = new NBField({
        name: "projects",
        multiple: true,
        placeholder: "No Projects",
        label: "Project: "
    }, [
        new NBField({
            name: "name",
            placeholder: "No Name",
            label: "Name: "
        }, "string"),
        new NBField({
            name: "description",
            placeholder: "No Description",
            label: "Description: "
        }, "long-string"),
        new NBField({
            name: "task",
            placeholder: "No Tasks",
            label: "Tasks: ",
            multiple: true
        }, [
            new NBField({
                name: "name",
                placeholder: "No Task Name",
                label: "Task: "
            }, "string"),
            new NBField({
                name: "description",
                placeholder: "No Description",
                label: "Description: "
            }, "long-string"),
            new NBField({
                name: "completed",
                placeholder: false,
                label: "Completed: "
            }, "boolean")
        ]),
        new NBField({
            name: "resources",
            placeholder: "No External Resources",
            label: "External Resources: ",
            multiple: true
        }, "string"),
        new NBField({
            name: "notes",
            placeholder: "No Notes",
            label: "Notes: "
        }, "long-string"),
    ]);

    const projectsBrowser = new Browser("projects", fields, true, "save-projects");

    base.load("projects").then((res) => {
        projectsBrowser.load(res);
    });
</script>