<p>
    A modest cabin rests amidts the branches of a
    thick oak. Rope and wood dangle before you.
</p>

<hr>

<a href="/forest/clearing/tree-house/inside">
    Climb up the Ladder
</a>

<a href="/forest/clearing/wyatts-house">
    Return to Wyatt's House
</a>