<link rel="stylesheet" href="/styles/chat.css">

<div class="chat-box">
    <div class="chat-name">Chatting using the name <%= user.username %>:</div>

    <div class="chat-log">
        
    </div>
    <input autocomplete="off" type="text" name="text" class="chat-entry">
    <div value="Send" class="chat-send">Send</div>
</div>

<script>
    <%- include("../node_modules/socket.io/client-dist/socket.io.js"); %>

    let socket = io();
    let $chatLog = $(".chat-log");
    let $entry = $(".chat-entry");

    socket.on('chat message', function(msg) {
        let time = new Date(msg.time);
        $chatLog.append(`<p>[${time.toLocaleTimeString('en-US')}] ${msg.name}: ${msg.text}</p>`);
    });

    const sendMessage = function() {
        if ($entry.val() !== ""){
            $.post("/chat", {
                name: $(".name-entry").val(),
                text: $entry.val()
            }, function () {
                $entry.val("");
                $chatLog.scrollTop($chatLog[0].scrollHeight);
            });
        }
    }

    $(".chat-send").on("click", sendMessage);
    $entry.on("keyup", function(e) {
        if (e.keyCode == 13) sendMessage();
    });
</script>