<div id="contact-form" class="invisible">
    <h4>Message Nother</h4>
    <input type="text" name="content" id="content">
    <button id="send">Send Message</button>
</div>

<button id="contact">Msg Nother</button>

<script>
    $("#contact").on("click", (e) => {
        $("#contact-form").toggleClass("invisible");
    });

    $("#send").on("click", (e) => {
        $.post("/contact", 
        {
            location: "Test",
            content: $("#content").val(),
        }, 
        function () {
            $("#content").val("");
        });
    });
</script>