<%- include("./parts/head.ejs"); %>

<main>

    <ul>
        <li>
            <a href="/chat">Chat</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
    </ul>

</main>

<%- include("./parts/footer.ejs"); %>