<% if (inventory.items) { %>
    <div class="inventory invisible">
        <% if (user.authLevels.length > 0) { 
            for (let i = 0; i < user.authLevels.length; i++) {
                if (user.authLevels[i] === "Creator") { %>

                    <div class="item-spawner">
                        <input type="text" class="search">
                        <div class="search-results">
                            
                        </div>
                    </div>

                    <% break;
                }
            }
        } %>

        <div class="item-list">
        </div>
    </div>

    <button id="inventory-button">
        <i class="fas fa-database"></i>
    </button>
<% } else { %>
    <button id="inventory-button">
        ERR
    </button>
<% } %>

<script>
    class Inventory {
        constructor() {
            this.$div = $(".inventory");
            this.$list = $(".item-list");
            this.$search = $(".search");
            this.$searchResults = $(".search-results");
            this.searchResults = [];
            this.$button = $("#inventory-button");
            this.items = [];

            this.$button.on("click", () => {
                this.$div.toggleClass("invisible");
            });

            this.$search.on("keyup", () => {
                let searchString = this.$search.val();

                $.get(`/item`, { name: searchString }, (data) => {
                    this.renderSearchResults(data.foundItems);
                });
            });

            $.get("/inventory", (data) => {
                this.items = data.foundInventory.items;

                this.render();
            });

            setInterval(this.update, this.updateCooldown);
        }

        change(change) {
            $.post("/inventory", { change: change }, (data, status) => {
                if (status == "success") {
                    let holding = false;

                    for (let i = 0; i < this.items.length; i++) {
                        if (this.items[i].item._id === data.item._id) {
                            this.items[i].amount = data.amount;
                            holding = true;

                            if (this.items[i].amount === 0) this.items.splice(i, 1);
                        }
                    }
                    
                    if (!holding) {
                        this.items.push(data);
                    }

                    this.render();
                }
                else console.log(status);
            });
        }

        render() {
            this.$list.empty();

            for (let i = 0; i < this.items.length; i++) {
                let $new = this.$list.append(
                                                `<div class="item-card">
                                                    <h5>${this.items[i].item.name}</h5>
                                                    <button id="${i}">X</button>
                                                    <hr>
                                                    <p>${this.items[i].amount}</p>
                                                </div>`
                                            ).children().last();

                $new.find("button").on("click", (e) => {
                    let which = parseInt(e.currentTarget.id);

                    this.change({
                        item: this.items[which].item._id,
                        amount: -1
                    });
                });
            }
        }

        renderSearchResults(results) {
            this.$searchResults.empty();
            this.searchResults = results;

            for (let i = 0; i < this.searchResults.length; i++) {
                let $new = this.$searchResults.append(
                                                        `<p id="${i}">${this.searchResults[i].name}</p>`
                                                    ).children().last();

                $new.on("click", (e) => {
                    let which = parseInt(e.currentTarget.id);

                    this.change({
                        item: this.searchResults[which]._id,
                        amount: 1
                    });
                });
            }
        }
    }

    let playerInventory = new Inventory();
</script>