<p>
    This is a little cafe in the school that mostly
    serves boba tea and coffee.
</p>

<hr>

<a class="to" href="/forest/eye/school/library">
    Go to the Library
</a>

<hr>

<a class="return" href="/forest/eye/school/lobby">
    Return to the Lobby
</a>