<%- include("../parts/head.ejs"); %>

<link rel="stylesheet" href="/styles/main.css">

<body class="auth-grid">
    <section class="heartwarming">
    </section>
    <section class="auth-container">
        <h1>Won Ventures</h1>
        <h3>Register a New Account</h3>
        <form action="/user/register" method="POST" class="auth-form">
            <input type="text" name="username" placeholder="username" class="input-text">
            <input type="password" name="password" placeholder="password" class="input-text">
            <input type="submit" value="Register" class="submit-button">
            <p style="color: <%= color %>;">
                <%= info %>
            </p>
        </form>
    </section>
</body>

<%- include("../parts/footer.ejs"); %>