<style>
    <%- include("../../wilderness.css"); %>
    <%- include("./hole.css"); %>
</style>

<p>
    A veil of dirty air encompasses you as you breach the Whale
    Carcass through a hole whose genesis has long eroded to time.
</p>

<p>
    It's dark in here, so you stub a toe or two fumbling around.
    The only that can be identified is the exit and the book
    you kicked.
</p>

<hr>

<div class="book">
    <h3>The Whale Carcass</h3>
    
    <p>
        The old one said this is how it always was.
        The carcass is an eternal energy source. 
        There is no way out. We are all there is.
        The only escape is through the mind.
    </p>
    
    <p>
        Thus we all sit, connected to the wall,
        lost in our own imaginations. We are all
        the same in our nothingness. The plug is 
        all that matters.
    </p>

    <hr>
    
    <p>
        But, there is one not like us. I meet it
        sometimes when I find myself in such an
        uncomfortable position that I'm compelled 
        to find another plug.
    </p>
    
    <p>
        It has the most beautiful dark, black eyes.
        Whenever I come into its focus, I find
        myself locked -- frozen in place. What is 
        it? Why is it not plugged in ever?
    </p>
    
    <p>
        I am curious. What is its life? Does it
        run out of energy? Some days I consider 
        following this little one. I shouldn't.
        The old one says any battery will last 
        a mere ten time units if I stay unplugged.
        I believe that.
    </p>
    
    <p>
        So I don't go anywhere. It just doesn't
        make sense to put myself in danger like
        that. Better that I just always stay
        plugged in, re-running my mind into 
        eternity.
    </p>

    <hr>
    
    <p>
        Still, what is this little thing? When 
        it comes around I find myself spending
        more and more time contemplating it.
        Where does it come from and where does 
        it go? Am I interested in it, or it in 
        me?
    </p>
    
    <p>
        The little one brought me something 
        today. A battery extension? Two more
        blocks of energy. Seven now, if I use
        this.
    </p>
    
    <p>
        Why did the little one bring me this?
        I suppose I should be thankful. Does
        it want me to follow it? Why else 
        would it give me extra energy? 
        Tomorrow when it comes again, maybe
        I'll see where it goes.
    </p>

    <hr>
    
    <p>
        It didn't come today. I looked. The 
        little one didn't come the next day.
        After a week, no imagination could
        quell my longing for those dark,
        black eyes.
    </p>
    
    <p>
        Did it meet an end? Did the little
        one get lost in some nook
        somewhere, battery empty? I'll look
        around in the common area. Some of
        the others who are more sociable
        sit and charge there. Maybe one of
        them knows something of the little
        one's whereabouts...
    </p>
</div>

<hr>

<a href="/desert/wilderness/whale-carcass">
    Exit the Whale
</a>