<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        Ignoring the smell is not enough. You plug your
        nose. You can't stay here long.
    </p>
    <hr>
    <a href="/forest/eye-of-the-forest/inn/lobby">
        Return to the Lobby
    </a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>