<p>
    This is the school hallway.
</p>

<hr>

<a class="to" href="/forest/eye/school/classroom?room=a">
    Go to Classroom A
</a>

<a class="to" href="/forest/eye/school/classroom?room=b">
    Go to Classroom B
</a>

<a class="to" href="/forest/eye/school/classroom?room=c">
    Go to Classroom C
</a>

<a class="to" href="/forest/eye/school/janitors-closet">
    Enter the Janitor's Closet
</a>

<a class="to" href="/forest/eye/school/classroom?room=d">
    Go to Classroom D
</a>

<hr>

<a class="return" href="/forest/eye/school/lobby">
    Return to the Lobby
</a>