<style>
    <%- include("./table.css"); %>
</style>

<p>
    You sit at a table. Maybe chat with someone?
</p>

<hr>

<div class="chat-box" id="eotf-inn-table-<%= query.pov %>"></div>

<hr>

<a class="return" href="/forest/eye/inn/lobby">
    Get up from this Table
</a>

<script src="/js/chat-box.js"></script>
<script>
    let chat = new ChatBox("<%= user.username %>", "eotf-inn-table-<%= query.pov %>");
</script>