<div class="floatables">
    <div class="browser" id="scheduler"></div>
</div>

<hr>

<div class="floatables">
    <div class="browser" id="shared-scheduler"></div>
</div>

<hr>

<a class="return" href="/forest/eye/filter/living-room">
    Exit the Office
</a>

<script src="/js/util/weather.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    const weather = new WeatherSystem();

    <%- include("./scheduler.js"); %>

    let scheduler = new Scheduler("scheduler");
    let sharedScheduler = new SharedScheduler("shared-scheduler");
    base.do("load-schedule").then((res) => {
        scheduler.load(res.data.userTasks);
        sharedScheduler.load(res.data.sharedTasks);
    });

    const floatBoard = new FloatBoard();
</script>