<div class="floatables">
    <div class="browser" id="scheduler"></div>
    <div class="search-box" id="scheduler"></div>
    <div class="meta buttons" id="scheduler"></div>
</div>

<hr>

<a class="return" href="/forest/eye/filter/living-room">
    Exit the Office
</a>

<script src="/js/util/weather.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    const weather = new WeatherSystem();

    <%- include("./scheduler.js"); %>

    const floatBoard = new FloatBoard();
</script>