<%- include("../parts/head.ejs"); %>

<body>
    <div class="cottage">
        <a href="/cottage/livingroom">
            <div class="door">
                
            </div>
        </a>
    </div>
</body>

<%- include("../parts/footer.ejs"); %>