<p>
    The trees thast previously loomed over you
    quickly give way to a more barren land. No,
    barren isn't the right word. There's life 
    all around. It's just foreign to you.
</p>

<p>
    Sandier dirt is below your feet now. The trees
    are like humungus weeds, sparsely dotting the
    land around you. It must be midday now, because
    suddenly you start to notice the heat.
</p>

<hr>

<a href="/desert/wilderness/north">
    Go North
</a>

<a href="/desert/wilderness/east">
    Go East
</a>

<a href="/desert/wilderness/south">
    Go South
</a>

<a href="/desert/wilderness/west">
    Go West
</a>

<a href="/desert/wilderness/whale-carcass">
    Approach the Whale Carcass
</a>