.table {
    margin-top: 40px;
    background-color: var(--tableColor);
    background-image: url("/img/textures/wood.jpg");
    background-size: 80px 80px;
    image-rendering: pixelated;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    border: outset 5px var(--tableColor);
    box-shadow: 2px 2px 2px var(--shadow);
    position: relative;
}

.table * {
    color: var(--dominoColor);
}

.opponent-hand {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: outset 2px rgba(255, 0, 0, 0.651);
}

.bone {
    width: 50px;
    height: 25px;
    background-color: var(--dominoColor);
    border: 1px solid var(--dominoShadow);
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
    user-select: none;
}

.your-hand .bone:hover {
    cursor: pointer;
    border: 2px solid var(--dominoSelection);
}

.bone.highlighted {
    background-color: var(--dominoHighlightedColor);
}

.bone.held {
    background-color: var(--dominoHeldColor);
}

.bone.in-yard {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 12.5px);
}

.bone.on-board {
    position: absolute;
}

.option {
    border: 1px solid var(--dominoOption);
}

.selected {
    border: 1px solid var(--dominoSelection);
}

.board {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 70%;
    height: calc(100% - 110px);
    left: 5px;
    top: 55px;
    border: outset 2px rgba(54, 54, 54, 0.651);
}

.board .bone:hover {
    cursor: pointer;
}

.board.big-bone-time {
    border: outset 2px var(--dominoHighlightedColor);
}

.bone-yard {
    position: absolute;
    background-color: var(--dominoShadow);
    width: calc(30% - 15px);
    height: 25%;
    right: 5px;
    top: 37.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: outset 2px rgba(255, 255, 255, 0.651);
}

#score1 {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 20%;
    height: 15%;
    right: 15px;
    top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: outset 2px rgba(255, 0, 0, 0.651);
}

#score2 {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 20%;
    height: 15%;
    right: 15px;
    top: calc(50% + 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: outset 2px rgba(0, 0, 255, 0.527);
}

.your-hand {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: outset 2px rgba(0, 0, 255, 0.527);
}

.turn-to-play {
    background-color: rgba(238, 170, 69, 0.548);
}