<!-- Includes the head html for all pois -->
<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        A gate for travelers to pass through the fences.
        It is has been left open.
    </p>
    <hr>
    <a href="/forest/eye-of-the-forest/square">
        Enter NotherBase
    </a>
    <a href="/forest/the-front/fence">
        Back Away
    </a>
</main>

<!-- Includes the foot html for all pages -->
<%- include("../../../../../../global/parts/footer.ejs"); %>