<p>
    Before you is NotherBase, a large piece of land surrounded by
    a chain link fence. You see a shack and the fence has a gate.
    There's not much else.
</p>
<hr>
<a href="/forest/the-front/fence/keeper">
    Approach the Shack
</a>
<a href="/forest/the-front/fence/gate">
    Approach the Gate
</a>

<%- include("../../../../../../views/chat-box.ejs", { room: "the-front" }); %> 