<%- include("../../../parts/poiHead.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/wyatts-house.css">

<!-- Your HTML Here -->
<main>
    <section class="sky">
        <a href="/forest/eye-of-the-forest/square">Back to The Eye of the Forest</a>
    </section>

    <section class="ground">
        <div class="house">
            <a href="/forest/clearing/wyatts-house/livingroom">
                <div class="door">
    
                </div>
            </a>
        </div>
        <div class="trash-can">
            
        </div>
        <%- include("../../../parts/wyatts-house/garden.ejs"); %>
    </section>
</main>

<!-- Load Scripts Here -->

<%- include("../../../parts/footer.ejs"); %>