<%- include("../../../parts/poiHead.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/laylas-room/laylas-room.css">
<link rel="stylesheet" href="/styles/laylas-room/toy-box.css">

<!-- Your HTML Here -->
<main>
    <h1>Layla's Room</h1><hr>

    <article>
        <h2>My Skills</h2><hr>
        <ul>
            <li>Pussy Mongering</li>
            <li>Bad Bitch</li>
        </ul>
    </article>

    <article>
        <h2>To Do</h2><hr>
        <ul>
            <li>Go to Work</li>
            <li>Kiss Wyatt</li>
        </ul>
    </article>

    <article>
        <h2>Recipes</h2><hr>
        <ul>
            <li>Guratan</li>
            <li>Goulash</li>
        </ul>
    </article>

    <article>
        <h2>Toy Box</h2><hr>
        <%- include("../../../parts/laylas-room/toy-box.ejs"); %>
    </article>

    <a href="/forest/clearing/wyatts-house/livingroom">
        <div class="return-door">

        </div>
    </a>
</main>

<!-- Load Scripts Here -->
<script src="/scripts/laylas-room/toy-box.js"></script>

<%- include("../../../parts/footer.ejs"); %>