<%- include("../../../parts/poiHead.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/laylas-room.css">

<!-- Your HTML Here -->
<main>
    <h1>Layla's Room</h1>

    <h2>My Skills</h2>
    <ul>
        <li>Pussy Mongering</li>
        <li>Bad Bitch</li>
    </ul>
</main>

<!-- Load Scripts Here -->

<%- include("../../../parts/footer.ejs"); %>