:root {
    --shadowColor: rgb(26, 26, 26);
    --notherColor: rgb(65, 65, 65);
}

.inn {
    border-bottom: 10px solid rgb(126, 75, 45);
}

.inn:hover {
    border-bottom: 10px solid rgb(161, 96, 59);
}

.clothing-stall {
    border-bottom: 10px solid rgb(75, 34, 78);
}

.clothing-stall:hover {
    border-bottom: 10px solid rgb(128, 59, 133);
}

.food-stall {
    border-bottom: 10px solid rgb(117, 71, 28);
}

.food-stall:hover {
    border-bottom: 10px solid rgb(168, 100, 37);
}

.tool-stall {
    border-bottom: 10px solid rgb(87, 73, 76);
}

.tool-stall:hover {
    border-bottom: 10px solid rgb(146, 126, 130);
}

.toy-stall {
    border-bottom: 10px solid rgb(103, 121, 39);
}

.toy-stall:hover {
    border-bottom: 10px solid rgb(153, 179, 60);
}

.bricks {
    border-bottom: 10px solid rgb(145, 0, 0);
}

.bricks:hover {
    border-bottom: 10px solid rgb(216, 0, 0);
}

.road {
    border-bottom: 10px solid rgb(48, 58, 63);
}

.road:hover {
    border-bottom: 10px solid rgb(94, 109, 122);
}

.path {
    border-bottom: 10px solid rgb(31, 97, 75);
}

.path:hover {
    border-bottom: 10px solid rgb(25, 136, 99);
}

.church {
    border-bottom: 10px solid rgb(230, 213, 118);
}

.church:hover {
    border-bottom: 10px solid rgb(221, 214, 190);
}