:root {
    --wood: rgb(87, 62, 32);
    --woodDark: rgb(29, 23, 17);
}

h3 {
    text-align: center;
}

h4 {
    width: 100%;
    text-align: center;
    margin: 5px;
}

.sign {
    background-color: var(--wood);
    padding: 30px;
    border: 3px outset rgb(133, 98, 57);
    border-radius: 5% 7% 10% 8%;
}

.sign * {
    color: rgb(199, 175, 150);
    text-shadow: 1px 1px rgb(41, 27, 12);
    font-size: 30px;
}