:root {
    --wood: rgb(87, 62, 32);
    --woodDark: rgb(29, 23, 17);
}

h3 {
    text-align: center;
}

h4 {
    width: 100%;
    text-align: center;
    margin: 5px;
}

.sign {
    background-color: var(--wood);
    padding: 30px;
    border: 3px outset rgb(133, 98, 57);
    border-radius: 5% 7% 10% 8%;
}

.sign * {
    color: rgb(29, 23, 17);
    text-shadow: 1px 1px rgb(133, 98, 57);
    font-size: 30px;
}

.mini-library {
    border: 15px solid var(--wood);
    border-radius: 15px 15px 0 0;
    background-color: var(--woodDark);
    width: 90%;
    margin: 20px 0;
}

.mini-library button {
    width: 50%;
    margin: 0 25%;
}

.mini-library h5 {
    background-color: var(--wood);
    padding: 5px;
    color: var(--woodDark);
    font-size: large;
}

.mini-library hr {
    background-color: var(--wood);
    margin: 0;
    border: 5px solid var(--wood);
}

.mini-library ul {
    background-color: var(--woodDark);
    padding: 10px 20px;
    width: 100%;
    margin: 0;
}

.mini-library li {
    list-style-type: '☲';
    padding: 0 5px;
}