<%- include("../../../views/head.ejs"); %>

<!-- <link rel="stylesheet" href="/styles/auth.css"> -->

<body>
    <section class="auth-form">
        <h1>NotherBase</h1>
        <h3>Login to Your Account</h3>
        <form action="/user/login" method="POST" class="auth-form">
            <input type="text" name="username" placeholder="username" class="input-text">
            <input type="password" name="password" placeholder="password" class="input-text">
            <input type="submit" value="Login" class="submit-button">
            <p style="color: <%= color %>;">
                <%= info %>
            </p>
        </form>
        <p>Need an account? <a href="/user/register">Sign Up Here</a></p>
    </section>
</body>

<%- include("../../../views/footer.ejs"); %>