<p>
    A small dock reaches into the pond.
</p>

<hr>

<a class="to" href="/forest/pond/dock/fish">
    Go Fish
</a>

<hr>

<a class="to" href="/forest/pond/tower">
    Walk to the Tower
</a>

<hr>

<a class="return" href="/forest/road/side">
    Return to the Road
</a>