<p>
    You see an old church building.
</p>

<hr>

<a class="go" href="/forest/eye/church/sanctuary">
    Enter the Church
</a>

<a class="go" href="/forest/eye/church/cemetery">
    Go around to the Cemetery
</a>

<hr>

<a class="to" href="/forest/eye/library">
    Head to the Library
</a>

<a class="to" href="/forest/eye/school">
    Head to the School
</a>

<a class="to" href="/forest/eye/filter/wyatts-house">
    Head into the Filter
</a>