<style>
    <%- include("./index.css") %>
</style>

<div class="browser" id="recipes">
    <h1>Recipes for Food</h1>
</div>

<hr>

<a class="return" href="/forest/eye-of-the-forest/library/lobby">
    Return to the Lobby
</a>

<%- include("./recipe-browser.ejs"); %>