<%- include("../../../global/parts/head.ejs"); %>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Chela+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/void.css">

<main>
    <a href="/forest/eye-of-the-forest/square"><h1>THIS IS THE VOID</h1></a>
</main>

<%- include("../../../global/parts/footer.ejs"); %>