<style>
    <%- include("./cemetery.css"); %>
</style>

<p>An old cemetery with weeds growing around.</p>

<hr>

<div class="ground">
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
</div>

<hr>

<a class="return" href="/forest/eye/church">
    Back to the Church Front
</a>

<!-- <script src="/js/plants/weed.js"></script> -->
<script>
    <%- include("../../../../../public/js/plants/weed.js") %>

    let weed = new Weed(`og-weed`, "weed", ".ground");
</script>