<style>
    <%- include("./cemetery.css"); %>
</style>

<p>An old cemetery with weeds growing around.</p>

<hr>

<div class="ground">
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
</div>

<hr>

<a class="return" href="/forest/eye/church">
    Back to the Church Front
</a>

<script src="/js/entity.js"></script>
<script src="/js/plants/part.js"></script>
<script>
    <%- include("./grounds.js") %>

    let grounds = new Grounds();
</script>