<style>
    <%- include("./cemetery.css"); %>
</style>

<p>An old cemetery with weeds growing around.</p>

<hr>

<div class="ground">
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
    <div class="sign grave">
        <h5>Mans</h5>
        <h6>1840-1934</h6>
        <p>Lived like he died.</p>
    </div>
</div>

<div class="pot">

</div>

<hr>

<a class="return" href="/forest/eye/church">
    Back to the Church Front
</a>

<script src="/js/entity.js"></script>
<script src="/js/plants/plant.js"></script>
<script>
    <%- include("./weed.js") %>
    <%- include("./apple-tree.js") %>

    let weed = new Weed(`og-weed`, "weed", $(".ground"));
    let apple = new AppleTree("apple-tree", "apple-tree", $(".pot"));
</script>