<style>
    <%- include("./fish.css") %>
</style>

<div class="game">
    <div class="halo">
        <div class="sun"></div>
    </div>
    
    <div class="background"></div>
    
    <div class="dock">
        <div class="pole"></div>
    </div>
    <div class="ground"></div>
    <div class="water">
        <div class="boat">
            
        </div>
        <div class="waters">

        </div>
    </div>

    <div class="cloud">
        
    </div>
</div>

<hr>

<a class="to" href="/forest/eye/filter/tower">
    Go to the Tower
</a>

<a class="to" href="/forest/eye/filter/cave">
    Go to the Cave
</a>

<a class="to" href="/forest/eye/town-hall">
    Go to the Town Hall
</a>

<hr>

<a class="return" href="/forest/eye/square">
    Return to the Square
</a>

<a class="return" href="/forest/eye/market">
    Return to the Market
</a>

<script>
    <%- include("./fish.js") %>
</script>