<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wyatt Sushinsky's Resume</title>
</head>
<body>
	<style>
		<%- include("./resume.css"); %>
	</style>
	<h1>WYATT L. SUSHINSKY</h1>

		<h5>(564) 216-0663</h5>
		<h5>wyattsushi@gmail.com</h5>
		<h5>904 N Pearl St, Centralia, WA 98531</h5>

	<h2>WORK EXPERIENCE</h2>
		<h3>Sales</h3> <span><h4>Smokin' J's</h4></span>
		<p>
			Sells smoking supplies, novelties and gifts. Opens, closes and is often solely responsible for store during shift.
		</p>
		<h5>Oct. 2022 - Present</h5><br><br>

		<h3>Pest Prevention Assistant I</h3> <span><h4>California Department of Food and Agriculture</h4></span>
		<p>
			Inspected residential citrus trees for the HLB disease and the ACP pest. Treated the same trees with insecticide.
		</p>
		<h5>Jan. 2019 - Nov. 2020</h5><br><br>
		
		<h3>Dispatch/Customer Service</h3> <span><h4>Bellair Charters and Airporter</h4></span>
		<p>
			Communicated with both customers and staff to ensure quick and reliable transportation while monitoring drivers and their routes.
		</p>
		<h5>Sep. 2017 - July 2018</h5><br><br>
		
		<h3>Landscaping/Maintenance</h3> <span><h4>Western Washington University</h4></span>
		<p>
			Maintained both indoor and outdoor areas of the university and provided assistance where needed to ensure a safe and aesthetically pleasing campus.
		</p>
		<h5>June 2016 - Dec. 2016</h5>
		
	<h2>EDUCATION</h2>
		
		<h3>Software Engineering Immersive</h3> <span><h4>General Assembly</h4></span>
		<p>
			An accelerated coding bootcamp focusing on HTML, CSS, JavaScript and Python. Additional technologies learned were: Node, MongoDB, Mongoose,
			Express, Django, PostgreSQL, React and more.
		</p>
		<h5>Graduated June 2021</h5><br><br>

		<h3>Bachelor of Arts in Japanese</h3> <span><h4>Western Washington University</h4></span>
		<p>
			Focused on linguistics and communication.
		</p>
		<h5>Graduated June 2017</h5>
	
	<h2>HOBBIES</h2>
	
		<h3>Computer Building and Maintenance</h3>
		<p>
			Builds computers, installs necessary software and performs maintenance. Keeps up with hardware and software news.
		</p>

	<h2>SKILLS</h2>
	
		<ul>
			<li>Customer Service</li>
			<li>Management</li>
			<li>Attention to Detail</li>
			<li>Reliability</li>
			<li>Teamwork</li>
			<li>Work Ethic</li>
			<li>Multi-tasking</li>
			<li>Problem Solving</li>
		</ul>
</body>
</html>