<style>
    <%- include("./index.css") %>
</style>

<h2>Stories</h2>

<div class="browser" id="stories">

</div>

<hr>

<a class="return" href="/forest/eye-of-the-forest/library/lobby">
    Return to the Lobby
</a>

<%- include("./story-browser.ejs"); %>