:root {
    --dirtLight: rgb(156, 113, 73);
    --dirt: rgb(109, 74, 41);
    --dirtDark: rgb(77, 52, 29);
    --sky: rgb(175, 175, 238);
    --border: 5px solid var(--dirt);
    --borderThin: 2px solid var(--dirt);
    --borderThinLight: 2px solid var(--dirtLight);
}

.colony {
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.hill {
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
}

.chamber {
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
}