:root {
    --dirtLight: rgb(156, 113, 73);
    --dirt: rgb(109, 74, 41);
    --dirtDark: rgb(77, 52, 29);
    --sky: rgb(175, 175, 238);
    --border: 5px solid var(--dirt);
    --borderThin: 2px solid var(--dirt);
    --borderThinLight: 2px solid var(--dirtLight);
}

.ant-hill-game {
    width: 100%;
}

.field {
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.colony {
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.hill {
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.chamber {
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    padding-bottom: 60px;
}

.ant {
    border: var(--standardBorder);
    display: flex;
}

.ant .controls input {
    width: 200px;
}

.environment {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.068);
    user-select: none;
    pointer-events: none;
}

.environment h6 {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: auto;
}