<style>
    <%- include("./ant-hill.css"); %>
</style>

<button onclick="base.do('game/add-queen-egg')">Add Queen Egg</button>

<div class="ant-hill-game">
    
</div>

<hr>

<a href="/plains/the-grass/cow-town" class="to">
    Go to Cow Town
</a>

<script>
    <%- include("./ant-hill-game.js"); %>

    let antHillGame = null;

    base.load("ant-hill-game").then((res) => {
        antHillGame = new AntHillGame(res.colonies);
        setInterval(antHillGame.beat, 500);
    });
</script>