<link rel="stylesheet" href="/styles/projector.css">

<div class="projector" id="sanctuary"></div>

<hr>

<div class="dialogue" id="pastor"></div>

<hr>

<a class="go" href="/forest/eye/church/visitor-center">
    Enter the Visitor Center
</a>

<a class="go" href="/forest/eye/church/library">
    Enter the Library
</a>

<hr>

<a class="return" href="/forest/eye/church">
    Exit the Church
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/projector.js"></script>
<script>
    let pastorDialogue = new Dialogue("pastor", 2000, function () {
        return [
            Dialogue.textSlide("Welcome to the church.")
        ];
    });

    
    const projector = new Projector("sanctuary", <%= user.authLevels.includes("Creator") %> ? "save-projector" : null);
</script>