<style>
    <%- include("./lobby.css"); %>
</style>

<p>
    The creaking stops when you enter the lobby.
    A few tables and chairs are scattered throughout,
    a futile blockade between you and the bar in the back.
</p>

<hr>

<a class="go table" href="/forest/eye-of-the-forest/inn/table#pov=0">
    Sit at this Table
</a>

<a class="go table" href="/forest/eye-of-the-forest/inn/table#pov=1">
    Sit at this Table
</a>

<a class="go table" href="/forest/eye-of-the-forest/inn/table#pov=2">
    Sit at this Table
</a>

<a class="go table" href="/forest/eye-of-the-forest/inn/table#pov=3">
    Sit at this Table
</a>

<a class="go table" href="/forest/eye-of-the-forest/inn/table#pov=4">
    Sit at this Table
</a>

<hr>

<a class="go" href="/forest/eye-of-the-forest/inn/bar">
    Approach the Bar
</a>

<a class="go" href="/forest/eye-of-the-forest/inn/stage">
    Approach the Stage
</a>

<a class="to" href="/forest/eye-of-the-forest/inn/upstairs">
    Go Upstairs
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/inn">
    Exit the Inn
</a>

