<link rel="stylesheet" href="/styles/stream.css">
<style>
    <%- include("./styles/the-front.css"); %>
    <%- include("./styles/index.css"); %>
    <%- include("./styles/borders.css"); %>
</style>

<div class="logo">N</div>

<hr>

<div class="sign">
    <h4>NotherBase</h4>
    <h5>Est '21</h5>
    <h5>By Nother</h5>
</div>

<div class="basic what">
    <h4>About NotherBase</h4>
    <p>
        Welcome to NotherBase! This base is an online portal
        with a variety of mini web apps, games and widgets.
    </p>
    <p>
        Visit the shack nearby to submit an application for
        an account. 
    </p>
</div>

<div class="line">
    <h4>Apply Here To Exist:</h4>
    <ul>
        <li>
            <img src="/img/npcs/humphrey.png">
            <p>Humphrey</p>
        </li>
        <li>
            <img src="/img/npcs/sleepe.png">
            <p>Sleepe</p>
        </li>
        <li>
            <img src="/img/npcs/crictic.png">
            <p>Crictic</p>
        </li>
        <li>
            <img src="/img/npcs/steve.png">
            <p>Steve</p>
        </li>
        <li>
            <img src="/img/npcs/vetcul.png">
            <p>Vetcul</p>
        </li>
    </ul>
    <h5>This Line For NPCs Only!</h5>
</div>

<div class="toy">
    <img src="/img/misc/pac.png" id="pac" draggable="false">
</div>

<div class="toy">
    <img src="/img/misc/pac.png" id="pac2" draggable="false">
</div>

<div class="toy">
    <img src="/img/misc/pac.png" id="pac3" draggable="false">
</div>

<div class="toy">
    <img src="/img/misc/pac.png" id="pac4" draggable="false">
</div>

<div class="dialogue" id="unkiel"></div>

<hr>

<h2>Go to a Nearby Place:</h2>

<a class="to shack" href="/the-front/keeper">
    Approach the Shack
</a>

<a class="to gate" href="/the-front/gate">
    Approach the Gate
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/chat-box.js"></script>
<script>
    let color = 0;
    let brightness = 15;

    $(".logo").on("click", function () {
        color += 2;
        if (color > 255) color = 0;

        brightness += 2;
        if (brightness > 255) brightness = 255;

        $("footer").css("background-color", `rgb(
                ${brightness * (color) / 255}, 
                ${brightness * (color % 2) / 255}, 
                ${brightness * (255 - color) / 255}
            )`
        );
    });

    let lastAngle = 0;
    let $pac = $("#pac");
    let $pac2 = $("#pac2");
    let $pac3 = $("#pac3");
    let $pac4 = $("#pac4");

    let rotate = function rotate(e) {
        lastAngle += 90;
        $pac.css("transform", `rotate(${lastAngle}deg)`);
        $pac2.css("transform", `rotate(${lastAngle + 90}deg)`);
        $pac3.css("transform", `rotate(${lastAngle + 180}deg)`);
        $pac4.css("transform", `rotate(${lastAngle + 270}deg)`);
    }

    $("#pac").click(rotate);
    $("#pac2").click(rotate);
    $("#pac3").click(rotate);
    $("#pac4").click(rotate);


    let unkielTree = (self) => {
        return [
            Dialogue.createTextSlide(1, "Woah..."),
            Dialogue.createTextSlide(2, "I exist now."),
            Dialogue.createTextSlide(4, "Crazy.")
        ];
    };
    let unkielDialogue = new Dialogue("unkiel", 3500, unkielTree, "/img/npcs/unkiel.png");
</script>