:root {
    --notherColor: rgb(65, 65, 65);
    --gateColor: rgb(128, 128, 128);
    --gateColorBright: rgb(187, 187, 187);
}

.logo {
    border-radius: 50%;
    box-shadow: 15px 15px 5px var(--shadowColor);
    width: 20vh;
    height: 20vh;
    border-bottom: 10vh solid var(--gateColor);
    border-top: 10vh solid var(--notherColor);
    margin: 30px;
    color: white;
    font-size: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease;
}

.logo:hover {
    transform: scale(1.01);
    transition: all .1s ease;
}

.logo:active {
    transform: scale(.95);
    transition: all .2s ease;
}

.sign {
    min-width: 45%;
}

.sign .default, .sign .about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.line {
    width: var(--fillFromMargin);
    background-color: var(--bgColor);
    border: var(--thickBorder);
    padding: 0;
    margin: var(--margin);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.line ul {
    height: 300px;
    overflow: auto;
    border: var(--standardBorder);
    width: 100%;
    margin: 0;
}

.line li {
    margin: var(--margin);
    padding: var(--padding);
    list-style: none;
    position: relative;
    height: 50px;
    background-color: var(--bgColor);
}

.line img {
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.line p {
    text-align: right;
}

.toy {
    margin-right: 10px;
    margin-bottom: 10px;
}

#pac2 {
    transform: rotate(90deg);
}

#pac3 {
    transform: rotate(180deg);
}

#pac4 {
    transform: rotate(270deg);
}

#pac, #pac2, #pac3, #pac4 {
    transition: all 1s ease, scale .1s ease;
}

#pac:hover, #pac2:hover, #pac3:hover, #pac4:hover {
    scale: 1.05;
    cursor: pointer;
}