<style>
    <%- include("../styles/fish.css") %>
</style>

<div class="game">
    <div class="halo">
        <div class="sun"></div>
    </div>
    
    <div class="background">

    </div>
    <div class="ground">

    </div>
    <div class="dock">
        <div class="pole"></div>
    </div>
    <div class="water">
        <div class="boat">
            
        </div>
        <div class="waters">

        </div>
    </div>

    <div class="cloud">
        
    </div>
</div>

<hr>

<a class="return" href="/forest/pond/dock">
    Stop Fishing
</a>

<script>
    <%- include("../local-scripts/fish.js") %>
</script>