<style>
    <%- include("../styles/fish.css") %>
</style>

<div class="game">
    <div class="halo">
        <div class="sun"></div>
    </div>
    <div class="cloud">
        
    </div>


    <div class="ground">

    </div>
    <div class="dock">
        <div class="pole"></div>
    </div>
    <div class="water">
        
    </div>
</div>

<hr>

<a class="return" href="/forest/road/side">
    Stop Fishing
</a>