<p>
    This is the theater.
</p>

<div class="chat-box" id="eotf-theater"></div>

<hr>

<a class="to" href="/forest/eye/square">
    Exit the Theater
</a>


<script src="/js/chat-box.js"></script>

<script>
    <% if (user) { %>
        let chat = new ChatBox("<%= user.username %>", "eotf-theater");
    <% } else { %>
        let chat = new ChatBox("An Unknown Person", "eotf-theater");
    <% } %>
</script>