<div class="bookshelf">
    <div class="shelf">
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
    </div>
    <div class="shelf">
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
    </div>
    <div class="shelf">
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
    </div>
</div>