<p>
    On the table is an ad for a future expidition
    into the snowy tundra. There is a place for you
    to sign up to join the expidition.
</p>

<hr>

<div class="signup">

</div>

<hr>

<a href="/forest/eye-of-the-forest/inn/lobby">
    Go into the Inn
</a>

<a href="/forest/eye-of-the-forest/inn">
    Return to the Front of the Inn
</a>