<p>
    Approaching the inn reveals a creaky vessel,
    livid with decay. It beckons you in, but it
    is not the beckoning of warmth or rest.
</p>

<hr>

<div class="signup">
    <h3>Looking for Tundra Explorers!</h3>
    <p>
        Register here to be part of the next
        expidition into the snowy tundra!
    </p>
</div>

<hr>

<a href="/forest/eye-of-the-forest/inn/lobby">
    Enter the Inn
</a>

<a href="/forest/eye-of-the-forest/square">
    Return to the Square
</a>