<p>
    Approaching the inn reveals a creaky vessel,
    livid with decay. It beckons you in, but it
    is not the beckoning of warmth or rest.
</p>

<p>
    You see a small table off to one side of
    the entrance.
</p>

<hr>

<a href="/forest/eye-of-the-forest/inn/lobby">
    Enter the Inn
</a>

<a href="/forest/eye-of-the-forest/inn/expidition-signup">
    Approach the Table
</a>

<a href="/forest/eye-of-the-forest/square">
    Return to the Square
</a>