<style>
    <%- include("../styles/signup.css"); %>
</style>

<p>
    Approaching the inn reveals a creaky vessel,
    livid with decay. It beckons you in, but it
    is not the beckoning of warmth or rest.
</p>

<hr>

<div class="sign">
    <h3>Looking for Tundra Explorers!</h3>
    <p>
        Register here to be part of the next
        expidition into the snowy tundra!
    </p>
    <ul>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
        <li class="player"></li>
    </ul>
    <button>Register for this Expidition</button>
</div>

<hr>

<a class="to" href="/forest/eye-of-the-forest/inn/lobby">
    Enter the Inn
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/square">
    Return to the Square
</a>