<style>
    <%- include("../styles/fridge.css") %>
</style>

<p>
    Ignoring the smell is not enough. You plug your
    nose. You can't stay here long.
</p>

<hr>

<div class="pantry">
    <ul>
        <li>
            <input type="number" placeholder="amount">
            <input type="text" placeholder="measure">
            <input type="text" placeholder="item">
            <input type="date" id="exp">
        </li>
    </ul>
</div>

<div class="fridge">
    <div class="tablet">

    </div>
    <div class="items">
        <div class="tabs">
            <button id="all">All</button>
            <button id="leftovers">Leftovers</button>
            <button id="premades">Premades</button>
            <button id="meats">Meats</button>
            <button id="vegetables">Vegetables</button>
            <button id="misc">Misc</button>
            <button id="exp">Exp</button>
        </div>
        <ul>
            <li>
                <input type="number" placeholder="amount" id="amount">
                <input type="text" placeholder="measure" id="measure">
                <input type="text" placeholder="item" id="item">
                <input type="date" id="exp">
            </li>
        </ul>
    </div>
    <ul class="condiments">
        <li>
            <input type="checkbox" id="buy-more">
            <input type="text" placeholder="item">
            <input type="date" id="exp">
        </li>
    </ul>
    <ul class="freezer">
        <li>
            <input type="number" placeholder="amount" id="amount">
            <input type="text" placeholder="measure" id="measure">
            <input type="text" placeholder="item" id="item">
            <input type="date" id="exp">
        </li>
    </ul>
    <div class="buttons">

    </div>
    <div id="left-foot"></div>
    <div id="right-foot"></div>
</div>

<hr>

<a href="/forest/eye-of-the-forest/inn/lobby">
    Return to the Lobby
</a>