<link rel="stylesheet" href="/styles/stream.css">
<style>
    <%- include("../styles/stage.css"); %>
</style>

<p>
    There is a small stage.
</p>

<hr>

<div class="stage">
    <div class="stream">
        <div class="source"></div>
        <a class="label" href="#">No Streamer</a>
    </div>
</div>

<hr>

<a class="return" href="/forest/eye-of-the-forest/inn/lobby">
    Back away from the Stage
</a>