<style>
    <%- include("./basement.css"); %>
</style>

<p>
    You go downstairs.
</p>

<p>
    The sound of computer fans whirring and intense
    heat fill the room.
</p>

<hr>

<div class="monitor">
    <div class="screen">
        <p>Wyatt's Bedrock Minecraft Server</p>
        <p>Address: 73.11.150.171</p>
        <p>Port: 19132</p>
        <p id="status">Status: Offline</p>
        <p id="players">Players: 0</p>
    </div>
</div>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom" class="return">
    Go back to the Livingroom
</a>

<script>
    
</script>