<%- include("../../../global/parts/head.ejs"); %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/portfolio.css">

<nav class="nav-closed">
    <h1>Wyatt Sushinsky</h1>
</nav>

<header>
    <div class="portrait">
        <div class="portrait-fade"></div>
    </div>
    <h2>Wyatt Sushinsky</h2>
    <h3>Software Engineer</h3>
</header>

<main>
    <section class="showcase">
        <h3>Cannabis Product Diary</h3>
        <p>
            Cannabis Product Diary helps you keep track of your purchased cannabis products and
            the experiences garnered from these products. I find that large sites like Leafly
            fail to provide any accurate information about the products at local dispensaries,
            so this app is useful for anyone wanting to keep track of details about the local
            products they've purchased.
        </p>
        <p>
            This app is currently still in development. More features will be added soon. For now,
            you can use the latest version of the app 
            <a href="https://cannabis-product-diary.herokuapp.com/">HERE</a>.
        </p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase">
        <h3>Tamago Watch</h3>
        <p>Description</p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase">
        <h3>Won Ventures</h3>
        <p>Description</p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase">
        <h3>Wayfarer</h3>
        <p>Description</p>
        <img src="/img/0.jpg" />
    </section>
</main>

<script>
    $(window).scroll(function() {
        if (window.scrollY > (3 / 4) * parseInt($("header").css("height"))) {
            $("nav").removeClass("nav-closed");
        }
        else {
            $("nav").addClass("nav-closed");
        }
    });
</script>


<%- include("../../../global/parts/footer.ejs"); %>