<%- include("../../../global/parts/head.ejs"); %>

<link rel="stylesheet" href="/styles/portfolio.css">

<header>
    <h1>My Projects</h1>
</header>

<main>
    <section class="showcase">
        <h3>Cannabis Product Diary</h3>
        <p>Description</p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase">
        <h3>Cannabis Product Diary</h3>
        <p>Description</p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase">
        <h3>Cannabis Product Diary</h3>
        <p>Description</p>
        <img src="/img/0.jpg" />
    </section>
</main>

<%- include("../../../global/parts/footer.ejs"); %>