<%- include("../../../global/parts/head.ejs"); %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/portfolio.css">

<nav class="nav-closed">
    <h1>Wyatt Sushinsky</h1>
</nav>

<header>
    <div class="portrait">
        <div class="portrait-fade"></div>
    </div>
    <h2>Wyatt Sushinsky</h2>
    <h3>Software Engineer</h3>
</header>

<main>
    <section class="showcase" id="cpd">
        <h3>Cannabis Product Diary</h3>
        <p>
            Cannabis Product Diary helps you keep track of your purchased cannabis products and
            the experiences garnered from these products. I find that large sites like Leafly
            fail to provide any accurate information about the products at local dispensaries,
            so this app is useful for anyone wanting to keep track of details about the local
            products they've purchased.
        </p>
        <p>
            This app is currently still in development. More features will be added soon. For now,
            you can use the latest version of the app 
            <a href="https://cannabis-product-diary.herokuapp.com/">HERE</a>.
        </p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase" id="tamago-watch">
        <h3>Tamago Watch</h3>
        <p>
            Tamago Watch is a virtual toy based off the classic Tamagotchi toy. I focused on
            making this toy rigid and consistent, so that it may invoke the feeling of real-life
            hardware. Just like the real toy, the Tamago Watch is arguably more fun to discover
            than to actually play for any extended period of time.
        </p>
        <p>
            This app is has been released and no future updates are planned. You can use the 
            latest version of the app 
            <a href="https://pages.git.generalassemb.ly/wsushinsky/Tamago-Watch/">HERE</a>.
        </p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase" id="won-ventures">
        <h3>Won Ventures</h3>
        <p>
            Won Ventures is a stock-trading site built by 
            <a href="https://www.linkedin.com/in/jonathanmichaelpark/">Jon Park</a> and myself.
            The project is a practice on reverse-engineering CRUD functionality from other 
            sites. In this case, we modeled after sites like Robinhood. A large focus was
            gaining collaboration experience. This was my first real team project and it was
            a pleasure to work with Jon.
        </p>
        <p>
            This app is has been released and no future updates are planned. It, of course, is
            missing many of Robinhood's features(including actual stock trading), but you can 
            check out the app 
            <a href="https://won-ventures.herokuapp.com/">HERE</a>.
        </p>
        <img src="/img/0.jpg" />
    </section>
    <section class="showcase" id="wayfarer">
        <h3>Wayfarer</h3>
        <p>
            A city park and travelling app. The focus of this project was meeting client
            timelines and expectations. Since this was a project during my time studying at 
            General Assembly, my instructor role-played as the client. My team(
            <a href="https://www.linkedin.com/in/lesley-sauter-45372437/">Lesley Sauter</a> 
            and <a href="https://www.linkedin.com/in/scott-sperry0409/">Scott Perry</a>) and I 
            would meet with the client and fulfill planned sprints.
        </p>
        <p>
            This app is has not been deployed as of yet and no future updates are planned.
        </p>
        <img src="/img/0.jpg" />
    </section>
</main>

<script>
    $(window).scroll(function() {
        if (window.scrollY > (3 / 4) * parseInt($("header").css("height"))) {
            $("nav").removeClass("nav-closed");
        }
        else {
            $("nav").addClass("nav-closed");
        }
    });
</script>


<%- include("../../../global/parts/footer.ejs"); %>