<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= siteTitle %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/portfolio.css">
</head>

<body>
    <nav class="nav-closed">
        <h1>Wyatt Sushinsky</h1>

        <div>
            <a href="https://www.linkedin.com/in/wyatt-sushinsky/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Mosshide"><i class="fab fa-github-square"></i></a>
        </div>
    </nav>

    <header>
        <div class="portrait">
            <div class="portrait-fade"></div>
        </div>

        <h2>Wyatt Sushinsky</h2>

        <h3>Software Engineer</h3>

        <div class="external-links">
            <a href="https://www.linkedin.com/in/wyatt-sushinsky/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Mosshide"><i class="fab fa-github-square"></i></a>
        </div>
    </header>

    <main>
        <section class="showcase" id="notherbase">
            <img src="/img/logo.png" />

            <div class="text">
                <h3>NotherBase</h3>

                <h4>
                    <a target="_blank" href="https://github.com/Mosshide/NotherBase">
                        <i class="fab fa-github-square"></i>Repository
                    </a>

                    <a target="_blank" href="https://www.notherbase.com/">
                        <i class="fas fa-external-link-square-alt"></i>Live App
                    </a>
                </h4>

                <hr>

                <p>
                    Welcome to NotherBase! This is my web app playground. 
                    Explore the world of NotherBase and unlock its secrets.
                </p>

                <p>
                    This app is currently in development.
                </p>
            </div>
        </section>

        <section class="showcase" id="notherbase-fs">
            <img src="/img/logo.png" />

            <div class="text">
                <h3>notherbase-fs</h3>

                <h4>
                    <a target="_blank" href="https://github.com/Mosshide/notherbase-fs">
                        <i class="fab fa-github-square"></i>Repository
                    </a>

                    <a target="_blank" href="https://www.npmjs.com/package/notherbase-fs">
                        <i class="fas fa-external-link-square-alt"></i>Latest Release
                    </a>
                </h4>

                <hr>

                <p>
                    This is a Node.js package that is in development along with NotherBase.
                    It adapts Express.js so I can produce content quicker.
                </p>
            </div>
        </section>

        <section class="showcase" id="cpd">
            <img src="/img/cpd_ss.jpg" />

            <div class="text">
                <h3>Cannabis Product Diary</h3>

                <h4>
                    <a target="_blank" href="https://github.com/Mosshide/cannabis-product-diary">
                        <i class="fab fa-github-square"></i>Repository
                    </a>

                    <a target="_blank" href="https://cpd.notherbase.com/">
                        <i class="fas fa-external-link-square-alt"></i>Live App
                    </a>
                </h4>

                <hr>

                <p>
                    Cannabis Product Diary helps you keep track of your purchased cannabis products and
                    the experiences garnered from these products. I find that large sites like Leafly
                    fail to provide any accurate information about the products at local dispensaries,
                    so this app is useful for anyone wanting to keep track of details about the local
                    products they've purchased.
                </p>

                <p>
                    This app is currently in development.
                </p>
            </div>
        </section>

        <section class="showcase" id="tamago-watch">
            <%- include("parts/tamago.ejs"); %>

            <div class="text">
                <h3>Tamago Watch</h3>

                <h4>
                    <a target="_blank" href="https://github.com/Mosshide/tamago-watch">
                        <i class="fab fa-github-square"></i>Repository
                    </a>

                    <a target="_blank" href="https://mosshide.github.io/tamago-watch/">
                        <i class="fas fa-external-link-square-alt"></i>Live App
                    </a>
                </h4>

                <hr class="light">

                <p>
                    Tamago Watch is a virtual toy based off the classic Tamagotchi toy. I focused on
                    making this toy rigid and consistent, so that it may invoke the feeling of real-life
                    hardware. Just like the real toy, the Tamago Watch is arguably more fun to discover
                    than to actually play for any extended period of time.
                </p>

                <p>
                    This app is has been released and no future updates are planned.
                </p>
            </div>
        </section>

        <section class="showcase" id="won-ventures">
            <img src="/img/wv_ss.jpg" />
            
            <div class="text">
                <h3>Won Ventures</h3>

                <h4>
                    <a target="_blank" href="https://github.com/Mosshide/won-ventures">
                        <i class="fab fa-github-square"></i>Repository
                    </a>

                    <a target="_blank" href="https://won-ventures.herokuapp.com/">
                        <i class="fas fa-external-link-square-alt"></i>Live App
                    </a>
                </h4>

                <hr>

                <p>
                    Won Ventures is a stock-trading site built by 
                    <a href="https://www.linkedin.com/in/jonathanmichaelpark/">Jon Park</a> and myself.
                    The project is a practice on reverse-engineering CRUD functionality from other 
                    sites. In this case, we modeled after sites like Robinhood. A large focus was
                    gaining collaboration experience. This was fun team project and it was
                    a pleasure to work with Jon.
                </p>

                <p>
                    This app is has been released and no future updates are planned.
                </p>
            </div>
        </section>

        <section class="showcase" id="wayfarer">
            <img src="/img/wf_ss.jpg" />

            <div class="text">
                <h3>Wayfarer</h3>

                <h4>
                    <a target="_blank" href="https://github.com/Mosshide/wayfarer">
                        <i class="fab fa-github-square"></i>Repository
                    </a>
                </h4>

                <hr class="light">

                <p>
                    A city park and travelling app. The focus of this project was meeting client
                    timelines and expectations. My team(
                    <a href="https://www.linkedin.com/in/lesley-sauter-45372437/">Lesley Sauter</a> 
                    and <a href="https://www.linkedin.com/in/scott-sperry0409/">Scott Perry</a>) and I 
                    would meet with the client and fulfill planned sprints. We adhered to our client's
                    user stories and wireframes, and communicated effectively with the client to ensure
                    they were satisfied with our work.
                </p>

                <p>
                    This app is has not been deployed as of yet and no future updates are planned.
                </p>
            </div>
        </section>
    </main>

    <script>
        $(window).scroll(function() {
            if (window.scrollY > (3 / 4) * parseInt($("header").css("height"))) {
                $("nav").removeClass("nav-closed");
            }
            else {
                $("nav").addClass("nav-closed");
            }
        });
    </script>
</body>
</html>