<p>
    You continue west and find yourself faced
    by a towering dune. Something is telling you
    there might be an oasis just past it.
</p>

<hr>

<a href="/desert/wilderness/north">
    Go North
</a>

<a href="/desert/wilderness/east">
    Go East
</a>

<a href="/desert/wilderness/south">
    Go South
</a>

<a href="/desert/wilderness/west">
    Go West
</a>