<style>
    <%- include("./index.css"); %>
</style>

<div class="floatables">
    <div class="browser"></div>
    <div class="search-box"></div>
    <div class="meta buttons"></div>
</div>

<hr>

<a  class="return" href="/forest/eye/town-hall/lobby">
    Return to the Lobby
</a>

<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    <%- include("./groupManager.js") %>    

    const floatBoard = new FloatBoard();
</script>