<p>
    Large boulders block the way south.
    You could climb over them, but it'll
    take some time.
</p>

<hr>

<a href="/desert/wilderness/north">
    Go North
</a>

<a href="/desert/wilderness/east">
    Go East
</a>

<a href="/desert/wilderness/south">
    Go South
</a>

<a href="/desert/wilderness/west">
    Go West
</a>