<p>
    This is a small library in the school with some
    comfy couches, chairs and tables.
</p>

<hr>

<a class="to" href="/forest/eye/school/cafe">
    Go to the Cafe
</a>

<hr>

<a class="return" href="/forest/eye/school/lobby">
    Return to the Lobby
</a>