<p>
    You enter the church and see pew after pew.
</p>

<hr>

<div class="dialogue" id="pastor">
    <div class="frame">
        <img src="/img/npcs/anon.png" class="portrait">
    </div>
    <div class="heart"></div>
    <div class="content">

    </div>
</div>

<hr>

<a class="go" href="/forest/eye-of-the-forest/church/visitor-center">
    Enter the Visitor Center
</a>

<a class="go" href="/forest/eye-of-the-forest/church/library">
    Enter the Library
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/church">
    Exit the Church
</a>

<script src="/js/dialogue.js"></script>
<script>
    let pastorDialogue = new Dialogue("pastor", 2000, () => {
        return [
            Dialogue.createTextSlide(1, "Welcome to the church.")
        ];
    });
</script>