<p>
    The library stands before you.
</p>

<hr>

<a class="go" href="/forest/eye-of-the-forest/library/lobby">
    Enter the Library
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/square">
    Return to the Square
</a>