<style>
    <%- include("./recipe-browser.css"); %>
</style>
<link rel="stylesheet" href="/styles/browser.css">

<h3>Recipes for Food</h3>

<div class="browser" id="recipes"></div>

<hr>

<a class="return" href="/forest/eye/library/lobby">
    Return to the Lobby
</a>

<script src="/js/util/browser.js"></script>
<script>
    <%- include("./recipe-browser.js"); %>
    let recipeBrowser = new RecipeBrowser("recipes");

    base.load("recipes").then((res) => {
        recipeBrowser.load(res);
    });
</script>