<style>
    <%- include("../smith.css"); %>
    <%- include("./forge.css"); %>
</style>

<p>
    The forge is currently not active.
</p>

<hr>

<div class="scene">
    <div class="building">

    </div>
    <div class="addition">
        <div class="cover">
            <div class="support"></div>
        </div>
        <div class="forge">
            <div class="fire"></div>
        </div>
    </div>
</div>

<hr>

<a class="return" href="/forest/eye-of-the-forest/smith">
    Exit the Forge
</a>