<h1>H1 Tavern Lobby</h1>

<div class="ceiling">
    <h3>Welcome !!!H3</h3>

    <p>
        A p tag. Let's try to give it several lines of text to demonstrate what will happen as it is squished
        in various containers and interacting with other same-level elements. That first sentence was a pretty
        good length, but this is going to need a bit more. Now that I've widened the main element, this p tag
        is due for more words.
    </p>

    <p>
        A p tag. Let's try to give it several lines of text to demonstrate what will happen as it is squished
        in various containers and interacting with other same-level elements. That first sentence was a pretty
        good length, but this is going to need a bit more. Now that I've widened the main element, this p tag
        is due for more words.
    </p>

    <hr>
</div>

<div class="sign">
    <h5>A Sign h5</h5>
    <p>
        A p tag. Let's try to give it several lines of text to demonstrate what will happen as it is squished
        in various containers and interacting with other same-level elements. That first sentence was a pretty
        good length, but this is going to need a bit more.
    </p>
    <p>
        Here is some information that might appear on a sign. A quest needs doing that has as a reward for
        its completion the item(s) below:
    </p>
    <h2>$50000 h2</h2>
</div>

<div class="search">
    <h4>Search h4</h4>
    <input type="text" placeholder="search">
    <h5>Selector List h5</h5>
    <ul class="selector">
        <li id="0" onclick="selectItem(this)">A basic li</li>
        <li id="1" onclick="selectItem(this)">A basic li</li>
        <li id="2" onclick="selectItem(this)">A basic li</li>
        <li id="3" onclick="selectItem(this)">A basic li</li>
        <li id="4" onclick="selectItem(this)">A basic li</li>
        <li id="5" onclick="selectItem(this)">A basic li</li>
        <li id="6" onclick="selectItem(this)">A basic li</li>
        <li id="7" onclick="selectItem(this)">A basic li</li>
        <li id="8" onclick="selectItem(this)">A basic li</li>
        <li id="9" onclick="selectItem(this)">A basic li</li>
        <li id="10" onclick="selectItem(this)">A basic li</li>
        <li id="11" onclick="selectItem(this)">A basic li</li>
    </ul>
</div>

<div class="memo" id="mini">
    <input type="text" id="litty">
    <button onclick="mini.save()">Save</button>
</div>
<ul>
    <h4>UL Header (h4)</h4>
    <li>A basic li</li>
    <li>A basic li</li>
    <li>A basic li</li>
    <li>A basic li</li>
</ul>

<div class="dialogue" id="keeper">
    <div class="frame">
        <img src="/img/npcs/anon.png" class="portrait">
    </div>
    <div class="heart"></div>
    <div class="content">
        
    </div>
</div>

<div class="merchant" id="tools">

</div>

<div class="form ">
    <h4>Form h4</h4>
    <label>
        Your Name:
        <input type="text" placeholder="text">
    </label>
    <label>
        Your Age:
        <input type="number">
    </label>
    <label>
        Current Time:
        <input type="datetime-local">
    </label>
    <label>
        Your Birthday:
        <input type="date">
    </label>
    <label>
        A Future Date:
        <input type="time">
    </label>
    <label>
        <input type="checkbox">First
    </label>
    <label>
        <input type="checkbox">Second
    </label>
    <label>
        <input type="checkbox">Third
    </label>
    <label>
        <input type="checkbox">Fourth
    </label>
    <label>
        <input type="checkbox">Fifth
    </label>
    <label>
        Give Me Your Life Story:
        <textarea cols="30" rows="10"></textarea>
    </label>
    <button>Basic Button</button>
    <button>Basic Button</button>
    <button>Basic Button</button>
    <button>Basic Button</button>
    <button>Basic Button</button>
    <p class="info">Check yourself!</p>
</div>

<hr>

<button class="do">Do</button>
<a href="/zebra" class="door">Go to Zebra
    <div class="knob"></div>
</a>
<a href="#" class="go locked">Go to IT</a>


<hr>

<a href="/zebra" class="go">Go to Zebra</a>
<a href="/it" class="go">Go to IT</a>
<a href="/portfolio" class="to">To Portfolio</a>

<hr>

<a href="/forest/clearing/wyatts-house/upstairs" class="return-door">
    Exit the Closet
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/merchant.js"></script>
<script src="/js/memo.js"></script>
<script>
    let selectItem = (element) => {
        $(".selector li").removeClass("selected");
        $(element).addClass("selected");
    }

    let mini = new Memo("mini", "mini");

    let keeper = new Dialogue("keeper", 4000, (self) => {
        if (Dialogue.checkGlobalFlag("logged-in")) {
            return [
                Dialogue.createTextSlide(1, "Did you hear that?"),
                Dialogue.createTextSlide(1, "You've logged in successfully!"),
                Dialogue.createTextSlide(1, "Head on through the gate.")
            ]
        }
        else if (self.checkFlag("first-time")) {
            return [
                Dialogue.createTextSlide(1, "That's wonderful!"),
                Dialogue.createTextSlide(1, "You can register an account using the clipboard on your right."),
                Dialogue.createTextSlide(1, "Use the clipboard on your left to login."),
                Dialogue.createTextSlide(1, "After successfully logging in, you can enter NotherBase through the gate."),
                Dialogue.createTextSlide(1, "I can't wait to see you in NotherBase!")
            ]
        }
        else if (self.checkFlag("second-time")) {
            return [
                Dialogue.createTextSlide(1, "Then don't let me keep you. :)")
            ]
        }
        else {
            return [
                Dialogue.createTextSlide(1, "Hi! Welcome to NotherBase!"),
                Dialogue.createTextSlide(1, "Is it your first time?"),
                Dialogue.createButtonSlide(2, [
                    Dialogue.createButton("Yes, it is actually.", "first-time"),
                    Dialogue.createButton("No, I know the way.", "second-time"),
                    Dialogue.createButton("Please leave me alone.", "third-time")
                ])
            ];
        }
    });

    merchant.addStall("tools");
    merchant.addCurrency(1000);
    merchant.addItem("Debris", 100, "tools", 20);
    merchant.addItem("Chisel", 100, "tools", 20);
    merchant.addItem("Axe", 100, "tools", 20);
    merchant.addItem("Fishing Rod", 100, "tools", 20);
    merchant.addItem("Hammer", 100, "tools", 20);
    merchant.addItem("Hoe", 100, "tools", 20);
    merchant.addItem("Knife", 100, "tools", 20);
    merchant.addItem("Pickaxe", 100, "tools", 20);
    merchant.addItem("Shovel", 100, "tools", 20);
    merchant.addItem("Oar", 100, "tools", 20);
    merchant.addItem("Scythe", 100, "tools", 20);
    merchant.addItem("Stick Net", 100, "tools", 20);
</script>