<style>
    <%- include("../styles/laylas-room.css"); %>
    <%- include("../styles/toy-box.css"); %>
</style>

<h2>Layla's Room</h2>

<hr>

<article>
    <h3>My Skills</h3><hr>
    <ul>
        <li>***** Mongering</li>
        <li>Bad *****</li>
    </ul>
</article>

<article>
    <h3>To Do</h3><hr>
    <ul>
        <li>Go to Work</li>
        <li>Kiss Wyatt</li>
    </ul>
</article>

<article>
    <h3>Recipes</h3><hr>
    <ul>
        <li>Guratan</li>
        <li>Goulash</li>
    </ul>
</article>

<article>
    <h3>Toy Box</h3><hr>
    <%- include("parts/toy-box.ejs"); %>
</article>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom" class="return-door">
    Exit Layla's Room
</a>