<style>
    <%- include("../styles/livingroom.css"); %>
</style>

<p>
    The livingroom is mostly bare, containing nothing
    more than a dusty bookshelf. A pink door leads to
    a room.
</p>

<hr>

<div class="bookshelf">
    <div class="shelf">

    </div>
    <hr>
    <div class="shelf">
        
    </div>
    <hr>
    <div class="shelf">
        
    </div>
</div>

<hr>

<div class="exit">
    <a href="/forest/clearing/wyatts-house/laylas-room" class="door" id="layla">
        Layla's Room
        <div class="knob"></div>
    </a>
    
    <a href="/forest/clearing/wyatts-house/upstairs" class="door" id="up">
        Upstairs
        <div class="knob"></div>
    </a>
    
    <a href="/forest/clearing/wyatts-house/basement" class="door" id="down">
        Basement
        <div class="knob"></div>
    </a>
    
    
    <hr>
    
    <a href="/forest/clearing/wyatts-house" class="return">
        Exit Wyatt's House
    </a>
</div>