<style>
    <%- include("../styles/upstairs.css"); %>
</style>

<p>
    Reaching the top of the stairs, you bolt to the window and open
    the wooden blinds to let light and fresh air spill around you.
</p>

<hr>

<div class="today">
    <h3>To Do Today</h3>
    <ul>
        <li>
            <p>Praised my Lord</p>
            <input type="checkbox" name="bible" id="dishes">
        </li>
        <li>
            <p>Went to Work</p>
            <input type="checkbox" name="job" id="dishes">
        </li>
        <li>
            <p>Cleaned Dishes</p>
            <input type="checkbox" name="dishes" id="dishes">
        </li>
        <li>
            <p>Took Out the Trash</p>
            <input type="checkbox" name="trash" id="dishes">
        </li>
        <li>
            <p>Excercised at Least 30 Minutes</p>
            <input type="checkbox" name="excersize" id="dishes">
        </li>
        <li>
            <p>Vacuumed and Extra Chores</p>
            <input type="checkbox" name="extra" id="dishes">
        </li>
    </ul>
</div>

<div id="destiny">
    <button class="folder" id="bigscreen-folder">Big Screen</button>
    <% if (query.embed) { %>
        <iframe class="folded" id="bigscreen" src="https://www.youtube.com/embed/<%= query.embed %>" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    <% } else { %>
        <iframe
            class="folded" id="bigscreen"
            src="https://player.twitch.tv/?channel=destiny&parent=www.notherbase.com"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    <% } %>
    <iframe class="folded" id="dgg-chat" src="https://www.destiny.gg/embed/chat?follow=%2Fbigscreen"></iframe>
    <button class="folder" id="chat-folder">Chat</button>
</div>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom" class="return-door">
    Go Downstairs
</a>

<script>
    $("#bigscreen-folder").on("click", function () {
        $("#bigscreen").toggleClass("folded");
    });

    $("#chat-folder").on("click", function () {
        $("#dgg-chat").toggleClass("folded");
    });
</script>