<style>
    <%- include("../styles/upstairs.css"); %>
    <%- include("../styles/wallet.css"); %>
</style>

<p>
    Reaching the top of the stairs, you bolt to the window and open
    the wooden blinds to let light and fresh air spill around you.
</p>

<hr>

<div class="todo today">
    <div class="main">
        <h3>To Do Today</h3>
        <ul>
            
        </ul>
    </div>
    <div class="new invisible">
        <h3>Submit a New Task for Today</h3>
        <input type="text" id="task">
        <input type="time" id="time">
        <button onclick="todo.submitToday()">Submit</button>
    </div>
    <button onclick='todo.flip("today")'>#</button>
</div>

<div class="todo week">
    <div class="main">
        <h3>To Do This Week</h3>
        <ul>
            
        </ul>
    </div>
</div>

<div class="todo month">
    <div class="main">
        <h3>To Do This Month</h3>
        <ul>
            
        </ul>
    </div>
</div>

<div class="todo year">
    <div class="main">
        <h3>To Do This Year</h3>
        <ul>
            
        </ul>
    </div>
</div>

<div class="wallet">
    <h2>Your Wallet</h2>
    <div class="summary">
        <div class="spending">
            <h3>Spending Money Left</h3>
            <h4 id="week">This Week: $0</h4>
            <h4 id="month">This Month: $0</h4>
            <input type="text" id="item"><input type="number" id="spend"><button onclick="">Spend</button>
        </div>
        <div class="flow">
            <h3>Cash Flow Last Month</h3>
            <h4 id="income">Made: $0</h4>
            <h4 id="expenses">Spent: $0</h4>
            <h4 id="saved">Saved: $0</h4>
        </div>
    </div>
    <div class="settings invisible">
    </div>
    <button onclick="wallet.toggleView()">$$</button>
</div>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom" class="return-door">
    Go Downstairs
</a>

<script src="/js/path-util.js"></script>
<script>
    (async function() {
  await Promise.resolve(console.log('🎉'));
  // → 🎉
}());
    await pathLoader.loadPath("forest", "clearing", "wyatts-house", "upstairs");

    <%- include("../local-scripts/todo.js") %>
    <%- include("../local-scripts/wallet.js") %>
</script>