<style>
    <%- include("../styles/upstairs.css"); %>
    <%- include("../styles/wallet.css"); %>
</style>

<p>
    Reaching the top of the stairs, you bolt to the window and open
    the wooden blinds to let light and fresh air spill around you.
</p>

<hr>

<div class="todo today">
    <div class="loading">
        <h5>Loading...</h5>
    </div>
    <div class="main invisible">
        <h3>To Do Today</h3>
        <ul>
            
        </ul>
    </div>
    <div class="new invisible">
        <h3>Submit a New Task for Today</h3>
        <label>
            Description: 
            <input type="text" id="task">
        </label>
        <button onclick="todo.submit('today')">Submit</button>
    </div>
    <button onclick='todo.flipToNew("today")'>#</button>
</div>

<div class="todo week">
    <div class="loading">
        <h5>Loading...</h5>
    </div>
    <div class="main">
        <h3>To Do This Week</h3>
        <ul>
            
        </ul>
    </div>
    <div class="new invisible">
        <h3>Submit a New Task for This Week</h3>
        <label>
            Description: 
            <input type="text" id="task">
        </label>
        <button onclick="todo.submit('week')">Submit</button>
    </div>
    <button onclick='todo.flipToNew("week")'>#</button>
</div>

<div class="todo month">
    <div class="loading">
        <h5>Loading...</h5>
    </div>
    <div class="main">
        <h3>To Do This Month</h3>
        <ul>
            
        </ul>
    </div>
    <div class="new invisible">
        <h3>Submit a New Task for This Month</h3>
        <label>
            Description: 
            <input type="text" id="task">
        </label>
        <button onclick="todo.submit('month')">Submit</button>
    </div>
    <button onclick='todo.flipToNew("month")'>#</button>
</div>

<div class="todo year">
    <div class="loading">
        <h5>Loading...</h5>
    </div>
    <div class="main">
        <h3>To Do This Year</h3>
        <ul>
            
        </ul>
    </div>
    <div class="new invisible">
        <h3>Submit a New Task for This Year</h3>
        <label>
            Description: 
            <input type="text" id="task">
        </label>
        <button onclick="todo.submit('year')">Submit</button>
    </div>
    <button onclick='todo.flipToNew("year")'>#</button>
</div>

<div class="wallet">
    <h4>Your Wallet</h4>
    <div class="summary">
        <div class="spending">
            <h5>Spending Money Left</h5>
            <h6 id="week">This Week: $0</h6>
            <h6 id="month">This Month: $0</h6>
            <input type="text" id="item"><input type="number" id="spend"><button onclick="">Spend</button>
        </div>
        <div class="flow">
            <h5>Cash Flow Last Month</h5>
            <h6 id="income">Made: $0</h6>
            <h6 id="expenses">Spent: $0</h6>
            <h6 id="saved">Saved: $0</h6>
        </div>
    </div>
    <div class="settings invisible">
    </div>
    <button onclick="wallet.toggleView()">$$</button>
</div>

<hr>

<a href="/forest/clearing/wyatts-house/closet" class="door">
    Go in the Closet
</a>

<hr>

<a href="/forest/clearing/wyatts-house/livingroom" class="return-door">
    Go Downstairs
</a>

<script>
    <%- include("../local-scripts/todo.js") %>
    <%- include("../local-scripts/wallet.js") %>
</script>