:root {
    --shadow: rgb(71, 71, 71);
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(49, 49, 49);
    margin: 5px;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 300px;
}

input {
    padding: 10px;
    width: 100%;
}

h1, h3, p {
    width: 100%;
    text-align: center;
    margin: 10px;
}