.billboard {
    width: 100%;
    min-height: 10vh;
    max-height: 50vh;
    border: var(--standardBorder);
}

.billboard * {
    background-color: var(--bgColor);
}

.billboard li {
    position: relative;
    padding: 10px;
    margin: 1px;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
}

.billboard li:hover {
    background: var(--hoverColor);
}

.billboard .delete {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.billboard .new {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
}

.billboard .cancel {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0;
    margin: 0;
    width: 60px;
    height: 30px;
}

.billboard .main {
    position: relative;
    padding: 5px;
    width: 100%;
    min-height: 40px;
    overflow: auto;
    overflow: visible;
}

.billboard .edit {
    position: relative;
    padding: 10px;
    overflow: auto;
}

.billboard ul {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    align-content: center;
}

.billboard li {
    padding: 5px;
}

.billboard img {
    max-width: 100%;
    max-height: 20vh;
}

@media only screen and (min-width: 1280px) {
    .billboard {
        width: 50%;
    }
}