.browser {
    width: 100%;
    position: relative;
    border: var(--standardBorder);
}

.browser .search {
    width: 30%;
    position: relative;
    overflow: auto;
    padding-bottom: 40px;
}

.browser button.filter-toggle {
    position: absolute;
    left: 5px;
    bottom: 0;
    width: calc(30% - 10px);
    height: 30px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}

.browser div.edit {
    width: 70%;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    padding-bottom: 40px;
}

.browser .nested {
    position: static !important;
    height: auto !important;
    padding: 5px;
}

.browser .read {
    width: 70%;
    height: 300px;
    padding-bottom: 40px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
}

.browser .filters {
    width: 70%;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--bgColor);
    overflow: auto;
    padding-bottom: 40px;
}

.browser button.create {
    position: absolute;
    bottom: 0;
    left: calc(30% + 60px);
    height: 30px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
    z-index: 5;
}

.browser button.edit {
    position: absolute;
    bottom: 0;
    left: calc(30% + 5px);
    height: 30px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}

.browser button.delete {
    position: absolute;
    bottom: 0;
    right: 5px;
    height: 30px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}

.browser button.save {
    position: absolute;
    bottom: 0;
    left: calc(30% + 5px);
    height: 30px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}

.browser button.cancel {
    position: absolute;
    bottom: 0;
    left: calc(30% + 65px);
    height: 30px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}