.chat-box {
    position: relative;
    box-shadow: var(--boxShadow);
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.chat-name {
    color: var(--textColor);
    padding: 10px;
}

.chat-log {
    width: 85%;
    height: calc(100% - (var(--h3Size) + 2 * var(--padding) + 2 * var(--margin)) - (var(--pSize) + 2 * var(--padding)));
    background-color: rgba(0, 0, 0, 0.534);
    overflow: auto;
    padding: 5px;
}

.chat-send {
    height: calc(var(--pSize) + 2 * var(--padding));
    width: 5em;
    outline: none;
    background-color: var(--bgColor);
    border: var(--standardBorder);
    color: var(--textColor);
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.chat-send:hover {
    border: 1px solid var(--textColorBright);
    color: var(--textColorBright);
    cursor: pointer;
}

.chat-entry {
    height: calc(var(--pSize) + 2 * var(--padding));
    width: calc(100% - 5em);
    outline: none;
    background-color: var(--bgColor);
    border: var(--standardBorder);
    color: var(--textColor);
    margin: 0;
    padding: var(--padding);
}

.chat-log > p {
    color: var(--textColor);
    margin: 0;
    padding: 2px;
    line-height: 1em;
    text-align: left;
}

.chat-box>ul {
    width: 15%;
    margin: 0;
    padding: 0;
}