.inventory .item-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: none;
    align-content: flex-start;
    justify-content: center;
    padding: 0;
}

.inventory .item-spawner {
    width: 100%;
    border: 1px solid var(--textColor);
}

.item-spawner .search-results {
    width: 100%;
    border: 1px solid var(--textColor);
    overflow: auto;
}

.search-results p {
    width: 100%;
    cursor: pointer;
}

.search-results p:hover {
    background-color: var(--woodColor);
}

.item-card {
    margin: var(--margin);
    width: var(--fillFromMargin);
    height: 70px;
    border: var(--standardBorder);
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.item-card h5 {
    width: 70%;
    text-align: left;
    padding: 5px;
}

.item-card p {
    width: 27%;
    text-align: right;
}

.item-card hr {
    border: none;
    border-right: var(--standardBorder);
    height: 100%;
    width: 1px;
    margin: 0;
}

.item-card button {
    margin: 0;
    padding: 0 3px;
    border-radius: 0;
    border-bottom: none;
    height: 50%;
    width: 75px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

@media only screen and (max-width: 1000px) {

}