.inventory {
    border: none;
    color: var(--textColor);
    width: 100%;
    height: 100%;
    padding: 25px 25px 0 25px;
    z-index: 500;
    overflow: auto;
}

.inventory .item-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border: none;
    align-content: flex-start;
    height: 100%;
}

.inventory .item-spawner {
    width: 100%;
    border: 1px solid var(--textColor);
}

.item-spawner .search-results {
    width: 100%;
    border: 1px solid var(--textColor);
    overflow: auto;
}

.search-results p {
    width: 100%;
    cursor: pointer;
}

.search-results p:hover {
    background-color: var(--woodColor);
}

.item-card {
    width: 100%;
    height: 60px;
    border-radius: 3px;
    border: 1px solid var(--textColor);
    padding: 0;
    margin: 2.5px;
    position: relative;
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
}

.item-card h5 {
    min-width: 40%;
    padding: 10px;
}

.item-card p {
    width: auto;
    padding: 10px;
    margin: 0;
}

.item-card button {
    margin: 0;
    padding: 0 3px;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    height: 100%;
    width: 75px;
}

.item-card hr {
    min-width: 5%;
    height: 1px;
    margin: 5px;
}

@media only screen and (max-width: 1000px) {
    .item-card {
        width: calc(50% - 5px);
    }
}