:root {
    --bgColor: rgb(37, 37, 37);
    --shadowColor: rgb(26, 26, 26);
    --textColor: rgb(185, 135, 69);
    --textColorBright: rgb(221, 181, 130);
    --woodColor: rgb(95, 68, 43);
    --darkWoodColor: rgb(70, 50, 32);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.invisible {
    display: none;
}

body {
    background-color: var(--bgColor);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main {
    width: 500px;
    min-height: 500px;
    box-shadow: 5px 5px 5px 5px var(--shadowColor);
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

hr {
    border: none;
    border-bottom: 1px solid var(--textColor);
    margin: 20px;
    width: 100%;
}

p {
    color: var(--textColor);
    margin-bottom: 10px;
    width: 100%;
}

button, a {
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    margin: 5px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}

button:hover, a:hover {
    border: 1px solid var(--textColorBright);
    color: var(--textColorBright);
    cursor: pointer;
}

h2, h3 {
    color: var(--textColor);
    width: 100%;
}

ul {
    margin: 10px;
}

.inventory {
    width: 100%;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    position: fixed;
    width: 90%;
    height: 40%;
    left: 5%;
    bottom: 80px;
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
}

#inventory-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 64px;
    height: 64px;
}

.item-card {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--textColor);
    padding: 10px;
}

.item-card hr {
    margin:  5px -10px;
    width: calc(100% + 20px);
}

.door {
    border: 1px solid var(--darkWoodColor);
    width: 150px;
    height: 250px;
    background-color: var(--woodColor);
    position: relative;
}

.knob {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 5px;
    top: 50%;
    background-color: var(--darkWoodColor);
}

@media only screen and (max-width: 800px) {
    main {
        width: 100%;
    }
}