:root {
    --bgColor: rgb(37, 37, 37);
    --bgColorGradient: linear-gradient(170deg, rgba(37,37,37,1) 0%, rgba(15,15,15,1) 100%);
    --bgColorTransparent: rgba(37, 37, 37, 0.76);
    --darkBgColor: rgb(27, 27, 27);
    --darkBgColorGradient: linear-gradient(170deg, rgba(27,27,27,1) 0%, rgba(5,5,5,1) 100%);
    --veryDarkBgColorTransparent: rgba(15, 15, 15, 0.404);
    --veryDarkBgColor: rgb(15, 15, 15);
    --lightBgColor: rgb(57, 57, 57);
    --selectionColor: rgb(58, 58, 58);
    --selectedTextColor: rgb(248, 192, 100);
    --hoverColor: rgb(97, 97, 97);
    --hoverTextColor: rgb(216, 171, 112);
    --shadowColor: rgba(7, 7, 7, 0.616);
    --textColor: rgb(185, 135, 69);
    --textColorBright: rgb(221, 181, 130);
    --woodColor: rgb(133, 96, 62);
    --darkWoodColor: rgb(70, 50, 32);
    --standardBorder: 1px solid var(--textColor);
    --thickBorder: 5px solid var(--textColor);
    --brightBorder: 1px solid var(--textColorBright);
    --normalFontSize: 20px;
    --mobileFontSize: 15px;
    --ceilingBG: rgba(202, 202, 202, 0.034);
    --sideWallBG: rgba(151, 145, 138, 0.041);
    --backWallBG: rgba(151, 145, 138, 0.128);
    --foundationBG: rgba(29, 17, 5, 0.10);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--lightBgColor);
}

::-webkit-scrollbar-thumb {
    background: var(--textColor);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--textColorBright);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--textColor);
    font-size: var(--normalFontSize);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.invisible {
    display: none !important;
}

.camo {
    transition: all .15s;
    opacity: 0;
}

body {
    background: var(--darkBgColor);
    background: var(--darkBgColorGradient);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
}

main {
    width: 1280px;
    min-height: 500px;
    box-shadow: 5px 5px 5px 5px var(--shadowColor);
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    background-color: var(--bgColor);
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    min-height: 25px;
    width: 1280px;
    background-color: var(--veryDarkBgColor);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 5px 5px var(--shadowColor);
    padding: 5px;
    border: none;
    margin-bottom: 100px;
}

footer a {
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 5px;
    width: 50%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px var(--shadowColor);
    padding: 5px;
}

h1 {
    font-size: 100px;
    border-bottom: var(--standardBorder);
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
    border-bottom: var(--standardBorder);
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

hr {
    border: none;
    border-bottom: 1px solid var(--textColor);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

p {
    color: var(--textColor);
    width: 100%;
    padding: 5px;
}

ul {
    border: var(--standardBorder);
    width: 100%;
    list-style: none;
    padding: 10px;
}

textarea {
    padding: 10px;
    width: 100%;
    background-color: var(--bgColor);
    border-radius: 0;
    border: var(--standardBorder);
}

label {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label input {
    margin-top: 5px;
}

input {
    padding: 10px;
    width: 100%;
    background-color: var(--bgColor);
    border-radius: 0;
    border: var(--standardBorder);
    height: 50px;
}

input[type=submit], button, a {
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    text-decoration: none;
    text-align: center;
}

input[type=submit]:hover, button:hover, a:hover {
    border: 1px solid var(--textColorBright);
    color: var(--textColorBright);
    cursor: pointer;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.level {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 250px;
}

.side-wall {
    width: 35%;
    background: var(--sideWallBG);
    padding: 10px;
    height: 1050px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.back-wall {
    width: 65%;
    background: var(--backWallBG);
    padding: 10px;
    height: 1050px;
}

.ceiling {
    width: 100%;
    background: var(--ceilingBG);
    padding: 10px;
}

.foundation {
    width: 100%;
    background: var(--foundationBG);
    padding: 10px;
    height: 5;
}

.exit {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.exit a {
    margin-bottom: 10px;
}

.b-marg {
    margin-bottom: 10px;
}

.r-marg {
    margin-right: 10px;
}

.half {
    width: 50%;
}

.quart {
    width: 25%;
}

.sixth {
    width: 16.5%;
}

.sign {
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: var(--standardBorder);
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: var(--standardBorder);
}

.form input {
    margin-bottom: 10px;
}

.info {
    color: var(--selectedTextColor);
    text-shadow: 2px 2px 2px var(--shadowColor);
    text-align: center;
}

.locked {
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    margin: 5px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    filter: brightness(.5);
    user-select: none;
}

.go {
    width: 45%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.to {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.return {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.do {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.limb {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

.search {
    width: 100%;
    border: var(--standardBorder);
    min-height: 300px;
    background: rgb(25, 25, 25);
}

.search input {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    border-bottom: var(--standardBorder);
}

.search ul {
    border: 1px dotted var(--textColor);
    height: calc(100% - 70px);
    margin: 10px;
    padding: 2px;
    width: calc(100% - 20px);
}

ul.selector {
    padding: 0;
    height: 250px;
    overflow: auto;
}

ul.selector li {
    border: var(--standardBorder);
    padding: 5px;
}

ul.selector li:hover {
    cursor: pointer;
    background: var(--hoverColor);
    color: var(--hoverTextColor);
}

ul.selector li.selected {
    background: var(--selectionColor);
    color: var(--selectedTextColor);
}

ul.selector p {
    color: rgb(78, 78, 78);
}

.door {
    border: 1px solid var(--darkWoodColor);
    width: 150px;
    height: 250px;
    background-color: var(--woodColor);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
}

.knob {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 5px;
    top: 50%;
    background-color: var(--darkWoodColor);
}

iframe {
    border: none;
}

.dialogue {
    width: 100%;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dialogue .frame {
    width: 30%;
    height: 100%;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    background-color: var(--darkBgColor);
}

.dialogue .portrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.dialogue .heart {
    width: 3px;
    height: 100%;
    background-color: var(--textColor);
    border-radius: 5px;
}

.dialogue .content {
    width: 65%;
    height: 100%;
    border: 1px dotted var(--textColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: var(--bgColor);
}

.dialogue .content button {
    padding: 5px 20px;
}

.dialogue .content p {
    text-align: center;
}

.dialogue .selected {
    border: none;
}

.merchant {
    width: 100%;
    border: var(--standardBorder);
    min-height: 100px;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.merchant h4 {
    width: 100%;
}

.merchant div {
    border: var(--standardBorder);
    width: 165px;
    padding: 10px;
    margin: 10px;
}

.merchant div button {
    margin: 0;
    width: 100%;
}

.memo {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    * {
        color: var(--textColor);
        font-size: var(--mobileFontSize);
    }

    main {
        width: 100%;
        padding: 10px 1px;
    }

    footer {
        width: 100%;
    }

    .to {
        width: 100%;
        height: 100px;
        padding: 20px;
    }

    .door {
        width: 45%;
    }

    .dialogue {
        height: 150px;
        padding: 5px;
    }
    
    .dialogue .frame {
        border-radius: 10px;
    }
    
    .dialogue .heart {
        border-radius: 5px;
    }
    
    .dialogue .content {
        border-radius: 10px;
    }
    
    .dialogue .content button {
        padding: 10px 10px;
        margin: 0;
    }
}