:root {
    --textColor: rgb(247, 247, 247);
    --altTextColor: rgb(20, 20, 20);
    --bgColor: rgb(31, 31, 31);
    --bgColorLight: rgb(78, 78, 78);
    --focusColor: rgb(222, 139, 37);
    --shadowColor: rgb(0, 0, 0);
}

* {
    color: var(--textColor);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

.invisible {
    display: none;
}

a {
    font-weight: bold;
}

hr {
    border: none;
    border-bottom: 2px solid var(--shadowColor);
    margin: 5px 20px;
}

hr.light {
    border-bottom: 2px solid var(--textColor);
}

body {
    background-color: var(--bgColorLight);
    width: 100%;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
    box-shadow: 0 10px 25px var(--shadowColor);
    background-color: var(--bgColor);
}

.portrait {
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    background-image: url("/img/fancy-me.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.portrait-fade {
    width: 100%;
    height: 100%;
}

header h2 {
    position: absolute;
    left: 100px;
    top: 35%;
    font-size: 50px;
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
}

header h3 {
    position: absolute;
    left: 100px;
    top: calc(35% + 75px);
    font-size: 30px;
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
}

.external-links {
    position: absolute;
    left: 100px;
    top: calc(35% + 125px);
    font-size: 50px;
    background-color: var(--bgColor);
    width: 110px;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

header a {
    width: 50px;
    height: 100%;
    margin: 5px;
}

header i:hover {
    cursor: pointer;
    color: var(--focusColor);
}

nav {
    height: 50px;
    width: 100%;
    background-color: var(--focusColor);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .2s ease;
    z-index: 99;
    border-bottom: 1px solid var(--bgColorLight);
}

nav * {
    color: var(--altTextColor);
}

nav i {
    font-size: 30px;
}

.nav-closed {
    top: -50px;
    transition: all .2s ease;
}

main {
    width: 100%;
    overflow: hidden;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

section {
    width: 100%;
    padding: 100px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h3 {
    margin: 20px;
    font-size: 25px;
}

section h4 {
    margin: 5px 20px;
    font-size: 18px;
}

section h4 i {
    margin: 5px 5px;
}

section p {
    margin: 20px;
}

section img {
    width: 50%;
    height: auto;
}

.text {
    width: 600px;
    height: 100%;
    padding: 5px;
}

#cpd {
    background-color: var(--focusColor);
    flex-direction: row-reverse;
}

#cpd * {
    color: var(--altTextColor);
}

#tamago-watch {
    background-color: var(--bgColor);
}

#won-ventures {
    background-color: var(--focusColor);
    flex-direction: row-reverse;
}

#won-ventures * {
    color: var(--altTextColor);
}

#wayfarer {
    background-color: var(--bgColor);
}

@media only screen and (max-width: 900px) {
    .portrait {
        width: 100%;
        height: 100vh;
    }

    header h2 {
        left: 35px;
        font-size: 30px;
        top: 65%;
    }

    header h3 {
        left: 35px;
        font-size: 25px;
        top: calc(65% + 50px);
    }

    .external-links {
        left: 35px;
        font-size: 30px;
        top: calc(65% + 95px);
        height: 45px;
        width: 75px;
    }

    section {
        flex-wrap: wrap;
        padding: 40px 10px;
    }

    #cpd, #won-ventures {
        flex-direction: row;
    }

    .text, section img {
        width: 100%;
        padding: 5px;
    }
}