:root {
    --textColor: rgb(247, 247, 247);
    --altTextColor: rgb(20, 20, 20);
    --bgColor: rgb(31, 31, 31);
    --bgColorLight: rgb(79, 79, 79);
    --focusColor: rgb(222, 139, 37);
    --shadowColor: rgb(0, 0, 0);
    --extreme-dark: #2e2e2e;
    --very-dark: #3e3e3e;
    --dark: #505050;
    --light: #F7FFE0;
    --yellow: #D59C00;
    --brown: #704E2E;
    --green: #709176;
    --blue: #00487C;
    --game-size: 500px;
}

* {
    color: var(--textColor);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

.invisible {
    display: none;
}

a {
    font-weight: bold;
}

h4 a {
    margin-right: 20px;
}

hr {
    border: none;
    border-bottom: 2px solid var(--altTextColor);
    margin: 5px 20px;
}

hr.light {
    border-bottom: 2px solid var(--textColor);
}

body {
    background-color: var(--bgColor);
    width: 100%;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
    box-shadow: 0 10px 25px var(--shadowColor);
    background-color: var(--bgColor);
}

.portrait {
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    background-image: url("/img/portfolio/fancy-me.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.portrait-fade {
    width: 100%;
    height: 100%;
}

header h2 {
    position: absolute;
    left: 100px;
    top: 35%;
    font-size: 50px;
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
}

header h3 {
    position: absolute;
    left: 100px;
    top: calc(35% + 75px);
    font-size: 30px;
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
}

.external-links {
    position: absolute;
    left: 100px;
    top: calc(35% + 125px);
    font-size: 50px;
    background-color: var(--bgColor);
    width: 110px;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

header a {
    width: 50px;
    height: 100%;
    margin: 5px;
}

header i:hover {
    cursor: pointer;
    color: var(--focusColor);
}

nav {
    height: 50px;
    width: 100%;
    background-color: var(--focusColor);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .2s ease;
    z-index: 99;
    border-bottom: 1px solid var(--bgColorLight);
}

nav * {
    color: var(--altTextColor);
}

nav i {
    font-size: 30px;
}

.nav-closed {
    top: -50px;
    transition: all .2s ease;
}

main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

section {
    width: 100%;
    padding: 100px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h3 {
    margin: 20px;
    font-size: 25px;
}

section h4 {
    margin: 5px 20px;
    font-size: 18px;
}

section h4 i {
    margin: 5px 5px;
}

section p {
    margin: 20px;
}

section>img {
    width: 40%;
    height: 400px;
    object-fit: contain;
}

section iframe {
    width: 50%;
    height: 700px;
    border: none;
}

.text {
    width: 600px;
    height: 100%;
    padding: 5px;
}

#notherbase {
    background-color: var(--bgColorLight);
}

#notherbase-fs {
    background-color: var(--extreme-dark);
    padding: 10px;
    border: 5% solid var(--bgColor);
    border-radius: 0% 0% 50px 50px;
    width: 75%;
    flex-direction: row-reverse;
}

#notherbase-fs img {
    width: 20%;
    height: 200px;
}

#tamago-watch {
    background-color: var(--focusColor);
    color: var(--altTextColor);
}

#tamago-watch * {
    color: var(--bgColor);
}

#cpd {
    background-color: var(--bgColor);
    flex-direction: row-reverse;
}

#won-ventures {
    background-color: var(--focusColor);
}

#won-ventures * {
    color: var(--altTextColor);
}

#wayfarer {
    flex-direction: row-reverse;
    background-color: var(--bgColor);
}

/* tamago watch styles */
.watch {
    width: var(--game-size);
    min-height: 100;
    image-rendering: pixelated;
    position: relative;
}

.watch * {
    image-rendering: pixelated;
}

.cartridge {
    position: absolute;
    left: 5%;
    top: 30%;
    background-image: url("/img/watch/cartridge.png");
    background-size: cover;
    transition: ease-out .15s;
    z-index: 0;
    width: 90%;
    height: 90%;
}

.cartridge:hover {
    top: 40%;
}

.name {
    background-color: #70917600;
    position: absolute;
    top: 73%;
    left: 32%;
    width: 280px;
    height: 80px;
    transform: rotate(29deg);
    text-align: center;
    font-size: 50px;
    border: none;
    cursor: pointer;
}

.console {
    width: 100%;
}

.screen {
    position: absolute;
    top: 6%;
    left: 6.25%;
    width: 87.5%;
    height: 55%;
    display: initial;
}

.bloom {
    box-shadow: 0px 0px 10px #fff6d759, inset 0px 0px 10px #fff6d759;
}

.pet {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 25%;
    display: none;
}

#p1 {
    top: auto;
    bottom: 10%;
    left: 40%;
}

#p2 {
    top: 0%;
    left: auto;
    right: 10%;
}

.food {
    position: absolute;
    right: 0;
    bottom: 20%;
    width: 25%;
    display: none;
}

.music {
    position: absolute;
    bottom: 20%;
    left: 2%;
    width: 25%;
    display: none;
}

.detached-right {
    float: right;
}

.dark {
    filter: brightness(.5);
}

.hud {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 32%;
}

.clock-hand {
    position: absolute;
    top: 12.5%;
    left: 4.10%;
    height: 80%;
    width: 25%;
}

.status {
    position: absolute;
    top: 10%;
    right: 27.75%;
    height: 16%;
    width: 29%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#s1 {
    top: 45%;
}

#s2 {
    top: 78%;
}

.point {
    border: 1px solid var(--dark);
    background-color: var(--yellow);
    display: none;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/img/watch/button_brown.png");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 6%;
    right: 5%;
    height: 25%;
    width: 20%;
}

.button:active {
    background-image: url("/img/watch/button_brown_down.png");
}

#b1 {
    background-image: url("/img/watch/button_blue.png");
    top: 40%;
}

#b1:active {
    background-image: url("/img/watch/button_blue_down.png");
}

#b2 {
    background-image: url("/img/watch/button_green.png");
    top: 75%;
}

#b2:active {
    background-image: url("/img/watch/button_green_down.png");
}

@media only screen and (max-width: 900px) {
    .portrait {
        width: 100%;
        height: 100vh;
    }

    header h2 {
        left: 35px;
        font-size: 30px;
        top: 65%;
    }

    header h3 {
        left: 35px;
        font-size: 25px;
        top: calc(65% + 50px);
    }

    .external-links {
        left: 35px;
        font-size: 30px;
        top: calc(65% + 95px);
        height: 45px;
        width: 75px;
    }

    section {
        flex-wrap: wrap;
        padding: 40px 10px;
    }

    #cpd, #won-ventures {
        flex-direction: row;
    }

    .text, section img, section iframe {
        width: 100%;
        padding: 5px;
    }

    .watch {
        width: 100%;
    }

    #notherbase-fs {
        width: 90%;
    }
}