:root {
    --shadow: rgb(71, 71, 71);
    --textColor: rgb(49, 49, 49);
    --woodColor: rgb(170, 117, 68);
    --metalColor: rgb(104, 101, 100);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(49, 49, 49);
}

body {
    background-color: var(--grassColor);
}

h1 {
    width: 100%;
}