<style>
    <%- include("./index.css") %>
</style>
<link rel="stylesheet" href="/styles/browser.css">

<h2>Stories</h2>

<div class="browser" id="stories"></div>

<hr>

<a class="return" href="/forest/eye/library/lobby">
    Return to the Lobby
</a>

<script src="/js/util/browser.js"></script>
<script>
    <%- include("./story-browser.js"); %>
    let storyBrowser = new StoryBrowser("stories");

    base.load("stories").then((res) => {
        storyBrowser.load(res);
    });
</script>