<script src="/js/util/browser.js"></script>

<script>
    class StoryBrowser extends Browser {
        constructor(id) {
            super(id, ["title", "img", "source", "content"], "save-stories");

            this.$read.title = $("<h4>Story Title</h4>").appendTo(this.$read.div);
            this.$read.img = $(`<img src="/img/food/default.jpg">`).appendTo(this.$read.div);
            this.$read.source = $("<h6>Story Source</h6>").appendTo(this.$read.div);
            this.$read.content = $("<p>Content</p>").appendTo(this.$read.div);

            this.$read.new = $(`<button id="new">New</button>`).appendTo(this.$read.div).on("click", this.new);
            this.$read.edit = $(`<button id="edit">Edit</button>`).appendTo(this.$read.div).on("click", this.edit);
            this.$read.delete = $(`<button id="delete">Delete</button>`).appendTo(this.$read.div).on("click", this.delete);

            this.$edit.title = $(`<input type="text" id="title" placeholder="Title">`).appendTo(this.$edit.div.append("<h6>Story Title:</h6>"));
            this.$edit.source = $(`<input type="text" id="source" placeholder="Source">`).appendTo(this.$edit.div.append("<h6>Story Source:</h6>"));
            this.$edit.img = $(`<input type="text" id="img" placeholder="/story_image_url.jpg">`).appendTo(this.$edit.div.append("<h6>Image URL:</h6>"));
            this.$edit.content = $(`<textarea id="content" cols="30" rows="10">Your Content Here</textarea>`).appendTo(this.$edit.div.append("<h6>Content:</h6>"));

            this.$edit.save = $(`<button id="save">Save</button>`).appendTo(this.$edit.div).on("click", this.save);
            this.$edit.cancel = $(`<button id="cancel">Cancel</button>`).appendTo(this.$edit.div).on("click", this.cancel);

            this.prefixes = {
                source: "From: "
            }
        }
    }

    let storyBrowser = new StoryBrowser("stories");

    base.load("stories").then((res) => {
        storyBrowser.load(res);
    });
</script>
