<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wyatt Sushinsky</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/it.css">
</head>
<body>
    <main>
        <h1>IT Request Tracker</h1>
        <label>Organization: <input type="text" id="org"></label>

        <div class="form">
            <div class="spine">
                <h4>Submit a Request</h4><button id="pointer" onclick="tracker.toggleFold('form')">v</button>
            </div>
            <label>
                Title of Request:<input id="title" type="text" placeholder="title">
            </label>
            <label id="desc-label">
                Description:
                <textarea id="description" cols="30" rows="10" placeholder="description"></textarea>
            </label>
            <label id="att-label">
                Attachments:
                <ul>
                    <li><button>+</button></li>
                </ul>
            </label>
            <button id="submit" onclick="tracker.submitTicket()">Submit</button>
        </div>

        <div class="history folded">
            <div class="spine">
                <h4>View Ticket History</h4><button id="pointer" onclick="tracker.toggleFold('history')">^</button>
            </div>
            <label>
                Password:
                <input type="password" id="password">
            </label>
            <label>
                Start Date:
                <input type="date">
            </label>
            <label>
                End Date:
                <input type="date">
            </label>
            <ul id="tickets">

            </ul>
            <div class="ticket">
                <h4>Request</h4>
                <p>Hours Used</p>
                <p>Hours Quoted</p>
                <p>Description</p>
                <ul>
                    <h5>Attachments</h5>
                    <li>+</li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        This website created by Wyatt Lee Sushinsky
    </footer>
</body>

<script>
    class Tracker {
        constructor() {
            this.$title = $(".form #title");
            this.$desc = $(".form #description");
        }

        submitTicket = () => {
            //finish
            $.post("/pages/serve/submit-ticket", {
                ticket: {
                    name: this.$title.val(),
                    quote: 0,
                    used: 0,
                    description: this.$desc.val(),
                    attachments: []
                }
            }, () => {

            });
        }

        viewHistory = () => {
            //finish

        }

        toggleFold(folder) {
            let $folder = $(`.${folder}`);
            $folder.find('#pointer').text($folder.hasClass("folded") ? "v" : "^");
            $folder.toggleClass("folded");
        }
    }

    let tracker = new Tracker();
</script>
</html>