<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joel Lantau</title>
    <link rel="stylesheet" href="/styles/joel/home.css">
</head>
<body>
    <header>
        <h1>Joel Lantau</h1>
        <img class="profile" src="/img/joel/profile.jpg">
    </header>
    <main>
        <h2>Header</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id earum sed officia voluptates 
            dolores voluptatum voluptas consequuntur iste non veritatis debitis qui recusandae, nemo 
            obcaecati sequi a, cumque iusto sint.
        </p>
        <div class="podcasts">
            <ul>
                <li>
                    <p>Episode 1: Hello World</p>
                </li>
            </ul>
        </div>
        <h2>Header</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id earum sed officia voluptates 
            dolores voluptatum voluptas consequuntur iste non veritatis debitis qui recusandae, nemo 
            obcaecati sequi a, cumque iusto sint.
        </p>
        <ul>
            <li>a clear purpose</li>
            <li>a simple web address</li>
            <li>strong professional branding</li>
            <li>simple navigation</li>
            <li>east to find contact information</li>
            <li>strong calls to action</li>
            <li>a great mobile experience</li>
        </ul>
    </main>
    <footer>
        Contact Joel:
        <ul>
            <li>jl@gmail.com</li>
            <li>(000) 000-0000</li>
        </ul>
    </footer>
</body>
</html>