<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI-Test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- font-family: 'Roboto' or 'Roboto Condensed', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <!-- 'Redacted Script', cursive; -->
    <link href="https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/inventory.css">
    <link rel="stylesheet" href="/styles/player.css">
    <link rel="stylesheet" href="/styles/account.css">
    <link rel="stylesheet" href="/styles/more.css">
    <link rel="stylesheet" href="/styles/chat.css">
</head>

<body>
    <script>
        const currentRoute = "/ui-test";
    </script>

    <script src="/js/memories.js"></script>
    
    <main class="override">
        <h1>H1</h1>
        <h2>H2</h2>
        <h3>H3</h3>
        <h4>H4</h4>
        <h5>H5</h5>
        <h6>H6</h6>
        <p>A p tag.</p>
        <ul>
            <h4>UL Header (h4)</h4>
            <li>A basic li</li>
            <li>A basic li</li>
            <li>A basic li</li>
            <li>A basic li</li>
        </ul>
        <div class="search">
            <input type="text" placeholder="search">
            <ul>
                <li>Search Results</li>
                <li>Search Results</li>
            </ul>
        </div>
        <ul class="selector">
            <h4>Selector List</h4>
            <li id="0" onclick="selectItem(this)">A basic li</li>
            <li id="1" onclick="selectItem(this)">A basic li</li>
            <li id="2" onclick="selectItem(this)">A basic li</li>
            <li id="3" onclick="selectItem(this)">A basic li</li>
        </ul>
        <div class="form">
            <h4>Form</h4>
            <input type="text" placeholder="text">
            <input type="checkbox">
            <input type="number">
            <input type="datetime-local">
            <input type="date">
            <input type="time">
            <textarea cols="30" rows="10"></textarea>
            <button>Basic Button</button>
        </div>

        <hr>

        <a href="/zebra" class="go">Go to Zebra</a>
        <a href="/it" class="go">Go to IT</a>
        <a href="/portfolio" class="to">To NotherBase</a>
        <a href="/" class="return">Return to NotherBase</a>
    </main>
    
    <footer>
        
    </footer>
</body>
</html>

<script>
    let selectItem = (element) => {
        $(".selector li").removeClass("selected");
        $(element).addClass("selected");
    }
</script>