<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wyatt Sushinsky</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/zebra.css">
</head>
<body>
    <main>
        <h1>Hi Mike!</h1>
        <p>
            This is a page purposely made to provide details and 
            links for my education and experience. - Wyatt Sushinsky
        </p>
        <h2>Contact Information</h2>
        <div class="column">
            <p>Wyatt Lee Sushinsky</p>
            <p>904 N Pearl St</p>
            <p>Centralia, WA 98531</p>
        </div>
        <div class="column">
            <p>(564) 216-0663</p>
            <p>wyattsushi@gmail.com</p>
        </div>
        <h2>Computer Hardware</h2>
        <p>
            I've built, upgraded and repaired hardware in
            computers since I was a child. 
            I keep up with hardware news
            to know the latest or greatest and 
            have experience with all
            essential parts of computers.
        </p>
        <h2>Programming</h2>
        <ul>
            <li>Visit My Portfolio Page: <a href="/portfolio">Wyatt's Portfolio</a></li>
            <li>Visit My GitHub Page: <a href="https://github.com/Mosshide">Wyatt's GitHub</a></li>
        </ul>
        <h2>Work Experience</h2>
        <ul>
            <li>
                View My Resume: 
                <a href="https://drive.google.com/file/d/1PN66ZfycQg0QiRgK5DWXj6E1oZFyenyz/view?usp=sharing">
                    From Google Drive
                </a>
            </li>
            <li>
                Visit My LinkedIn: 
                <a href="https://www.linkedin.com/in/wyatt-sushinsky/">
                    Wyatt's LinkedIn
                </a>
            </li>
        </ul>
        <h2>Education</h2>
        <ul>
            <li>
                Bachelor's Degree in Japanese<br>
                Western Washington University 
            </li>
            <li>
                Software Engineering Immersive<br>
                General Assembly
            </li>
        </ul>
        <a href="/"><= Return to NotherBase</a>
    </main>
</body>
</html>