<button onclick="base.do('game/add-queen-egg')">Add Queen Egg</button>

<hr>

<a href="/plains/river/bend/colony" class="to">
    Go to the Ant Colony
</a>

<a href="/plains/the-grass/cow-town" class="return">
    Return to Cow Town
</a>