:root {
    --bgColor: rgb(37, 37, 37);
    --bgColorBright: rgb(66, 66, 66);
    --shadowColor: rgb(26, 26, 26);
    --textColor: rgb(185, 135, 69);
    --textColorBright: rgb(221, 181, 130);
    --standardBorder: 1px solid var(--textColor);
    --standardRadius: 5px;
}

.floor {
    width: 100%;
    min-height: 50px;
    border: 1px solid var(--shadowColor);
    background-color: var(--bgColor);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.floor h2 {
    width: 90%;
}

.floor button {
    margin: 0;
}

.floor .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}