:root {
    --shadow: rgba(71, 71, 71, 0.527);
    --laylaTextColor: rgb(255, 255, 255);
    --pinkPastel: rgb(219, 148, 198);
    --yellowPastel: rgb(214, 219, 148);
    --bluePastel: rgb(148, 191, 219);
    --greenPastel: rgb(130, 226, 189);
    --woodColor: rgb(95, 68, 43);
    --houseColor: rgb(70, 62, 48);
    --darkWoodColor: rgb(70, 50, 32);
    --metalColor: rgb(104, 101, 100);
    --darkMetalColor: rgb(75, 71, 70);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
    --skyColor: rgb(65, 98, 141);
    --laylaPink: rgb(236, 169, 236);
    --white: rgb(236, 236, 236);
    --light: rgb(255, 255, 221);
    --toySize: 100px;
}

section h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

article h4, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    width: 100%;
}

.folder {
    background: rgba(0, 0, 0, 0.041);
    height: 50px;
    width: 50px;
}

.porch {
    background: var(--woodColor);
}

.upstairs {
    background: var(--houseColor);
}

.mailbox {
    height: 100px;
    width: 90%;
}