<style>
    <%- include("./backyard.css"); %>
    <%- include("./index.css"); %>
    <%- include("./wallet.css"); %>
</style>

<div class="floor porch">
    <h4>The Porch</h4>

    <p>
        On the porch sit two odd-looking cats who watch the steps
        you take as you walk by.
    </p>

    <div class="basic">
        A mailbox with the name "Sushinsky" on it.
    </div>
</div>

<div class="house">
    <div class="floor livingroom">
        <h4>Livingroom</h4>

        <div class="closet">
            <div class="door">
                <div class="knob" onclick="openCloset()"></div>
            </div>
        </div>

        <div class="bookshelf">
            <div class="shelf">
        
            </div>
            <hr>
            <div class="shelf">
                
            </div>
            <hr>
            <div class="shelf">
                
            </div>
        </div>

        <img class="painting" src="/img/misc/stake.png">

        <div class="basic end-table">
            A small table.
        </div>
    </div>
    
    <div class="floor laylas-room">
        <h4>Layla's Room</h4>

        <div class="billboard" id="layla-skills">
            <h5>My Skills</h5>
        </div>

        <div class="basic">
            A flat-screen television.
        </div>
    
        <article>
            <h3>Toy Box</h3>
            <button onclick="toyBox.toggle()">O</button>
            <hr>
            <div class="toy-box">
                <div class="toy">
                    <img class="cat-idle" src="/img/misc/cat.png">
                    <div class="pocket"></div>
                </div>
            
                <div class="toy background-changer">
                    <img src="/img/the-front/logo.png">
                </div>
            
                <div class="toy">
                    <img class="rotato" src="/img/the-front/logo.png">
                </div>
            
                <div class="toy beautiful-button">
                    <div class="beautiful-background"></div>
                    <img class="beautiful-border" src="/img/the-front/logo-border.png">
                    <img class="beautiful-icon" src="/img/the-front/logo.png">
                </div>
            </div>
        </article>
    </div>
    
    <div class="floor upstairs">
        <h4>Upstairs</h4>

        <div class="billboard" id="today">
            <h5>To Do Today</h5>
        </div>
        
        <div class="billboard" id="week">
            <h5>To Do This Week</h5>
        </div>
        
        <div class="billboard" id="month">
            <h5>To Do This Month</h5>
        </div>
        
        <div class="billboard" id="year">
            <h5>To Do This Year</h5>
        </div>
        
        <div class="wallet conchu invisible">
            <h4>Your Wallet</h4>
            <div class="summary">
                <div class="spending">
                    <h5>Spending Money Left</h5>
                    <h6 id="week">This Week: $0</h6>
                    <h6 id="month">This Month: $0</h6>
                    <input type="text" id="item"><input type="number" id="spend"><button onclick="">Spend</button>
                </div>
                <div class="flow">
                    <h5>Cash Flow Last Month</h5>
                    <h6 id="income">Made: $0</h6>
                    <h6 id="expenses">Spent: $0</h6>
                    <h6 id="saved">Saved: $0</h6>
                </div>
            </div>
            <div class="settings invisible">
            </div>
            <button onclick="wallet.toggleView()">$$</button>
        </div>
    </div>
</div>


<div class="yard">
    <div class="sky">
        <h4>The Yard</h4>
        
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="sun"></div>
    </div>

    <div class="ground">
        <div class="tree">
            <div class="leaves"></div>
            <div class="trunk"></div>
        </div>
        <div class="weed">
            <div class="leaf"></div>
            <div class="leaf"></div>
            <div class="leaf"></div>
        </div>
    </div>
</div>

<hr>

<a class="go" href="/forest/eye/filter/tree-house">
    Climb up the nearby Tree House
</a>

<hr>

<a class="to" href="/forest/eye/filter/cave">
    Go to Cave
</a>

<a class="to" href="/forest/eye/filter/tower">
    Go to the Tower
</a>

<a class="to" href="/forest/eye/keep">
    Go to the Keep
</a>

<hr>

<a class="return" href="/forest/eye/library">
    Return to the Library
</a>

<a class="return" href="/forest/eye/church">
    Return to the Church
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/billboard.js"></script>
<script src="/js/util/foldable.js"></script>
<script>
    //livingroom
    const openCloset = function openCloset() {
        $(".closet .door").addClass("invisible");
    }

    //backyard harvest game
    class HarvestGame {
        #Tree = class Tree {
            constructor($OGtree, $ground) {
                this.$div = $OGtree.clone();
                this.$leaves = this.$div.find(".leaves");
                this.$trunk = this.$div.find(".trunk");
                this.cut = false;
                this.maxYield = 5;
                this.age = 0;
                this.timeToGrow = 100000;
                this.clicksToDie = 10;
                this.maxWidth = 200;
                this.maxHeight = 300;
                this.position = [Math.floor(Math.random() * 100), Math.floor(Math.random() * 100)];

                $ground.append(this.$div);
                this.$div.css("display", "initial");
                this.updateCSS();

                this.$trunk.on("click", this.click);
            }

            click = () => {
                this.clicksToDie--;
                this.$trunk.addClass("shake");
                this.$leaves.addClass("shake");
                this.$trunk[0].addEventListener('animationend', () => {
                    this.$trunk.removeClass("shake");
                    this.$leaves.removeClass("shake");
                });

                if (this.clicksToDie <= 0) {
                    this.$div.remove();
                    this.cut = true;
                }
            }

            update(delta) {
                this.age += delta;
                if (this.age >= this.timeToGrow) this.age = this.timeToGrow;

                this.updateCSS();
            }
            
            updateCSS() {
                let size = this.age / this.timeToGrow;
                if (size > 1) size = 1;
                this.$div.css("width", `${size * this.maxWidth}px`);
                this.$div.css("height", `${size * this.maxHeight}px`);

                this.$div.css("left", `calc(${this.position[0]}% - ${size * this.maxWidth / 2}px)`);
                this.$div.css("bottom", `${this.position[1] - 5}%`);
                this.$div.css("z-index", (100 - this.position[1]) + 25);
            }
        }

        #Weed = class Weed {
            constructor($OGweed, $ground) {
                this.$div = $OGweed.clone();
                this.$leaves = this.$div.find(".leaf");
                this.cut = false;
                this.age = 0;
                this.timeToGrow = 100;
                this.maxWidth = 20;
                this.maxHeight = 30;

                $ground.append(this.$div);
                this.$div.css("display", "initial");
                this.$div.css("left", `${Math.floor(Math.random() * 110) - 5}%`);
                let z = Math.floor(Math.random() * 100) - 5;
                this.$div.css("bottom", `${z}%`);
                this.$div.css("z-index", (100 - z) + 25);
                this.updateCSS();

                this.$leaves.on("click", this.click);
            }

            click = () => {
                this.$div.remove();

                this.cut = true;
            }

            update(delta) {
                this.age += delta;

                this.updateCSS();
            }
            
            updateCSS() {
                let size = this.age / this.timeToGrow;
                if (size > 1) size = 1;
                this.$div.css("width", `${size * this.maxWidth}px`);
                this.$div.css("height", `${size * this.maxHeight}px`);
            }
        }

        constructor() {
            this.$ground = $(".ground");
            this.$OGtree = $(".tree");
            this.$OGweed = $(".weed");
            this.$OGtree.css("display", "none");
            this.$OGweed.css("display", "none");
            this.trees = [];
            this.maxTrees = 10;
            this.weeds = [];
            this.maxWeeds = 100;
            this.fps = 5;
            setInterval(this.update, 1000 / this.fps);
        }

        update = () => {
            this.checkForCuts();
            this.attemptSpawn();
            this.updateGrowth(1000 / this.fps);
        }

        checkForCuts() {
            for (let i = 0; i < this.trees.length; i++) {
                if (this.trees[i].cut) {
                    this.trees.splice(i, 1);
                    base.do("cut-tree");
                }
            }

            for (let i = 0; i < this.weeds.length; i++) {
                if (this.weeds[i].cut) {
                    this.weeds.splice(i, 1);
                    base.do("pull-weed");
                }
            }
        }

        attemptSpawn() {
            if (Math.floor(Math.random() * 10) < 3) {
                if (this.trees.length < this.maxTrees) {
                    let newTree = new this.#Tree(this.$OGtree, this.$ground);

                    this.trees.push(newTree);
                }
            }
            else if (Math.floor(Math.random() * 10) < 3) {
                if (this.weeds.length < this.maxWeeds) {
                    let newWeed = new this.#Weed(this.$OGweed, this.$ground);

                    this.weeds.push(newWeed);
                }
            }
        }

        updateGrowth(delta) {
            for (let i = 0; i < this.trees.length; i++) {
                this.trees[i].update(delta);
            }

            for (let i = 0; i < this.weeds.length; i++) {
                this.weeds[i].update(delta);
            }
        }
    }
    let harvestGame = new HarvestGame();

    //layla widgets
    let lSkills, lToDo, lRecipes = null;

    base.load("layla-skills").then((res) => {
        lSkills = new Billboard("layla-skills", res.items, { onSave: "save-layla" });
    });

    let toyBox = new Foldable($(".toy-box"));

    $(".pocket").on("click", function() {
        $(".pocket").toggleClass("pocket-down");
    });

    $(".background-changer").hover(function() {
        $(".background-changer").toggleClass("red-bg");
    });

    $(".beautiful-button").hover(function() {
        $(".beautiful-background").toggleClass("red-bg");
    });
    $(".beautiful-button").on("mousedown", function() {
        $(".beautiful-icon").addClass("beautiful-icon-pressed");
    });
    $(".beautiful-button").on("mouseup", function() {
        $(".beautiful-icon").removeClass("beautiful-icon-pressed");
    });

    //upstairs widgets
    let today, week, month, year = null;

    base.load("todo-today").then((res) => {
        today = new Billboard("today", res.items, { onSave: "save-todo" });
    });

    base.load("todo-week").then((res) => {
        week = new Billboard("week", res.items, { onSave: "save-todo" });
    });

    base.load("todo-month").then((res) => {
        month = new Billboard("month", res.items, { onSave: "save-todo" });
    });

    base.load("todo-year").then((res) => {
        year = new Billboard("year", res.items, { onSave: "save-todo" });
    });

    <%- include("./wallet.js") %>
</script>