<style>
</style>

<p>
    A paved road leads out of town. 
</p>

<p>
    Thom's Caravan has a stall set up nearby,
    signing up new passengers for the next trip.
</p>

<hr>

<a class="return road" href="/forest/eye-of-the-forest/square">
    Return to the Square
</a>