<style>
</style>

<p>
    A paved road brings you past several establishments.
</p>

<hr>

<a class="go inn" href="/forest/eye-of-the-forest/inn">
    Approach the Inn
</a>

<a class="go church" href="/forest/eye-of-the-forest/church">
    Approach the Church
</a>

<a class="go bricks" href="/forest/eye-of-the-forest/smith">
    Approach the Blacksmith
</a>

<a class="go library" href="/forest/eye-of-the-forest/library">
    Approach the Library
</a>

<hr>

<a class="to" href="/forest/road/side">
    Follow the Road North out of Town
</a>

<hr>

<a class="return road" href="/forest/eye-of-the-forest/square">
    Return to the Square
</a>