:root {
    --woodColor: rgb(95, 68, 43);
    --darkWoodColor: rgb(70, 50, 32);
    --veryDarkWoodColor: rgb(22, 14, 7);
    --metalColor: rgb(104, 101, 100);
    --darkMetalColor: rgb(75, 71, 70);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
    --skyColor: rgb(94, 131, 179);
    --laylaPink: rgb(236, 169, 236);
    --white: rgb(236, 236, 236);
    --light: rgb(255, 255, 221);
    --shadow: rgba(0, 0, 0, 0.479);
}

body {
    background-color: var(--veryDarkWoodColor);
    z-index: -3;
}

main {
    border: 5px solid var(--woodColor);
}

.todo {
    width: 45%;
    min-height: 100px;
    border: 5px solid var(--woodColor);
    background-color: var(--darkWoodColor);
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px 5px var(--shadow);
    overflow: auto;
    position: relative;
}

.todo>button {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0;
    padding: 5px;
}

.todo h3 {
    width: calc(100% - 10px);
    text-align: center;
    font-size: 25px;
    margin: 5px;
}

.todo ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.todo li {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--veryDarkWoodColor);
    padding: 5px;
    margin: 0px;
    background-color: var(--veryDarkWoodColor);
    position: relative;
}

.todo li button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 30px;
}

.todo p {
    width: calc(100% - 30px);
    color: var(--veryDarkWoodColor);
    margin: 0;
    font-size: 18px;
}

.todo input {
    width: 100%;
    height: 50px;
}

.whiteboard {
    background-color: var(--darkWoodColor);
    border: 1px solid var(--brickColor);
    padding: 10px;
    width: 600px;
    height: 300px;
    position: relative;
    border-radius: 3px;
    margin: 10px;
}