<!DOCTYPE html>
  <html>
    <head>

    </head>

    <body>
        <h1>Hi im a software developer</h1>
        <hr>
        <br>
        <p>Every web developer rn:</p>
        <img src="img/misc/aj images/susdog.jpg">

    </body>

</html>
