:root {
    --wood: rgb(87, 62, 32);
    --woodDark: rgb(29, 23, 17);
}

.well {
    background: url("/img/forest/eotf/well.png");
    background-position: cover;
}

.well * {
    background: var(--bgColor);
}