<style>
    <%- include("./borders.css"); %>
    <%- include("./index.css"); %>
</style>

<p>
    You enter a ghost town. This is the public square,
    or at least that's what it seemed to be at one point.
</p>

<hr>

<div class="sign">
    <h3>The Eye of the Forest</h3>
    
    <h4>Population: !-0</h4>
    
    <h4>Amenities:</h4>
    <ul>
        <li>Inn</li>
        <li>Smith</li>
        <li>Market</li>
        <li>Off',</li>
    </ul>
</div>

<div class="well">
    <h4>Town Well</h4>
    <h5>Toss some gold coins in the well?</h5>
    <input type="number" value=1>
    <button onclick="base.do('toss-in-well', { amount: parseInt($('.well input').val()) })">Toss</button>
</div>

<hr>

<a class="go clothing-stall" href="/forest/eye-of-the-forest/square/clothing-stall">
    Approach the Clothing Stall
</a>

<a class="go food-stall" href="/forest/eye-of-the-forest/square/food-stall">
    Approach the Food Stall
</a>

<a class="go tool-stall" href="/forest/eye-of-the-forest/square/tool-stall">
    Approach the Tool Stall
</a>

<a class="go toy-stall" href="/forest/eye-of-the-forest/square/toy-stall">
    Approach the Toy Stall
</a>

<hr>

<a class="to road" href="/forest/eye-of-the-forest/road">
    Head to the Road
</a>

<a class="to path" href="/forest/eye-of-the-forest/square/path">
    Head down the Path
</a>

<hr>

<a class="return" href="/the-front">
    Exit NotherBase
</a>