<p>
    After travelling a good while toward a massive object,
    you find the remains of some great ship that surely
    once travelled the stars. 
</p>

<p>
    Now it slowly erodes amidst the dunes.
</p>

<hr>

<a href="/desert/wilderness/edge">
    Return the the edge of the Wilderness
</a>