<style>
    <%- include("../borders.css"); %>
</style>

<p>
    Food Stall
</p>

<hr>

<div class="dialogue" id="clerk">
    <div class="frame">
        <img src="/img/npcs/anon.png" class="portrait">
    </div>
    <div class="heart"></div>
    <div class="content">
        Hi! I'm still learning how to be alive.
    </div>
</div>

<hr>

<a class="return" href="/forest/eye-of-the-forest/square">
    Back to Square
</a>