.agenda .weather {
    padding: 10px;
}

.agenda .week {
    align-items: flex-start;
}

.agenda .day {
    border-radius: 3px;
}

.agenda .day.small {
    width: 50%;
}

.agenda .day.small h4, .agenda .month.small h4 {
    margin: 0;
    width: 100%;
}

.agenda .schedule {
    border: none;
}