<p>
    You enter the library.
</p>

<hr>

<a class="go" href="/forest/eye-of-the-forest/church/research-office">
    Enter the Research Office
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/church/sanctuary">
    Return to the Sanctuary
</a>