:root {
    --woodColor: rgb(95, 68, 43);
    --darkWoodColor: rgb(70, 50, 32);
    --metalColor: rgb(104, 101, 100);
    --darkMetalColor: rgb(75, 71, 70);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
    --skyColor: rgb(65, 98, 141);
    --laylaPink: rgb(236, 169, 236);
}

.bookshelf {
    width: 100%;
    height: 300px;
    border: 5px solid var(--darkWoodColor);
    background-color: var(--woodColor);
}

.bookshelf hr {
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 5px solid var(--darkWoodColor);
}

.shelf {
    width: 100%;
    height: 33%;
}

#layla {
    border: 1px solid var(--metalColor);
    background-color: var(--laylaPink);
    color: var(--metalColor);
}

#layla:hover {
    border: 1px solid var(--darkMetalColor);
    color: var(--darkMetalColor);
    cursor: pointer;
}

#layla .knob {
    background-color: var(--metalColor);
}