<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wyatt's Minecraft Server</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <main>
        <h1>NotherBase</h1>
        <h2>A Page</h2>
        <h3>Of Example Elements</h3>
        <h4>For Updating Styles</h4>
        <h5>Across All of</h5>
        <h6>NotherBase</h6>

        <section>
            <div class="basic">A placeholder.</div>

<pre class="code">
for (i=0, i<0, i++) {
    break;
}
</pre>

        <p>
            A significant enough amount of words to demonostrate
            wrapping. Stuff like this is real important to 
            quality of life testing you know. Really should be
            filling this element full of words.
        </p>

        <hr>

        <h4>Example List</h4>
        <ul>
            <li>A basic list item.</li>
            <li>A basic list isvtem.</li>
            <li>A basic list item.</li>
            <li>A basic list item.</li>
            <li>A basic list item.</li>
            <li>A basic lifvst item.</li>
            <li>A basic list item.</li>
            <li>A basic list item.</li>
            <li>A basic list item.</li>
            <li>A basic svlist item.</li>
            <li>A basic list item.</li>
            <li>A basic list item.</li>
        </ul>
        </section>

        <section>
            <h4>Yahhhh</h4>
            <input type="text">
            <textarea cols="30" rows="10"></textarea>
            <button>Submit</button>
            <p class="info">Warning! Haha, jk</p>
        </section>

        <section>
            <div class="sign">
                <h4>TEST</h4>
                <p>A significant enough amount of words to demonostrate
                    wrapping. Stuff like this is real important to 
                    quality of life testing you know. Really should be
                    filling this element full of words.</p>
            </div>

            <div class="search">
                <input type="text" placeholder="placeholder">
                <section>
                    <ul class="selector">
                        <li>A basic list item.</li>
                        <li>A basic list isvtem.</li>
                        <li>A basic list item.</li>
                        <li>A basic list item.</li>
                        <li>A basic list item.</li>
                        <li>A basic lifvst item.</li>
                        <li>A basic list item.</li>
                        <li>A basic list item.</li>
                        <li>A basic list item.</li>
                        <li>A basic svlist item.</li>
                        <li>A basic list item.</li>
                        <li>A basic list item.</li>
                    </ul>
                </section>
            </div>

            <img class="painting" src="/img/textures/substance.png">

            <div class="door">
                <div class="knob"></div>
            </div>
        </section>

        <hr>

        <button class="do">
            Go do Something
        </button>

        <hr>

        <a class="go">
            Go Somewhere
        </a>

        <a class="go">
            Go Somewhere
        </a>

        <a class="to">
            To Somewhere
        </a>

        <a class="return">
            Return
        </a>

        <script>
        </script>
    </main>
    <footer>

    </footer>
</body>
</html>
