<p>
    You're in the library.
</p>

<hr>

<div class="dialogue" id="libby">
    <div class="frame">
        <img src="/img/npcs/anon.png" class="portrait">
    </div>
    <div class="heart"></div>
    <div class="content">

    </div>
</div>

<hr>

<a class="go" href="/forest/eye-of-the-forest/library/stories">
    Enter the Story Room
</a>

<a class="go" href="/forest/eye-of-the-forest/library/recipes">
    Enter the Recipe Room
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/library">
    Exit the Library
</a>

<script src="/js/dialogue.js"></script>
<script>
    let libby = new Dialogue("libby", 2000, () => {
        return [
            Dialogue.createTextSlide(1, "Hi.")
        ];
    });
</script>