<!-- Includes the head html for all pois -->
<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/styles-template/example.css">

<!-- Your HTML Here -->
<main>
    <%- include("parts/example.ejs"); %>
</main>

<!-- Includes the foot html for all pages -->
<%- include("../../../../../../global/parts/footer.ejs"); %>