<style>
    <%- include("../../wilderness.css"); %>
</style>

<p>
    Your ankles are very
    sore.
</p>

<hr>

<a href="/desert/wilderness/north">
    Go North
</a>

<a href="/desert/wilderness/east/further">
    Go Less East
</a>

<a href="/desert/wilderness/south">
    Go South
</a>

<a href="/desert/wilderness/west">
    Go West
</a>

<a href="/desert/wilderness/whale-carcass">
    Go to the Whale
</a>