:root {
    --textColor: rgb(247, 247, 247);
    --altTextColor: rgb(20, 20, 20);
    --bgColor: rgb(31, 31, 31);
    --bgColorLight: rgb(79, 79, 79);
    --focusColor: rgb(222, 139, 37);
    --shadowColor: rgb(0, 0, 0);
    --extreme-dark: #2e2e2e;
    --very-dark: #3e3e3e;
    --dark: #505050;
    --light: #F7FFE0;
    --yellow: #D59C00;
    --brown: #704E2E;
    --green: #709176;
    --blue: #00487C;
    --game-size: 500px;
}

* {
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: var(--bgColor);
    width: 100%;
    min-height: 100vh;
    height: auto;
}

main {
    position: initial;
    max-height: initial;
    height: auto;
    max-width: 800px;
    margin-top: 10px;
}

footer {
    position: initial;
    max-height: initial;
    height: auto;
    max-width: 800px;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--bgColor);
}

.portrait {
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    background-image: url("/img/portfolio/fancy-me.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.portrait-fade {
    width: 100%;
    height: 100%;
}

header h2 {
    position: absolute;
    left: 100px;
    top: 35%;
    background-color: var(--bgColor);
    padding: 15px;
    border-radius: 5px;
    width: initial;
}

header h3 {
    position: absolute;
    left: 100px;
    top: calc(35% + var(--h2Size) + 30px);
    background-color: var(--bgColor);
    padding: 15px;
    border-radius: 5px;
    width: initial;
}

.external-links {
    position: absolute;
    left: 100px;
    top: calc(35% + var(--h2Size) + var(--h3Size) + 60px);
    font-size: var(--h5Size);
    background-color: var(--bgColor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: 60px;
}

.external-links i {
    font-size: var(--h5Size);
}

header a {
    margin: 5px;
}

header i:hover {
    cursor: pointer;
    color: var(--focusColor);
}

nav {
    height: 50px;
    width: 100%;
    background-color: var(--focusColor);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .2s ease;
    z-index: 99;
    border-bottom: 1px solid var(--bgColorLight);
}

nav h1 {
    font-size: 20px;
    text-align: left;
    border: none;
}

nav i {
    font-size: 30px;
}

.nav-closed {
    top: -50px;
    transition: all .2s ease;
}

nav .buttons {
    display: flex;
    gap: var(--padding);
}

.text {
    min-width: 30vw;
    min-height: 10vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#notherbase {
    background-color: var(--bgColorLight);
}

#notherbase-examples {
    background-color: var(--dark);
    flex-wrap: wrap;
}

#notherbase-fs {
    background-color: var(--extreme-dark);
    padding: 10px;
    border: 5% solid var(--bgColor);
    border-radius: 0% 0% 50px 50px;
    width: 90%;
    flex-direction: row-reverse;
}

#tamago-watch {
    background-color: var(--focusColor);
}

.chat-box {
    margin: 20px;
}

.browser {
    height: clamp(200px, 40vh, 500px);
}

@media only screen and (max-width: 900px) {
    .portrait {
        width: 100%;
        height: 100vh;
    }

    /* header h2 {
        left: 35px;
        font-size: 30px;
        top: 65%;
    }

    header h3 {
        left: 35px;
        font-size: 25px;
        top: calc(65% + 50px);
    }

    .external-links {
        left: 35px;
        font-size: 30px;
        top: calc(65% + 105px);
        height: 45px;
    } */

    section {
        flex-wrap: wrap;
        padding: 40px 10px;
    }

    .text, section img, section iframe {
        width: 100%;
        padding: 5px;
    }

    main {
        width: 100%;
    }
}