<link rel="stylesheet" href="/styles/billboard.css">
<style>
    <%- include("./fridge.css") %>
</style>

<h4>Pantry</h4>
<div class="billboard" id="pantry"></div>

<h4>Fridge</h4>
<div class="fridge">
    <h4>Freezer</h4>
    <div class="billboard" id="freezer"></div>
    <hr>
    <h4>Meats</h4>
    <div class="billboard" id="meats"></div>
    <hr>
    <h4>Veggies</h4>
    <div class="billboard" id="veggies"></div>
    <hr>
    <h4>Drinks</h4>
    <div class="billboard" id="drinks"></div>
    <hr>
    <h4>Snacks</h4>
    <div class="billboard" id="snacks"></div>
    <hr>
    <h4>Other</h4>
    <div class="billboard" id="other"></div>
</div>

<hr>

<a href="/forest/eye/inn/bar">
    Return to the Bar
</a>

<script src="/js/billboard.js"></script>
<script>
    const pantry = new Billboard("pantry", null, {
        onSave: "save-pantry"
    });

    const freezer = new Billboard("freezer", null, {
        onSave: "save-freezer"
    });
    const meats = new Billboard("meats", null, {
        onSave: "save-meats"
    });
    const veggies = new Billboard("veggies", null, {
        onSave: "save-veggies"
    });
    const drinks = new Billboard("drinks", null, {
        onSave: "save-drinks"
    });
    const snacks = new Billboard("snacks", null, {
        onSave: "save-snacks"
    });
    const other = new Billboard("other", null, {
        onSave: "save-other"
    });

    base.load("pantry").then((res) => {
        pantry.load(res);
    });

    base.load("fridge-freezer").then((res) => {
        freezer.load(res);
    });
    base.load("fridge-meats").then((res) => {
        meats.load(res);
    });
    base.load("fridge-veggies").then((res) => {
        veggies.load(res);
    });
    base.load("fridge-drinks").then((res) => {
        drinks.load(res);
    });
    base.load("fridge-snacks").then((res) => {
        snacks.load(res);
    });
    base.load("fridge-other").then((res) => {
        other.load(res);
    });
</script>