<style>
    <%- include("../wilderness.css"); %>
</style>

<p>
    The way east is a downward slope.
    You try your best to keep your balance,
    and- actually you're doing quite well.
</p>

<hr>

<a href="/desert/wilderness/north">
    Go North
</a>

<a href="/desert/wilderness/east/further">
    Go Further East
</a>

<a href="/desert/wilderness/south">
    Go South
</a>

<a href="/desert/wilderness/west">
    Go West
</a>

<a href="/desert/wilderness/whale-carcass">
    Go to the Whale
</a>