<p>
    The way east is a downward slope.
    You try your best to keep your balance,
    and- actually you're doing quite well.
</p>

<p>
    Still, your ankles are starting to get
    sore.
</p>

<hr>

<a href="/desert/wilderness/north">
    Go North
</a>

<a href="/desert/wilderness/east">
    Go East
</a>

<a href="/desert/wilderness/south">
    Go South
</a>

<a href="/desert/wilderness/west">
    Go West
</a>