<p>
    You walk along the length of the fence for a few minutes.
    No other entrance is in sight.
</p>

<hr>

<% if (!query.steps) query.steps = 0 %>
<button class="to gate" href="">
    Walk Further from the Gate
</button>

<a class="return" href="/the-front/gate">
    Return to the Gate
</a>