<p>
    A small shack, just large enough for a door,
    a window and a person. At this time, it is empty.
</p>

<hr>

<div class="shack">
    <div class="counter">
        <div class="clipboard on-counter for-login">
            <button class="close">X</button>
            <div class="application">
                <div action="/user/login" method="POST" class="auth-form" id="login-form">
                    <h1>NotherBase</h1>
                    <h3>Login to Your Account</h3>
                    <input type="text" name="username" placeholder="username" id="login-user">
                    <input type="password" name="password" placeholder="password" id="login-pass">
                    <button id="login-button">Login</button>
                    <p id="login-info"></p>
                </div>
            </div>
            <div ></div>
            <div class="clamp"></div>
            <div class="scribbles" id="login-scribbles">Login<br><br>If you can read this you're a nerd.</div>
        </div>

        <div class="clipboard on-counter for-register">
            <button class="close">X</button>
            <div class="application">
                <div action="/user/register" method="POST" class="auth-form" id="register-form">
                    <h1>NotherBase</h1>
                    <h3>Register a New Account</h3>
                    <input type="text" name="username" placeholder="username" id="register-user">
                    <input type="password" name="password" placeholder="password" id="register-pass">
                    <button id="register-button">Register</button>
                    <p id="register-info"></p>
                </div>
            </div>
            <div class="clamp"></div>
            <div class="scribbles" id="register-scribbles">Register<br><br>If you can read this you're a nerd.</div>
        </div>
    </div>
</div>

<hr>

<a class="to gate" href="/the-front/gate">
    Go to the Fence Gate
</a>

<a class="return" href="/the-front">
    Back Away
</a>

<script>
    let $clipboard = $(".clipboard");
    let $loginButton = $("#login-button");
    let $loginInfo = $("#login-info");
    let $registerButton = $("#register-button");
    let $registerInfo = $("#register-info");

    //pick up a clipboard
    $clipboard.on("click", function clickClipboard(e) {
        let $currentClipboard = $(e.currentTarget);

        if ($currentClipboard.hasClass("on-counter")) {
            $clipboard.addClass("on-counter");
            $clipboard.find(".scribbles").removeClass("invisible");
            $currentClipboard.removeClass("on-counter");
            $currentClipboard.find(".scribbles").addClass("invisible");
        }
    });

    //put down a clipboard
    $(".close").on("click", function clickClose(e) {
        e.stopPropagation();
        let $currentClipboard = $(e.currentTarget).parent();

        if (!$currentClipboard.hasClass("on-counter")) {
            $currentClipboard.addClass("on-counter");
            $currentClipboard.find(".scribbles").removeClass("invisible");
        }
    });

    //try to login
    $loginButton.on("click", async function () {
        try {
            await $.post("/user/login", {
                username: $("#login-user").val(),
                password: $("#login-pass").val()
            }, (data) => {
                $loginInfo.text("To your right you hear the sound of a bang against a chain-link fence. You've logged in.");
            });
        } catch (error) {
            //console.log(error);
            if (error.status === 401) {
                $loginInfo.text("Login Error: Username or password incorrect!");
            }
            else if (error.status === 500) {
                $loginInfo.text("Server Error: Try again later!");
            }
        }
    });

    //try to register an account
    $registerButton.on("click", async function () {
        try {
            await $.post("/user/register", {
                username: $("#register-user").val(),
                password: $("#register-pass").val()
            }, (data) => {
                $registerInfo.text("You hear a nod from deep within the shack. Your new account has been registered.");
            });
        } catch (error) {
            //console.log(error);
            if (error.status === 400) {
                $registerInfo.text("Registration Error: Username taken!");
            }
            else if (error.status === 500) {
                $registerInfo.text("Server Error: Try again later!");
            }
        }
    });
</script>