<div class="toy-box">
    <div class="toy">
        <img class="cat-idle" src="/img/cat.png">
        <div class="pocket"></div>
    </div>
</div>

<script>
    $(".pocket").on("click", function() {
        $(".pocket").toggleClass("pocket-down");
    });
</script>