<p>
    You enter a ghost town. This is the public square,
    or at least that's what it seemed to be at one point.
</p>

<p>
    There is an inn along one side of the square. It had
    two stories at one point, but now you only see the one
    and a half stories that the fire failed to consume.
</p>

<p>
    You see the color of bricks on the other side. There's
    probably nothing there.
</p>

<p>
    A rocky road leads out of the town opposite you. It
    points to a tower off in the distance.
</p>

<hr>

<div class="sign">
    <h3>The Eye of the Forest</h3>
    
    <h4>Population: !-0</h4>
    
    <h4>Amenities:</h4>
    <ul>
        <li>Inn</li>
        <li>Smith</li>
        <li>Market</li>
        <li>Off',</li>
    </ul>
</div>

<div class="mini-library">
    <div class="stock" id="player">
        <h5>Books in your Inventory</h5>

        <ul>
            <li>Example Book</li>
        </ul>
    </div>
    
    <hr class="plank">
    <button>Transfer</button>

    <div class="stock" id="server">
        <h5>Books in the Mini-Library</h5>

        <ul>
            <li>Example Book</li>
        </ul>
    </div>
</div>

<hr>

<a class="to inn" href="/forest/eye-of-the-forest/inn">
    Approach the Inn
</a>

<a class="to church" href="/forest/eye-of-the-forest/church">
    Approach the Church
</a>

<a class="to pile" href="/forest/eye-of-the-forest/square/clothing-stall">
    Approach Pile of Debris
</a>

<a class="to bricks" href="/forest/eye-of-the-forest/smith">
    Approach the Bricks
</a>

<a class="to road" href="/forest/road/side">
    Head Down the Road
</a>

<a class="return" href="/the-front">
    Exit NotherBase
</a>