.sign {
    background-color: rgb(71, 55, 40);
    padding: 30px;
    border: 3px outset rgb(133, 98, 57);
    border-radius: 5% 7% 10% 8%;
}

.sign * {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(133, 98, 57);
    font-size: 30px;
}