<style>
    <%- include("./bar.css"); %>
</style>

<div class="basic">
    Shelves of drinks and other bar stuff.
</div>

<div class="dialogue" id="bartender"></div>

<div class="bar"></div>

<hr>

<a class="to" href="/forest/eye/inn/kitchen">
    Head into the Kitchen
</a>

<hr>

<a class="return" href="/forest/eye/inn/lobby">
    Back away from the Bar
</a>

<script src="/js/dialogue.js"></script>
<script>
    let bartenderTree = function () {
        return [
            Dialogue.textSlide("Howdy."),
            Dialogue.textSlide("Hope you didn't come in here for a drink. Out of stock currently."),
            Dialogue.textSlide("That being said, dishes still need to be cleaned. Head in the back if you're looking for work.")
        ];
    };
    let bartenderDialogue = new Dialogue("bartender", 2500, bartenderTree);
</script>