.day.small h4, .month.small h4 {
    font-size: var(--pSize);
    min-height: var(--h4Size);
    margin: 0;
    width: 100%;
}

.schedule {
    border: none;
}

.year>.month {
    border-radius: 3px;
    position: relative;
}

.month.small {
    width: 50%;
}

.month .grid {
    width: 100%;
    height: auto;
    background: var(--darkBgColor);
    display: flex;
    flex-wrap: wrap;
}

.month .calendummy {
    width: calc(100% / 7);
    height: 80px;
    background: none;
    border-bottom: 1px dashed rgba(255, 255, 186, 0.12);
    border-right: 1px dashed rgba(255, 255, 186, 0.12);
}

.month .calenday {
    width: calc(100% / 7);
    height: 80px;
    background: var(--bgColor);
    border-bottom: 1px dashed rgba(255, 255, 186, 0.12);
    border-right: 1px dashed rgba(255, 255, 186, 0.12);
    padding: 2px;
    overflow: hidden;
}

.month .calenday p {
    font-size: 10px;
    padding: 0;
}

.month .calenday.current {
    background: var(--hoverColor);
    border: var(--standardBorder);
}

.month .ui {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.month .ui #toggler {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.legend {
    width: 100%;
    height: 30px;
    display: flex;
}

.legend p {
    width: calc(100% / 7);
    height: 30px;
    text-align: center;
}