.day.small h4, .month.small h4 {
    font-size: var(--pSize);
    min-height: var(--h4Size);
    margin: 0;
    width: 100%;
}

.schedule {
    border: none;
}

.month {
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 400px;
}

.month h4 {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.month.small {
    width: 100%;
    min-height: 100px;
}

.floating .month.small {
    height: 100%;
}

.month .grid {
    width: 100%;
    height: calc(100% - 70px);
    background: var(--darkBgColor);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.floating .month {
    height: 100%;
}

.month .calendummy {
    width: calc(100% / 7);
    height: calc(100% / 6);
    background: none;
    border-bottom: 1px dashed rgba(255, 255, 186, 0.12);
    border-right: 1px dashed rgba(255, 255, 186, 0.12);
}

.month .calenday {
    width: calc(100% / 7);
    height: calc(100% / 6);
    background: var(--bgColor);
    border-bottom: 1px dashed rgba(255, 255, 186, 0.12);
    border-right: 1px dashed rgba(255, 255, 186, 0.12);
    padding: 2px;
    overflow: hidden;
}

.month .calenday p {
    font-size: 10px;
    padding: 0;
}

.month .calenday.current {
    background: var(--hoverColor);
    border: var(--standardBorder);
}

.month .ui {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.month .ui #toggler {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.legend {
    width: 100%;
    height: 30px;
    display: flex;
}

.legend p {
    width: calc(100% / 7);
    height: 30px;
    text-align: center;
}