<style>
    <%- include("./index.css"); %>
    <%- include("./calendar.css"); %>
</style>

<article class="calendar" id="layla"></article>
    
<article class="toy-box">
    <div class="toy">
        <img class="cat-idle" src="/img/misc/cat.png">
        <div class="pocket"></div>
    </div>

    <div class="toy background-changer">
        <img src="/img/the-front/logo.png">
    </div>

    <div class="toy">
        <img class="rotato" src="/img/the-front/logo.png">
    </div>

    <div class="toy beautiful-button">
        <div class="beautiful-background"></div>
        <img class="beautiful-border" src="/img/the-front/logo-border.png">
        <img class="beautiful-icon" src="/img/the-front/logo.png">
    </div>
</article>

<hr>

<a class="return" href="/forest/eye/filter/living-room">
    Exit Layla's Room
</a>

<script src="/js/util/weather.js"></script>
<script>
    const weather = new WeatherSystem();

    //layla widgets
    let lSkills, lToDo, lRecipes = null;

    <%- include("./calendar.js"); %>
    const laylaCalendar = new Calendar("layla");

    $(".pocket").on("click", function() { $(".pocket").toggleClass("pocket-down"); });
    $(".background-changer").hover(function() { $(".background-changer").toggleClass("red-bg"); });
    $(".beautiful-button").hover(function() { $(".beautiful-background").toggleClass("red-bg"); });
    $(".beautiful-button").on("mousedown", function() { $(".beautiful-icon").addClass("beautiful-icon-pressed"); });
    $(".beautiful-button").on("mouseup", function() { $(".beautiful-icon").removeClass("beautiful-icon-pressed"); });
</script>