<style>
    <%- include("../styles/smith.css"); %>
</style>

<p>
    An old brick building stands before you. 
    A forge is built into its side.
</p>

<hr>

<a href="/forest/eye-of-the-forest/smith/lobby" class="to">
    Enter through the Front Doors
</a>

<a href="/forest/eye-of-the-forest/smith/forge" class="to">
    Go to the Forge
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/square">
    Return to the Square
</a>