<link rel="stylesheet" href="/styles/pond.css">
<style>
    <%- include("../styles/the-front.css"); %>
    <%- include("../styles/borders.css"); %>
    <%- include("../styles/around.css"); %>
</style>

<p>
    You walk along the length of the fence for a few minutes.
    No other entrance is in sight.
</p>

<hr>

<div class="fence">
    <div class="right">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="left">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="grass"></div>
</div>

<hr class="path">

<div class="grass">
    <div class="pond">
    </div>
</div>

<div class="chat-box" id="the-front-park-bench"></div>

<hr>

<a class="return" href="/the-front/gate">
    Return to the Gate
</a>

<script src="/js/chat-box.js"></script>
<script src="/js/pond.js"></script>
<script>
    <% if (user) { %>
        let chat = new ChatBox("<%= user.username %>", "the-front-park-bench");
    <% } else { %>
        let chat = new ChatBox("An Unknown Person", "the-front-park-bench");
    <% } %>

    let pond = new Pond(5);
</script>