<%- include("../../../../../../global/parts/head.ejs"); %>

<link rel="stylesheet" href="/styles/chat.css">
<link rel="stylesheet" href="/styles/town.css">

<main>
    <h1>Clothing Stall</h1>

    <a href="./">Back to Market</a>
    <a href="/forest/clearing/wyatts-house">Path to Forest Clearing</a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>