<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        You enter a ghost town. This is the public square,
        or at least that's what it seemed to be at one point.
    </p>
    <p>
        There is an inn along one side of the square. It had
        two stories at one point, but now you only see the one
        and a half stories that the fire failed to consume.
    </p>
    <p>
        You see the color of bricks on the other side. There's
        probably nothing there.
    </p>
    <p>
        A rocky road leads out of the town opposite you. It
        points to a tower off in the distance.
    </p>
    <hr>
    <a href="/forest/eye-of-the-forest/inn">
        Approach the Inn
    </a>
    <a href="/forest/eye-of-the-forest/square/clothing-stall">
        Approach Pile of Debris
    </a>
    <a href="/forest/eye-of-the-forest/smith">
        Approach the Bricks
    </a>
    <a href="/forest/road/side">
        Head Down the Road
    </a>
    <a href="/forest/the-front/fence">
        Exit NotherBase
    </a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>