<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/chat.css">
<link rel="stylesheet" href="/styles/town.css">

<!-- Your HTML Here -->
<main class="town-square">
    <h1>Town Square</h1>

    <div class="market">
        <h2>Market</h2>
    
        <a href="/forest/eye-of-the-forest/square/clothing-stall">Clothing Stall</a>
    </div>

    <%- include("../../../../../chat/chat-box.ejs"); %>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>