<%- include("../../../../../../global/parts/head.ejs"); %>

<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/clothing-stall.css">

<main>
    <p>
        You see an old well.
    </p>

    <hr>

    <a href="/forest/eye-of-the-forest/square">
        Back to Square
    </a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>