:root {

}

.yard {
    width: 100%;
    height: 25vh;
    overflow: hidden;
    border: 2px solid rgb(37, 19, 4);
}

.sky {
    background-color: rgb(87, 87, 170);
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.sun {
    background-color: rgb(189, 129, 19);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    right: 10px;
    z-index: 3;
}

.ray {
    background-color: rgb(189, 129, 19);
    background-image: linear-gradient(to bottom, rgb(184, 80, 32) , rgb(189, 129, 19));
    width: 80px;
    height: 600px;
    position: absolute;
    z-index: 2;
    right: 225px;
    bottom: -35px;
}

.ray:nth-of-type(1) {
    transform: rotate(15deg);
    right: -75px;
    bottom: -25px;
}

.ray:nth-of-type(2) {
    transform: rotate(-5deg);
    right: 60px;
}

.ray:nth-of-type(3) {
    transform: rotate(-35deg);
}

.ray:nth-of-type(4) {
    transform: rotate(-65deg);
    right: 300px;
    bottom: -175px;
}

.ray:nth-of-type(5) {
    transform: rotate(-85deg);
    right: 300px;
    bottom: -285px;
}

.ground {
    background-color: rgb(83, 57, 73);
    width: 100%;
    height: 30%;
    position: relative;
    z-index: 5;
}

.entity {
    box-shadow: 0 300px rgba(23, 8, 27, 0.658) inset;
}