<style>
    <%- include("./backyard.css"); %>
</style>

<div class="yard">
    <div class="sky">
        <h4>The Yard</h4>
        
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="sun"></div>
    </div>

    <div class="ground">
        <div class="tree">
            <div class="leaves"></div>
            <div class="trunk"></div>
        </div>
        <div class="weed">
            <div class="leaf"></div>
            <div class="leaf"></div>
            <div class="leaf"></div>
        </div>
    </div>
</div>

<section class="porch">
    <div class="basic mailbox">
        A mailbox with the name "Sushinsky" on it.
    </div>
</section>

<hr>

<a class="go" href="/forest/eye/filter/living-room">
    Enter Wyatt's House
</a>

<a class="go" href="/forest/eye/filter/tree-house">
    Climb up the nearby Tree House
</a>

<hr>

<a class="to" href="/forest/eye/filter/cave">
    Go to Cave
</a>

<a class="to" href="/forest/eye/filter/tower">
    Go to the Tower
</a>

<a class="to" href="/forest/eye/town-hall">
    Go to the Town Hall
</a>

<hr>

<a class="return" href="/forest/eye/library">
    Return to the Library
</a>

<a class="return" href="/forest/eye/church">
    Return to the Church
</a>

<script src="/js/util/weather.js"></script>
<script>
    const weather = new WeatherSystem();

    //yard
    <%- include("./harvest.js"); %>
    let harvestGame = new HarvestGame();
</script>