<p>
    You see an old church building.
</p>

<hr>

<a class="to" href="/forest/eye-of-the-forest/church/sanctuary">
    Enter the Church
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/square">
    Back to Square
</a>