<p>
    You see an old church building.
</p>

<hr>

<div class="exit">
    <a class="go" href="/forest/eye-of-the-forest/church/sanctuary">
        Enter the Church
    </a>
    
    <a class="go" href="/forest/eye-of-the-forest/church/cemetery">
        Go around to the Cemetery
    </a>
    
    <hr>
    
    <a class="return" href="/forest/eye-of-the-forest/road">
        Return to the Road
    </a>
</div>
