<style>
    <%- include("../styles/bible-research.css"); %>
</style>

<p>
    You enter the office.
</p>

<hr>

<div class="bible-research">
    <div class="text">
        <h3>Bible:</h3>
    </div>
    <div class="notes">
        <h3>Notes:</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="characters">
        <h3>Characters:</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="locations">
        <h3>Locations:</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</div>

<hr>

<a class="return" href="/forest/eye-of-the-forest/church/library">
    Return to the Library
</a>