<style>
    <%- include("../styles/bible-research.css"); %>
</style>

<p>
    You enter the office.
</p>

<hr>

<div class="bible-research">
    <div class="category text">
        <h3>Bible:</h3>
    </div>
    <div class="category notes">
        <h3>Notes:</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="category themes">
        <h3>Themes:</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="category characters">
        <h3>Characters:</h3>
        <ul>
            <li>David</li>
        </ul>
        <div class="info">
            <p>Function: King</p>
            <p>Child Of: Jesse</p>
            <p>Line Of: Abraham</p>
            <p>Children:</p>
            <ul>Example Child</ul>
            <p>Residence: Judah</p>
            <p>Notes:</p>
            <textarea id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="category locations">
        <h3>Locations:</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="category genealogy">
        <h3>Jesus Genealogy:</h3>
        <ul>
            <li>Adam</li>
            <li>Abraham</li>
            <li>David</li>
            <li>Jesus</li>
        </ul>
    </div>
</div>

<hr>

<a class="return" href="/forest/eye-of-the-forest/church/library">
    Return to the Library
</a>

<script src="http://cdn.scripture.api.bible/fums/fumsv2.min.js"></script>
<script>
    $.ajaxSetup({
        beforeSend: function(xhr) {
            xhr.setRequestHeader('api-key', 'abf5f92e2607bf5b27a61fd995b44671');
        }
    });

    $.get(`https://api.scripture.api.bible/v1/bibles/9879dbb7cfe39e4d-01/books`, function (data) {
        console.log(data);
    });
</script>