<p>
    You enter the church and see pew after pew.
</p>

<hr>

<a class="to" href="/forest/eye-of-the-forest/church/visitor-center">
    Enter the Visitor Center
</a>

<a class="to" href="/forest/eye-of-the-forest/church/library">
    Enter the Library
</a>

<hr>

<a class="return" href="/forest/eye-of-the-forest/church">
    Exit the Church
</a>